<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th width="30%"><%= t("report.subsidiary_daily_workloading.table.date") -%></th>
      <th width="12%"><%= t("report.subsidiary_daily_workloading.table.date_need") -%></th>
      <th width="12%"><%= t("report.subsidiary_daily_workloading.table.date_real") -%></th>
      <th width="12%"><%= t("report.subsidiary_daily_workloading.table.fill_rate") -%></th>
    </tr>
  </thead>
  <tbody>
    <% @data.each do |d| %>
      <tr>
        <td><%= d.date.to_date -%></td>
        <td><%= d.date_need -%></td>
        <td><%= d.date_real -%></td>
        <td><%= (d&.fill_rate&.to_f * 100).round(1) -%>%</td>
      </tr>
    <% end %>
  </tbody>
</table>
