<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"><%= @company_name -%> <%= Array(@department_name).to_sentence -%></h5>
      <p><%= @drill_down_subtitle -%></p>
    </div>
    <div class="modal-body">
      <%= render partial: "#{params[:action]}_table" %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('.close') -%></button>
    </div>
  </div>
</div
