<div class="row">
  <div class="col-lg-12"
    data-controller="contract-geographical-analysis"
    data-action="resize@window->contract-geographical-analysis#layout"
    data-contract-geographical-analysis-year_names="<%= @year_names.reverse.to_json -%>"
    data-contract-geographical-analysis-first_level_sum="<%= @years_sum_一线.to_json -%>"
    data-contract-geographical-analysis-second_level_sum="<%= @years_sum_二线.to_json -%>"
    data-contract-geographical-analysis-thirdfourth_level_sum="<%= @years_sum_非一二线.to_json -%>"

    data-contract-geographical-analysis-south_west_china_years="<%= @西南区域_sum_years.to_json -%>"
    data-contract-geographical-analysis-east_china_years="<%= @华东区域_sum_years.to_json -%>"
    data-contract-geographical-analysis-south_china_years="<%= @华南区域_sum_years.to_json -%>"
    data-contract-geographical-analysis-centre_china_years="<%= @华中区域_sum_years.to_json -%>"
    data-contract-geographical-analysis-north_east_china_years="<%= @东北区域_sum_years.to_json -%>"
    data-contract-geographical-analysis-north_china_years="<%= @华北区域_sum_years.to_json -%>"
    data-contract-geographical-analysis-north_west_china_years="<%= @西北区域_sum_years.to_json -%>"

    data-contract-geographical-analysis-province_sum="<%= @years_sum_省市.to_json -%>">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <%= form_tag report_contracts_geographical_analysis_path, method: :get, class: 'form-inline' do -%>
      <div class="form-group">
        <label class="mr-1"><%= t(".year_names") -%>：</label>
        <%= select_tag 'year_names', options_for_select(@all_year_names, @year_names), { multiple: true, class: 'form-control' } %>
      </div>
      <div class="form-group mr-3">
        <label class="mr-1"><%= t(".org_names") -%>：</label>
        <%= select_tag 'orgs', options_for_select(@organization_options, @orgs_options), { include_blank: true, multiple: true, class: 'form-control' } %>
      </div>
      <div><%= submit_tag t(".confirm"), class: 'btn btn-primary' %></div>
    <% end -%>
    <div class="row">
      <div class="col-sm-12 col-xl-7">
        <div class="row">
          <div class="col-sm-12">
            <div id="contract-geographical-analysis-year-citylevel-stack-chart" style="width: 100%;height: 350px;">
            </div>
          </div>
          <div class="col-sm-12">
            <div id="contract-geographical-analysis-area-bar-chart" style="width: 100%;height: 300px;">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-xl-5">
        <div id="contract-geographical-analysis-china-chart" style="width: 100%;height: 500px;">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <p>说明：</p>
    <p>1）一线城市指：北京、上海、广州、深圳；二线城市指除一线城市以外的直辖市、省会及经济发达地区的区域性中心城市</p>
    <p>2）1⃣️ 西南区域包括重庆、四川、贵州、云南、西藏；2⃣️ 华东区域包括上海、江苏、浙江、山东、安徽；3⃣️ 华南区域包括广东、福建、海南、广西；4⃣️ 华中区域包括湖北、湖南、江西、河南；5⃣️ 东北区域包括辽宁、吉林、黑龙江；6⃣️ 华北区域包括北京、天津、河北、山西、内蒙古；7⃣️ 西北区域包括陕西、青海、甘肃、宁夏、新疆</p>
  </div>
</div>
