<div class="row">
  <div class="col-lg-12"
    data-controller="contract-geographical-analysis"
    data-action="resize@window->contract-geographical-analysis#layout"
    data-contract-geographical-analysis-year_names="<%= @year_names.to_json -%>"
    data-contract-geographical-analysis-first_level_sum="<%= @years_sum_一线.to_json -%>"
    data-contract-geographical-analysis-second_level_sum="<%= @years_sum_二线.to_json -%>"
    data-contract-geographical-analysis-thirdfourth_level_sum="<%= @years_sum_非一二线.to_json -%>"

    data-contract-geographical-analysis-south_west_china_years="<%= @西南区域_sum_years.to_json -%>"
    data-contract-geographical-analysis-east_china_years="<%= @华东区域_sum_years.to_json -%>"
    data-contract-geographical-analysis-south_china_years="<%= @华南区域_sum_years.to_json -%>"
    data-contract-geographical-analysis-centre_china_years="<%= @华中区域_sum_years.to_json -%>"
    data-contract-geographical-analysis-north_east_china_years="<%= @东北区域_sum_years.to_json -%>"
    data-contract-geographical-analysis-north_china_years="<%= @华北区域_sum_years.to_json -%>"
    data-contract-geographical-analysis-north_west_china_years="<%= @西北区域_sum_years.to_json -%>"

    data-contract-geographical-analysis-province_sum="<%= @years_sum_省市.to_json -%>">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <%= form_tag report_contracts_geographical_analysis_path, method: :get, class: 'form-inline' do -%>
      <div class="form-group">
        <label class="mr-1"><%= t(".year_names") -%>：</label>
        <%= select_tag 'year_names', options_for_select(@all_year_names, @year_names), { multiple: true, class: 'form-control' } %>
      </div>
      <div class="form-group mr-3">
        <label class="mr-1"><%= t(".org_names") -%>：</label>
        <%= select_tag 'orgs', options_for_select(@organization_options, @orgs_options), { include_blank: true, multiple: true, class: 'form-control' } %>
      </div>
      <div><%= submit_tag t(".confirm"), class: 'btn btn-primary' %></div>
    <% end -%>
    <div class="row">
      <div class="col-sm-12 col-xl-7">
        <div class="row">
          <div class="col-sm-12">
            <div id="contract-geographical-analysis-year-citylevel-stack-chart" style="width: 100%;height: 350px;">
            </div>
          </div>
          <div class="col-sm-12">
            <div id="contract-geographical-analysis-area-bar-chart" style="width: 100%;height: 300px;">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-xl-5">
        <div id="contract-geographical-analysis-china-chart" style="width: 100%;height: 500px;">
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-12">
        <div id="contract-geographical-analysis-year-area-stack-chart" style="width: 100%;height: 350px;">
        </div>
      </div>
    </div>
  </div>
</div>
