<div class="row">
  <div class="col-12">
    <h3 class="page-title">
      <%= t(".title1") %>
    </h3>
    <div class="row">
      <div class="col-12" data-controller="customer-receivable-account-uppart"
        data-customer-receivable-account-uppart-page-length-value="<%= my_per_page -%>">
          <%= form_tag report_customer_receivable_accounts_path, method: :get, class: 'form-inline' do -%>
            <div class="form-group mr-1">
              <label class="mr-1"><%= t(".org_code") -%>：</label>
              <%= select_tag 'orgs', options_for_select(@all_org_options, @org_codes), include_blank: true, multiple: true, class: 'form-control' %>
            </div>
            <div class="form-group mr-1">
              <label class="mr-1"><%= t(".client_name") -%>：</label>
              <%= text_field_tag 'client_name', @client_name, class: 'form-control' %>
            </div>
            <div><%= submit_tag t(".confirm"), class: 'btn btn-thape-color' %></div>
          <% end -%>
        <table id="customer-receivable-account-uppart-datatable"
          class="table table-hover table-bordered table-responsive mt-3"
          data-source="<%= report_customer_receivable_accounts_path(orgs: @org_codes, client_name: @client_name, format: :json) -%>">
          <thead>
            <tr>
              <th rowspan="2"><%= t('.table1.crmthrank') -%></th>
              <th rowspan="2"><%= t('.table1.crmshort') -%></th>
              <th rowspan="2"><%= t('.table1.cricrank') -%></th>
              <th rowspan="2"><%= t('.table1.clientproperty') -%></th>
              <th colspan="2">应收款情况</th>
              <th colspan="4">累计已签约项目应收款</th>
              <th colspan="2">累计未签约项目应收款</th>
              <th colspan="4">累计已签约财务应收款</th>
            </tr>
            <tr>
              <th><%= t('.table1.sum_receive') -%></th>
              <th><%= t('.table1.sum_receive_gt1_years') -%></th>
              <th><%= t('.table1.aging_amount_lt3_months') -%></th>
              <th><%= t('.table1.aging_amount_4to12_months') -%></th>
              <th><%= t('.table1.aging_amount_gt1_years') -%></th>
              <th><%= t('.table1.sign_receive') -%></th>
              <th><%= t('.table1.unsign_receive_gt1_years') -%></th>
              <th><%= t('.table1.unsign_receive') -%></th>
              <th><%= t('.table1.acc_receive_lt3_months') -%></th>
              <th><%= t('.table1.acc_receive_4to12_months') -%></th>
              <th><%= t('.table1.acc_receive_gt1_years') -%></th>
              <th><%= t('.table1.acc_receive') -%></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr />
  <div class="col-12">
    <h3 class="page-title">
      <%= t(".title2") %>
    </h3>
    <div class="row">
      <div class="col-12" data-controller="customer-receivable-account-downpart"
        data-customer-receivable-account-downpart-page-length-value="<%= my_per_page -%>">
        <table id="customer-receivable-account-downpart-datatable"
          class="table table-hover table-bordered table-responsive mt-3"
          data-source="<%= downpart_report_customer_receivable_accounts_path(orgs: @org_codes, client_name: @client_name, format: :json) -%>">
          <thead>
            <tr>
              <th><%= t('.table2.crmthrank') -%></th>
              <th><%= t('.table2.crmshort') -%></th>
              <th><%= t('.table2.col1') -%></th>
              <th><%= t('.table2.col2') -%></th>
              <th><%= t('.table2.col3') -%></th>
              <th><%= t('.table2.col4') -%></th>
              <th><%= t('.table2.col5') -%></th>
              <th><%= t('.table2.col6') -%></th>
              <th><%= t('.table2.col7') -%></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
