<div class="row">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <div class="row">
      <div class="col-lg-12" data-controller="customer-receivable-account"
        data-customer-receivable-account-page-length-value="<%= my_per_page -%>">
          <%= form_tag report_customer_receivable_accounts_path, method: :get, class: 'form-inline' do -%>
            <div class="form-group mr-1">
              <label class="mr-1"><%= t(".org_code") -%>：</label>
              <%= select_tag 'orgs', options_for_select(@all_org_options, @org_codes), include_blank: true, multiple: true, class: 'form-control' %>
            </div>
            <div class="form-group mr-1">
              <label class="mr-1"><%= t(".client_name") -%>：</label>
              <%= text_field_tag 'client_name', @client_name, class: 'form-control' %>
            </div>
            <div><%= submit_tag t(".confirm"), class: 'btn btn-thape-color' %></div>
          <% end -%>
        <table id="customer-receivable-account-datatable"
          class="table table-hover table-bordered table-responsive mt-3"
          data-source="<%= report_customer_receivable_accounts_path(orgs: @org_codes, client_name: @client_name, format: :json) -%>">
          <thead>
            <tr>
              <th rowspan="2"><%= t('.table.crmthrank') -%></th>
              <th rowspan="2"><%= t('.table.crmshort') -%></th>
              <th rowspan="2"><%= t('.table.cricrank') -%></th>
              <th rowspan="2"><%= t('.table.clientproperty') -%></th>
              <th colspan="2">应收款情况</th>
              <th colspan="4">累计已签约项目应收款</th>
              <th colspan="2">累计未签约项目应收款</th>
              <th colspan="4">累计已签约财务应收款</th>
            </tr>
            <tr>
              <th><%= t('.table.sum_receive') -%></th>
              <th><%= t('.table.sum_receive_gt1_years') -%></th>
              <th><%= t('.table.aging_amount_lt3_months') -%></th>
              <th><%= t('.table.aging_amount_4to12_months') -%></th>
              <th><%= t('.table.aging_amount_gt1_years') -%></th>
              <th><%= t('.table.sign_receive') -%></th>
              <th><%= t('.table.unsign_receive_gt1_years') -%></th>
              <th><%= t('.table.unsign_receive') -%></th>
              <th><%= t('.table.acc_receive_lt3_months') -%></th>
              <th><%= t('.table.acc_receive_4to12_months') -%></th>
              <th><%= t('.table.acc_receive_gt1_years') -%></th>
              <th><%= t('.table.acc_receive') -%></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
