<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <% if @view_deptcode_sum %>
        <th width="10%"><%= t("report.contract_holds.show.table.dept_name") -%></th>
      <% end %>
      <th width="20%"><%= t("report.contract_holds.show.table.projectitemcode_name") -%></th>
      <th width="26%"><%= t("report.contract_holds.show.table.contractcode_name") -%></th>
      <th width="10%"><%= t("report.contract_holds.show.table.profession") -%></th>
      <th width="10%"><%= t("report.contract_holds.show.table.output") -%></th>
      <th width="12%"><%= t("report.contract_holds.show.table.milestone") -%></th>
      <th width="12%"><%= t("report.contract_holds.show.table.sign_hold_value") -%></th>
    </tr>
  </thead>
  <tbody>
    <% rows.each do |r| %>
      <tr>
        <% if @view_deptcode_sum %>
        <% long_name = Bi::PkCodeName.mapping2deptcode.fetch(r.deptcode, r.deptcode)
           short_name = Bi::OrgShortName.company_short_names.fetch(long_name, long_name) %>
          <td><%= short_name -%></td>
        <% end %>
        <td><%= r.projectitemcode -%><br /><%= r.projectitemname -%></td>
        <td><%= r.contractcode -%><br /><%= r.contractname -%></td>
        <td><%= r.profession -%></td>
        <td><%= r.output.round(0) -%></td>
        <td><%= (r.milestone * 100).round(0) -%>%</td>
        <td><%= r.sign_hold_value.round(0) -%></td>
      </tr>
    <% end %>
  </tbody>
</table>
