<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th width="20%"><%= t("report.contract_holds.show.table.projectitemcode_name") -%></th>
      <th width="30%"><%= t("report.contract_holds.show.table.contractcode_name") -%></th>
      <th width="10%"><%= t("report.contract_holds.show.table.profession") -%></th>
      <th width="10%"><%= t("report.contract_holds.show.table.output") -%></th>
      <th width="12%"><%= t("report.contract_holds.show.table.milestone") -%></th>
      <th width="18%"><%= t("report.contract_holds.show.table.sign_hold_value") -%></th>
    </tr>
  </thead>
  <tbody>
    <% rows.each do |r| %>
      <tr>
        <td><%= r.projectitemcode -%><br /><%= r.projectitemname -%></td>
        <td><%= r.contractcode -%><br /><%= r.contractname -%></td>
        <td><%= r.profession -%></td>
        <td><%= r.output.round(0) -%></td>
        <td><%= (r.milestone * 100).round(0) -%>%</td>
        <td><%= r.sign_hold_value.round(0) -%></td>
      </tr>
    <% end %>
  </tbody>
</table>
