<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"><%= @company_name -%> <%= @department_name -%></h5>
    </div>
    <div class="modal-body">
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th width="10%"><%= t(".table.projectcode") -%></th>
      <th width="30%"><%= t(".table.projectname") -%></th>
      <th width="10%"><%= t(".table.salescontractcode") -%></th>
      <th width="30%"><%= t(".table.salescontractname") -%></th>
      <th width="20%"><%= t(".table.moneytax") -%></th>
    </tr>
  </thead>
  <tbody>
    <% @data.each do |d| %>
      <tr>
        <td><%= d.projectcode -%></td>
        <td><%= d.projectname -%></td>
        <td><%= d.salescontractcode -%></td>
        <td><%= d.salescontractname -%></td>
        <td><%= d.moneytax -%></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('.close') -%></button>
    </div>
  </div>
</div
