<div class="row">
  <div class="col-lg-12">
    <div class="container">
      <h3 class="page-title">
        <%= t('.title') %>
      </h3>
      <%= form_tag report_contract_signing_path, method: :get, class: 'form-inline' do -%>
        <div class="form-group">
          <label class="mr-1"><%= t(".period_mean_ref") -%>：</label>
          <%= text_field_tag 'period_mean_ref', @period_mean_ref, class: 'form-control form-control2' %>
        </div>
        <div class="form-group">
          <label class="mr-1"><%= t(".month_name") -%>：</label>
          <%= select_tag 'month_name', options_for_select(@all_month_names, @month_name), class: 'form-control' %>
        </div>
        <div><%= submit_tag t(".confirm"), class: 'btn btn-primary' %></div>
      <% end -%>
      <div id="contract-signings-chart"
        data-controller="contract-signings"
        data-action="resize@window->contract-signings#layout"
        data-contract-signings-x_axis="<%= @all_company_names.to_json -%>"
        data-contract-signings-sum_contract_amounts="<%= @sum_contract_amounts.to_json -%>"
        data-contract-signings-avg_period_mean="<%= @avg_period_mean.to_json -%>"
        data-contract-signings-avg_period_mean_max="<%= @avg_period_mean_max -%>"
        data-contract-signings-period_mean_ref="<%= @period_mean_ref -%>"
        style="width: 100%;height: 600px;">
      </div>
    </div>
  </div>
</div>
