<%- content_for :action_bar do %>
  <ol>
    <li class="action_bar-item">
      <%= link_to t('.actions.view_deptcode_sum'),
          report_subsidiary_people_workloading_path(company_code: @selected_company_code, begin_date: @begin_date.to_date, end_date: @end_date.to_date, view_deptcode_sum: true), class: 'btn text-primary' %>
    </li>
    <li class="action_bar-item">
      <%= link_to t('.actions.view_deptcode'),
          report_subsidiary_people_workloading_path(company_code: @selected_company_code, begin_date: @begin_date.to_date, end_date: @end_date.to_date), class: 'btn text-primary' %>
    </li>
  </ol>
<% end %>

<div class="row">
  <div class="col-lg-12"
    data-controller="subsidiary-people-workloadings"
    data-action="resize@window->subsidiary-people-workloadings#layout"
    data-subsidiary-people-workloadings-company_code="<%= @selected_company_code -%>"
    data-subsidiary-people-workloadings-view_deptcode_sum="<%= @view_deptcode_sum -%>">
    <h3 class="page-title">
      <%= t(".title", company: @short_company_name) %>
    </h3>
    <%= form_tag report_subsidiary_people_workloading_path, method: :get do -%>
      <div class="form-row">
        <%= hidden_field_tag :view_deptcode_sum, @view_deptcode_sum %>
        <div class="form-group col-md-3">
          <label class="mr-1"><%= t(".company_name") -%>：</label>
          <%= select_tag 'company_code', options_for_select(@company_short_names, @selected_company_code), class: 'form-control' %>
        </div>
        <div class="form-group col-md-3">
          <label class="mr-1"><%= t(".dept_name") -%>：</label>
          <%= select_tag 'dept_code', options_for_select(@dept_short_names, @selected_dept_code), class: 'form-control' %>
        </div>
        <div class="form-group col-md-2">
          <label class="mr-1"><%= t(".begin_date") -%>：</label>
          <%= text_field_tag 'begin_date', @begin_date.to_date, class: 'form-control' %>
        </div>
        <div class="form-group col-md-2">
          <label class="mr-1"><%= t(".end_date") -%>：</label>
          <%= text_field_tag 'end_date', @end_date.to_date, class: 'form-control' %>
        </div>
        <div class="form-group col-md-2">
          <label class="mr-1">&nbsp;</label>
          <div class="form-control form-button">
            <%= submit_tag t(".confirm"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end -%>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th><%= t(".table.date") %></th>
          <th><%= t(".table.userid") %></th>
          <th><%= t(".table.ncworkno") %></th>
          <th><%= t(".table.username") %></th>
          <th><%= t(".table.prjno") %></th>
          <th><%= t(".table.realhours") %></th>
          <th><%= t(".table.needhours") %></th>
          <th><%= t(".table.profession") %></th>
        </tr>
        </thead>
        <tbody>
        <% @data.each do |d| %>
          <tr>
            <td><%= d.date -%></td>
            <td><%= d.userid -%></td>
            <td><%= d.ncworkno -%></td>
            <td><%= d.username -%></td>
            <td><%= d.prjno -%></td>
            <td><%= d.realhours -%></td>
            <td><%= d.needhours -%></td>
            <td><%= d.profession -%></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
