<%- content_for :action_bar do %>
  <ol>
    <li class="action_bar-item">
      <%= link_to t('.actions.view_deptcode_sum'),
          report_subsidiary_people_workloading_path(company_code: @selected_company_code, begin_date: @begin_date.to_date, end_date: @end_date.to_date, view_deptcode_sum: true), class: 'btn text-primary' %>
    </li>
    <li class="action_bar-item">
      <%= link_to t('.actions.view_deptcode'),
          report_subsidiary_people_workloading_path(company_code: @selected_company_code, begin_date: @begin_date.to_date, end_date: @end_date.to_date), class: 'btn text-primary' %>
    </li>
  </ol>
<% end %>

<div class="row">
  <div class="col-lg-12"
    data-controller="subsidiary-people-workloadings"
    data-action="resize@window->subsidiary-people-workloadings#layout"
    data-subsidiary-people-workloadings-company_code="<%= @selected_company_code -%>"
    data-subsidiary-people-workloadings-view_deptcode_sum="<%= @view_deptcode_sum -%>">
    <h3 class="page-title">
      <%= t(".title", company: @short_company_name) %>
    </h3>
    <%= form_tag report_subsidiary_people_workloading_path, method: :get do -%>
      <div class="form-row">
        <%= hidden_field_tag :view_deptcode_sum, @view_deptcode_sum %>
        <div class="form-group col-md-3">
          <label class="mr-1"><%= t(".company_name") -%>：</label>
          <%= select_tag 'company_code', options_for_select(Bi::OrgShortName.org_options, @selected_company_code), class: 'form-control-plaintext form-control', data: { remote: true, type: :script, url: url_for(controller: 'report/subsidiary_people_workloadings', action: 'fill_dept_short_names', format: 'js', params: { begin_date: @begin_date.to_date, end_date: @end_date.to_date, view_deptcode_sum: @view_deptcode_sum }) } %>

        </div>
        <div class="form-group col-md-3">
          <label class="mr-1"><%= t(".dept_name") -%>：</label>
          <%= select_tag 'dept_code', options_for_select(@dept_short_names, @selected_dept_code), id: 'select-people-workloading-dept-code', class: 'form-control' %>
        </div>
        <div class="form-group col-md-2">
          <label class="mr-1"><%= t(".begin_date") -%>：</label>
          <%= date_field_tag 'begin_date', @begin_date.to_date, class: 'form-control' %>
        </div>
        <div class="form-group col-md-2">
          <label class="mr-1"><%= t(".end_date") -%>：</label>
          <%= date_field_tag 'end_date', @end_date.to_date, class: 'form-control' %>
        </div>
        <div class="form-group col-md-2">
          <label class="mr-1">&nbsp;</label>
          <div class="form-control form-button">
            <%= submit_tag t(".confirm"), class: 'btn btn-primary' %>
            <%= link_to t('.export'), report_subsidiary_people_workloading_path(view_deptcode_sum: @view_deptcode_sum, company_code: @selected_company_code, dept_code: @selected_dept_code, begin_date: @begin_date.to_date, end_date: @end_date.to_date, format: :csv), class: 'btn' %>
          </div>
        </div>
      </div>
    <% end -%>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th><%= t(".table.ncworkno") %></th>
          <th><%= t(".table.username") %></th>
          <th><%= t(".table.realhours") %></th>
          <th><%= t(".table.leavehours") %></th>
          <th><%= t(".table.fillrate") %></th>
          <th><%= t(".table.busyrate") %></th>
          <th><%= t(".table.lunch_day_num") %></th>
          <th><%= t(".table.profession") %></th>
        </tr>
        </thead>
        <tbody>
        <% total_lunch_count = 0 -%>
        <% @data.each do |d| %>
          <tr>
            <td><%= link_to d.ncworkno, report_people_workloading_path(ncworkno: d.ncworkno, begin_date: @begin_date.to_date, end_date: @end_date.to_date) -%></td>
            <td><%= d.username -%></td>
            <% total_hour = d.type1.to_f + d.type2.to_f + d.type4.to_f  %>
            <td><%= total_hour -%></td>
            <td><%= d.type4 -%></td>
            <% numerator = @fill_rate_numerator[d.ncworkno] %>
            <% denominator = @fill_rate_denominator[d.ncworkno] %>
            <% if denominator.present? %>
              <% fill_rate = (numerator.to_f * 100 / denominator).round(1) %>
              <td><%= (fill_rate > 100) ? 100 : fill_rate -%>%</td>
            <% else %>
              <td>-</td>
            <% end %>
            <td>
              <% busyrate = (d.type1.to_f * 100) / d.needhours.to_f %>
              <% if busyrate.present? && !busyrate.infinite? %>
                <%= (busyrate).round(1) -%> %
              <% else %>
                -
              <% end %>
            </td>
            <% person_lunch = @lunch_work_count[d.ncworkno].to_i + @lunch_non_work_count[d.ncworkno].to_i %>
            <% total_lunch_count += person_lunch %>
            <td><%= person_lunch -%></td>
            <td><%= d.profession -%></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <h6><%= @selected_dept_name -%>自<%= @begin_date.to_date -%>到<%= @end_date.to_date -%>，总共餐补：<%= total_lunch_count -%> 次</h6>
  </div>
</div>
