<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="container">
      <h3 class="page-title">
        <%= t(".title") %>
      </h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th><%= t(".table.id") %></th>
            <th><%= t(".table.receive_id") %></th>
            <th><%= t(".table.content") %></th>
            <th><%= t(".table.receive_at") %></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <% @received_sms_messages.each do |received_sms_message| %>
              <tr>
                <td><%= received_sms_message.id -%></td>
                <td><%= received_sms_message.receive_id %></td>
                <td><%= received_sms_message.content %></td>
                <td><%= received_sms_message.created_at.to_s(:db_short) %></td>
                <td>
                  <%= link_to '移除', admin_received_sms_message_path(id: received_sms_message.id), method: :delete %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
