<div class="row">
<div class="col-md-12">
<div class="card">
<div class="card-header">
  <strong><%= t('.form_header') %></strong>

</div>
<%= form_with model: @official_stamp_usage_apply, url: company_official_stamp_usages_path, class: 'form-horizontal', local: true do |f| %>
<div class="card-body">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-employee-name"><%= t('.employee_name') %></label>
        <div class="col-md-9">
          <%= f.text_field :employee_name, class: 'form-control', disabled: true, id: 'text-input-employee-name' %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-clerk-code"><%= t('.clerk_code') %></label>
        <div class="col-md-9">
          <%= f.text_field :clerk_code, class: 'form-control', disabled: true, id: 'text-input-clerk-code' %>
          <%= f.error_message :clerk_code, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-belong-company-name"><%= t('.belong_company_name') %></label>
        <div class="col-md-9">
          <%= f.text_field :belong_company_name, class: 'form-control', disabled: true, id: 'text-input-belong-company-name' %>
          <%= f.error_message :belong_company_name, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-belong-company-code"><%= t('.belong_company_code') %></label>
        <div class="col-md-9">
          <%= f.text_field :belong_company_code, class: 'form-control', disabled: true, id: 'text-input-belong-company-code' %>
          <%= f.error_message :belong_company_code, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-belong-department-name"><%= t('.belong_department_name') %></label>
        <div class="col-md-9">
          <%= f.text_field :belong_department_name, class: 'form-control', disabled: true, id: 'text-input-belong-department-name' %>
          <%= f.error_message :belong_department_name, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-belong-department-code"><%= t('.belong_department_code') %></label>
        <div class="col-md-9">
          <%= f.text_field :belong_department_code, class: 'form-control', disabled: true, id: 'text-input-belong-department-code' %>
          <%= f.error_message :belong_department_code, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="select-stamp-to-place"><%= t('.stamp_to_place') %></label>
        <div class="col-md-9">
          <%= f.select :stamp_to_place, options_for_select(Company::OfficialStampUsageApply.sh_stamp_place, selected = @official_stamp_usage_apply.stamp_to_place), {}, class: 'form-control', id: 'select-stamp-to-place' %>
          <span class="help-block"><%= t('.stamp_to_place_hint') %></span>
          <%= f.error_message :stamp_to_place, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="select-application-class">*<%= t('.application_class') %></label>
        <div class="col-md-9">
          <%= f.select :application_class, options_for_select(Company::OfficialStampUsageApply.usage_list.keys, selected = @official_stamp_usage_apply.application_class), { include_blank: false }, class: 'form-control-plaintext form-control', id: 'select-application-class',
            data: { remote: true, type: :script, url: url_for(controller: 'company/official_stamp_usages', action: 'fill_application_subclasses', format: 'js') } %>
          <span class="help-block"><%= t('.application_class_hint') %></span>
          <%= f.error_message :application_class, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="select-application-subclasses">*<%= t('.application_subclasses') %></label>
        <div class="col-md-9">
          <%= f.select :application_subclasses, options_for_select(Company::OfficialStampUsageApply.usage_list[:人力资源部], selected = @application_subclasses), {}, multiple: true, class: 'form-control', id: 'select-application-subclasses' %>
          <span class="help-block"><%= t('.application_subclasses_hint') %></span>
          <%= f.error_message :application_subclasses, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="file-input-attachment"><%= t('.attachments') %></label>
        <div class="col-md-9">
          <%= f.file_field :attachments, multiple: true, direct_upload: true, class: 'form-control' %>
          <span class="help-block"><%= t('.attachments_hint') %></span>
          <%= f.error_message :attachments, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-stamp-comment"><%= t('.stamp_comment') %></label>
        <div class="col-md-9">
          <%= f.text_field :stamp_comment, class: 'form-control', id: 'text-input-stamp-comment' %>
          <span class="help-block"><%= t('.stamp_comment_hint') %></span>
          <%= f.error_message :stamp_comment, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-footer">
  <%= f.submit t('.submit'), class: 'btn btn-sm btn-primary' %>
</div>
<% end %>
</div>
</div>
</div>
