<div class="row"
  data-controller="customer-actual-payment"
  data-action="resize@window->customer-actual-payment#layout"
  data-customer-actual-payment-page-length-value="<%= my_per_page -%>">
  <div class="col-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <%= form_tag report_customer_actual_payments_path, method: :get, class: 'form-inline' do -%>
      <div class="form-group mr-1">
        <label class="mr-1"><%= t(".month_name") -%>：</label>
        <%= select_tag 'month_name', options_for_select(@all_month_names, @month_name), { class: 'form-control form-control-plain', id: 'select-year' } %>
      </div>
      <div>
        <%= submit_tag t(".confirm"), class: 'btn btn-thape-color' %>
      </div>
    <% end -%>
  </div>
  <div class="col-12">
    <table id="customer-actual-payments-datatable"
      class="table table-bordered mt-2 position-relative"
      data-source="<%= report_customer_actual_payments_path(month_name: @month_name, format: :json) -%>">
      <thead>
        <tr>
          <th rowspan="2"><%= t('.table.rank') -%></th>
          <th rowspan="2"><%= t('.table.customer_group') -%></th>
          <th rowspan="2"><%= t('.table.kerrey_trading_area_ranking') -%></th>
          <th rowspan="2"><%= t('.table.customer_ownership') -%></th>

          <th colspan="2"><%= t('.table.receive_amount') -%></th>
          <th colspan="5"><%= t('.table.real_time_receive_amount') -%></th>
        </tr>
        <tr>
          <th><%= t('.table.receive_amount_last_year') -%></th>
          <th><%= t('.table.receive_amount_this_year') -%></th>

          <th><%= t('.table.receive_amount_3_months') -%></th>
          <th><%= t('.table.receive_amount_1_year') -%></th>
          <th><%= t('.table.receive_amount_1_year_repayment_rate') -%></th>
          <th><%= t('.table.receive_amount_1_year_payback_rate') -%></th>
          <th><%= t('.table.receive_amount_year_on_year_change_rate') -%></th>
        </tr>

      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

</div>
