<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <p>工程编号：<%= @project_info.projectcode -%></p>
      <% if @project_info.isboutiqueproject == '是' %>
        <p>工程名称：<%= @new_map_info&.marketinfoname -%><span class="badge badge-primary">精品</span></p>
      <% else %>
        <p>工程名称：<%= @new_map_info&.marketinfoname -%></p>
      <% end %>

      <% @project_items.each do |p| %>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="2" data-toggle="collapse" data-target="#projectDetail<%= p.projectitemcode -%>" aria-expanded="false" aria-controls="projectDetail<%= p.projectitemcode -%>"><%= t("company.km_maps.table.project_item_code") -%> <%= p.projectitemcode -%>
                  <br />
                  <%= t("company.km_maps.table.project_item_name")  -%> <%= p.projectitemname -%>  &gt;&gt; </th>
              </tr>
            </thead>
            <tbody class="collapse" id="projectDetail<%= p.projectitemcode -%>">
              <tr>
                <td>工程编号</td>
                <td><%= p.projectcode %></td>
              </tr>
              <tr>
                <td>业务类型</td>
                <td><%= p.businesstypename %></td>
              </tr>
              <tr>
                <td>客户名称</td>
                <td><%= p.clientname %></td>
              </tr>
              <tr>
                <td>所属部门</td>
                <td><%= p.projectitemdeptname %></td>
              </tr>
              <tr>
                <td>项目进展</td>
                <td><%= p.projectbigstagename %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr />
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('.close') -%></button>
    </div>
  </div>
</div>
