<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title">
        <%= project_info.projectitemname -%>
      </h6>
    </div>
    <div class="modal-body">
      <p>项目编号：<%= project_info.projectitemcode -%></p>
      <p>工程编号：<%= project_info.projectcode -%></p>
      <p>城市：<%= project_info.cityname -%></p>
      <p>案名/宣传名：<%= project_info.projectframename -%></p>
      <p>项目地点：<%= project_info.projectaddress -%></p>
      <p>客户集团：<%= project_info.clientname -%></p>
      <p>公司code：<%= project_info.projectitemcomcode -%></p>
      <p>公司名称：<%= project_info.projectitemcomname -%></p>
      <p>所属部门code：<%= project_info.projectitemdeptcode -%></p>
      <p>所属部门：<%= project_info.projectitemdeptname -%></p>
      <p>主创/设总code：<%= project_info.projectpacode -%></p>
      <p>主创/设总：<%= project_info.projectpaname -%></p>
      <p>业务类型code：<%= project_info.businesstype -%></p>
      <p>业务类型：<%= project_info.businesstypename -%></p>
      <p>项目类型code：<%= project_info.projectcategory -%></p>
      <p>项目类型：<%= project_info.projectcategoryname -%></p>
      <p>项目分类：<%= project_info.projectsort -%></p>
      <p>建筑类型：<%= project_info.buildinggenre -%></p>
      <p>方案/施工图（服务阶段code）：<%= project_info.projectbigstage -%></p>
      <p>方案/施工图（服务阶段）：<%= project_info.projectbigstagename -%></p>
      <p>项目进展：<%= project_info.milestonesname -%></p>
      <p>是否重点项目：<%= project_info.isstresspro -%></p>
      <p>设计起始时间：<%= project_info.createddate -%></p>
      <p>设计结束时间：<%= project_info.designenddate -%></p>
      <p>竣工验收时间：<%= project_info.completiondate -%></p>
      <p>方案报批归档状态：<%= project_info.scheme -%></p>
      <p>施工图审图归档状态：<%= project_info.drawing -%></p>
      <p>竣工验收归档状态：<%= project_info.completion -%></p>

      <p>项目介绍：<%= project_info.projectintroduction -%></p>
      <p>项目获奖信息：<%= project_info.projectawardinformation -%></p>
      <p>项目特色：<%= project_info.projectcharacteristics -%></p>
      <p>申报材料保密要求：<%= project_info.sbclbmyq -%></p>
      <p>项目成果保密要求：<%= project_info.xmcgbmyq -%></p>
      <p>外部合作单位：<%= project_info.wbhzdw -%></p>
      <p>是否有售楼处/示范区：<%= project_info.isslcorsfq -%></p>
      <p>项目示范区/售楼处是否竣工：<%= project_info.isslcorsfqjg -%></p>
      <p>用地面积：<%= project_info.landarea -%></p>
      <p>总建筑面积：<%= project_info.totalbuildingarea -%></p>
      <p>容积率：<%= project_info.plotratio -%></p>
      <p>建筑密度/覆盖率：<%= project_info.builddensity -%></p>
      <p>绿地率：<%= project_info.greenspacerate -%></p>
      <p>地下总建筑面积：<%= project_info.dixiatotalbuildarea -%></p>
      <p>住宅总户数：<%= project_info.totalhouseholds -%></p>
      <p>是否精品项目：<%= project_info.isboutiqueproject -%></p>
      <p>是否单体：<%= project_info.ismonomerproject -%></p>

      <p>建筑类型：<%= project_info.jzw_buildinggenre -%></p>
      <p>封面图描述：<%= project_info.jzw_pic_name -%></p>
      <p>效果图：<%= project_info.jzw_pics -%></p>
      <p>效果图描述：<%= project_info.jzw_pics_name -%></p>
      <p>汇报文件名称：<%= project_info.jzw_ppt_name -%></p>
      <p>项目视频名称：<%= project_info.jzw_video_name -%></p>
      <p>真实项目案名：<%= project_info.jzw_project_case_name_real -%></p>

      <p>效果图文件夹ID：<%= project_info.jzw_pics_folder_id -%></p>
      <p>总图文件夹ID：<%= project_info.jzw_color_pics_folder_id -%></p>
      <p>封面图文件夹ID：<%= project_info.jzw_pic_folder_id -%></p>
      <p>平面、立面、剖面图文件夹ID：<%= project_info.jzw_plane_pics_folder_id -%></p>
      <p>人气大奖是否入围：<%= project_info.jzw_popularity -%></p>
      <p>会议名称：<%= project_info.jzw_conferencename -%></p>
      <p>项目ID：<%= project_info.jzw_projectid -%></p>
      <p>数据来源：<%= project_info.jzw_datasource -%></p>

      <p>设计例会跳转链接：<%= project_info.jzw_sjlhtzurl -%></p>
      <p>展板图片：<%= project_info.jzw_board_pics -%></p>
      <p>展板图片描述：<%= project_info.jzw_board_pics_name -%></p>
      <p>总图：<%= project_info.jzw_color_pics -%></p>
      <p>总图描述：<%= project_info.jzw_color_pics_name -%></p>
      <p>平面图：<%= project_info.jzw_plane_pics -%></p>
      <p>平面图描述：<%= project_info.jzw_plane_pics_name -%></p>
      <p>项目规模：<%= project_info.jzw_planarea -%></p>
      <p>获奖状态：<%= project_info.jzw_status -%></p>
      <p>项目英文名称：<%= project_info.jzw_project_item_en_name -%></p>
      <p>项目曾经获得的奖：<%= project_info.jzw_prize -%></p>
      <p>封面图：<%= project_info.jzw_pic -%></p>
      <p>实景图：<%= project_info.jzw_real_pics -%></p>
      <p>分析图：<%= project_info.jzw_analyse_pics -%></p>
      <p>模型图：<%= project_info.jzw_model_pics -%></p>
      <p>设计草图：<%= project_info.jzw_draft_pics -%></p>
      <p>工作过程图：<%= project_info.jzw_work_pics -%></p>
      <p>是否参选人气大奖：<%= project_info.jzw_is_join -%></p>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('.close') -%></button>
    </div>
  </div>
</div>
