<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title">
        <%= project_info.projectitemname -%>
      </h6>
    </div>
    <div class="modal-body">
      <p>工程编号：<%= link_to project_info.projectcode, "http://172.16.1.93/wcm/tianhua/projectdetails?projectitemcode=#{project_info.projectitemcode}", target: "_blank" -%></p>
      <p>案名/宣传名：<%= project_info.projectframename -%></p>

      <%= render partial: "company/contracts/table", locals: { sas: @sas } %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('.close') -%></button>
    </div>
  </div>
</div>
