<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <p>工程编号：<%= link_to project_info.projectcode, "http://172.16.1.93/wcm/tianhua/projectdetails?projectitemcode=#{project_info.projectitemcode}", target: "_blank" -%></p>
      <p>工程名称：<%= @new_map_info&.marketinfoname -%></p>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th><%= t("company.km_maps.table.project_item_code") %></th>
            <th><%= t("company.km_maps.table.project_item_name") %></th>
          </tr>
          </thead>
          <tbody>
          <% @project_items.each do |p| %>
            <tr>
              <td><%= p.projectitemcode  -%></td>
              <td><%= p.projectitemname %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('.close') -%></button>
    </div>
  </div>
</div>
