<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <p>工程编号：<%= @project_info.projectcode -%></p>
      <% if @project_info.isboutiqueproject == '是' %>
        <p>工程名称：<%= @new_map_info&.marketinfoname -%><span class="badge badge-primary">精品</span></p>
      <% else %>
        <p>工程名称：<%= @new_map_info&.marketinfoname -%></p>
      <% end %>
      <p>项目编号：<%= @project_info.projectitemcode -%></p>
      <p>项目名称：<%= @project_info.projectitemname -%></p>
      <p>业务类型：<%= @project_info.businesstypename -%></p>
      <p>客户名称：<%= @project_info.clientname -%></p>
      <p>所属部门：<%= @project_info.projectitemdeptname -%></p>
      <p>项目进展：<%= @project_info.projectbigstagename -%></p>


      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th><%= t("company.km_maps.table.project_item_code") %></th>
            <th><%= t("company.km_maps.table.project_item_name") %></th>
          </tr>
          </thead>
          <tbody>
          <% @project_items.each do |p| %>
            <tr>
              <td><%= link_to p.projectitemcode, "http://edoc.thape.com.cn:8022/wcm/tianhua/projectdetails?projectitemcode=#{p.projectitemcode}", target: "_blank" -%></td>
              <td><%= p.projectitemname %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('.close') -%></button>
    </div>
  </div>
</div>
