<%= form_tag company_km_map_path, method: :get do -%>
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <%= select_tag 'biz_category', options_for_select(Edoc2::ProjectInfo.bussiness_type_project_category_maps.keys, @biz_category), include_blank: t(".form.biz_category"), class: 'form-control',
      data: { remote: true, type: :script, url: url_for(controller: 'company/km_maps', action: 'fill_category', format: 'js') } %>
    </div>
    <div class="col-auto my-1">
      <%= select_tag 'prj_category', options_for_select(Edoc2::ProjectInfo.bussiness_type_project_category_maps[@biz_category&.to_sym] || [], @prj_category), include_blank: t(".form.prj_category"), class: 'form-control', id: 'select-km-prj-category' %>
    </div>
    <div class="col-auto my-1">
      <%= text_field_tag 'client', @client,
        placeholder: t(".form.client_placeholder"), class: 'form-control' %>
    </div>
    <div class="col-auto my-1">
      <%= select_tag 'city', options_for_select(Edoc2::ProjectInfo.city_options, @city), include_blank: t(".form.city"), class: 'form-control' %>
    </div>
    <div class="col-auto my-1">
      <%= select_tag 'company_name', options_for_select(Edoc2::ProjectInfo.project_item_company_name, @company_name), class: 'form-control', include_blank: t(".form.company_name"),
        data: { remote: true, type: :script, url: url_for(controller: 'company/km_maps', action: 'fill_department', format: 'js') } %>
    </div>
    <div class="col-auto my-1">
      <%= select_tag 'department', options_for_select(@available_departments, @department), include_blank: t(".form.department"), class: 'form-control', id: 'select-km-department' %>
    </div>
  </div>
  <div class="form-row align-items-center mt-2">
    <div class="col-auto my-1">
      <%= select_tag 'service_stage', options_for_select(Edoc2::ProjectInfo.project_big_stage_milestones_maps.keys, @service_stage), include_blank: t(".form.service_stage"), class: 'form-control',
        data: { remote: true, type: :script, url: url_for(controller: 'company/km_maps', action: 'fill_progress', format: 'js') } %>
    </div>
    <div class="col-auto my-1">
      <%= select_tag 'project_progress', options_for_select(Edoc2::ProjectInfo.project_big_stage_milestones_maps[@service_stage&.to_sym] || [], @project_progress), include_blank: t(".form.project_progress"), class: 'form-control', id: 'select-km-project-progress' %>
    </div>
    <div class="col-auto my-1">
      <%= text_field_tag 'scale', @scale, placeholder: t(".form.scale"), class: 'form-control' %>
    </div>
    <div class="col-auto my-1">
      <span>查得<%= @valid_map_point.count -%>记录</span>
      <button type="submit" class="btn btn-primary"><%= t(".form.query") -%></button>
    </div>
  </div>
<% end %>

<div id="km-full-map"
  data-controller="km-full-map"
  data-km-full-map-map_point="<%= @valid_map_point.to_json -%>">
</div>

<div id="km-maps-modal" class="modal right fade" tabindex="-1" role="dialog"></div>


