<%= form_tag company_km_map_path, method: :get do -%>
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-1"><%= t(".form.biz_category") -%></label>
      <%= select_tag 'biz_category', options_for_select(Edoc2::ProjectInfo.bussiness_type_project_category_maps.keys, @biz_category), include_blank: true, class: 'form-control form-control2',
      data: { remote: true, type: :script, url: url_for(controller: 'company/km_maps', action: 'fill_category', format: 'js') } %>
    </div>
    <div class="col-auto my-1">
      <label class="mr-sm-1"><%= t(".form.prj_category") -%></label>
      <%= select_tag 'prj_category', options_for_select(Edoc2::ProjectInfo.bussiness_type_project_category_maps[@biz_category&.to_sym] || [], @prj_category), include_blank: true, class: 'form-control form-control2', id: 'select-km-prj-category' %>
    </div>
    <div class="col-auto my-1">
      <label class="mr-sm-1"><%= t(".form.client") -%></label>
      <%= text_field_tag 'client', @client,
        placeholder: t(".form.client_placeholder"), class: 'form-control form-control2' %>
    </div>
    <div class="col-auto my-1">
      <label class="mr-sm-1"><%= t(".form.city") -%></label>
      <%= text_field_tag 'city', @city,
        placeholder: t(".form.city_placeholder"), class: 'form-control form-control2' %>
    </div>
    <div class="col-auto my-1">
      <label class="mr-sm-1"><%= t(".form.company_name") -%></label>
      <%= select_tag 'company_name', options_for_select(Edoc2::ProjectInfo.project_item_company_name, @company_name), class: 'form-control form-control2',
        data: { remote: true, type: :script, url: url_for(controller: 'company/km_maps', action: 'fill_department', format: 'js') } %>
    </div>
    <div class="col-auto my-1">
      <label class="mr-sm-1"><%= t(".form.department") -%></label>
      <%= select_tag 'department', options_for_select(@available_departments, @department), include_blank: true, class: 'form-control form-control2', id: 'select-km-department' %>
    </div>
    <div class="col-auto my-1">
      <label class="mr-sm-1"><%= t(".form.service_stage") -%></label>
      <%= select_tag 'service_stage', options_for_select(Edoc2::ProjectInfo.project_big_stage_name, @service_stage), include_blank: true, class: 'form-control form-control2' %>
    </div>
    <div class="col-auto my-1">
      <label class="mr-sm-1"><%= t(".form.project_progress") -%></label>
      <%= select_tag 'project_progress', options_for_select(Edoc2::ProjectInfo.milestones_name, @project_progress), class: 'form-control form-control2' %>
    </div>
    <div class="col-auto my-1">
      <label class="mr-sm-1"><%= t(".form.scale") -%></label>
      <%= text_field_tag 'scale', @scale, class: 'form-control form-control2' %>
    </div>
    <div class="col-auto my-1">
      <span>查得<%= @valid_map_point.count -%>记录</span>
      <button type="submit" class="btn btn-primary"><%= t(".form.query") -%></button>
    </div>
  </div>
<% end %>

<div id="km-full-map"
  data-controller="km-full-map"
  data-km-full-map-map_point="<%= @valid_map_point.to_json -%>">
</div>

<div id="km-maps-modal" class="modal right fade" tabindex="-1" role="dialog"></div>


