<div class="row">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <div class="row">
      <div class="col-lg-12" data-controller="contract-sign-details"
        data-contract-sign-details-can_hide_item="<%= @can_hide_item -%>">
          <%= form_tag report_contract_sign_detail_path, method: :get, class: 'form-inline' do -%>
            <div class="form-group mr-3">
              <label class="mr-1"><%= t(".month_name") -%>：</label>
              <%= select_tag 'month_name', options_for_select(@all_month_names, @month_name), class: 'form-control' %>
            </div>
            <div class="form-group">
              <label class="mr-1"><%= t(".date_1_great_than") -%>：</label>
              <%= text_field_tag 'date_1_great_than', @date_1_great_than, class: 'form-control form-control2' %>
            </div>
            <% if @can_hide_item -%>
              <div class="form-group mx-2">
                <%= check_box_tag 'show_hide_item', true, @show_hide_item, class: 'form-control' %>
                <label class="mr-1"> <%= t(".show_hide_item") -%></label>
              </div>
            <% end %>
            <div>
              <%= submit_tag t(".confirm"), class: 'btn btn-primary' %>
            </div>
          <% end -%>
        <table id="contract-sign-details-datatable"
          class="table table-hover table-bordered table-responsive"
          data-source="<%= report_contract_sign_detail_path(format: :json, date_1_great_than: @date_1_great_than, month_name: params[:month_name], show_hide_item: @show_hide_item) %>">
          <thead>
            <tr>
              <th style="width: 48px"><%= t(".table.org_name") -%></th>
              <th><%= t(".table.dept_name") -%></th>
              <th><%= t(".table.business_director_name") -%></th>
              <th style="width: 150px"><%= t(".table.sales_contract_code_name") -%></th>
              <th><%= t(".table.first_party_name") -%></th>
              <th><%= t(".table.amount_total") -%></th>
              <th><%= t(".table.date_1") -%></th>
              <th><%= t(".table.date_2") -%></th>
              <th style="width: 68px"><%= t(".table.contract_time") -%></th>
              <th><%= t(".table.min_timecard_fill") -%></th>
              <th><%= t(".table.min_date_hrcost_amount") -%></th>
              <th><%= t(".table.project_type") -%></th>
              <% if @can_hide_item -%>
                <th><%= t(".table.admin_action") -%></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="col-lg-12">
        <h6>说明：</h6>
        <p>1)签约周期1：合同归档日期 - 项目起始填报工时日期；</p>
        <p>2)签约周期2：合同归档日期 - 累计项目人力成本达到2万的日期；</p>
      </div>
    </div>
  </div>
</div>
