<div class="row">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <div class="row">
      <div class="col-lg-12" data-controller="contract-sign-details">
        <table id="contract-sign-details-datatable" class="table table-hover table-bordered" data-source="<%= report_contract_sign_detail_path(format: :json) %>">
          <thead>
            <tr>
              <th><%= t(".table.org_name") -%></th>
              <th><%= t(".table.dept_name") -%></th>
              <th><%= t(".table.business_director_name") -%></th>
              <th><%= t(".table.sales_contract_code") -%></th>
              <th><%= t(".table.sales_contract_name") -%></th>
              <th><%= t(".table.first_party_name") -%></th>
              <th><%= t(".table.amount_total") -%></th>
              <th><%= t(".table.date_1") -%></th>
              <th><%= t(".table.date_2") -%></th>
              <th><%= t(".table.project_code") -%></th>
              <th><%= t(".table.project_name") -%></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
