<div class="row">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title", project_id: params[:contract_id]) %>
    </h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t(".table.contract_info") %></th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= t(".table.contract_id") %></td>
            <td colspan="4"><%= @sc.salescontractcode -%></td>
          </tr>
          <tr>
            <td><%= t(".table.contract_name") %></td>
            <td colspan="4"><%= @sc.salescontractname -%></td>
          </tr>
          <tr>
            <td><%= t(".table.contract_status") %></td>
            <td colspan="4"><%= @sc.contractstatusname -%></td>
          </tr>
          <tr>
            <td><%= t(".table.amount_total") %></td>
            <td colspan="4"><%= @sc.amounttotal -%></td>
          </tr>
          <tr>
            <td><%= t(".table.shard_con_amount") %></td>
            <td colspan="4"><%= @sc.shardconamount -%></td>
          </tr>
          <tr>
            <td><%= t(".table.real_amount_total") %></td>
            <td colspan="4"><%= @sc.realamounttotal -%></td>
          </tr>
          <tr>
            <td><%= t(".table.shard_con_amount") %></td>
            <td colspan="4"><%= @sc.shardconamount -%></td>
          </tr>
          <tr>
            <td><%= t(".table.real_amount_total") %></td>
            <td colspan="4"><%= @sc.realamounttotal -%></td>
          </tr>
          <tr>
            <td><%= t(".table.business_ltd_name") %></td>
            <td colspan="4"><%= @sc.businessltdname -%></td>
          </tr>
          <tr>
            <td><%= t(".table.business_departments_name") %></td>
            <td colspan="4"><%= @sc.businessdepartmentsname -%></td>
          </tr>
          <tr>
            <td><%= t(".table.contract_category") %></td>
            <td colspan="4"><%= @sc.contractcategoryname -%></td>
          </tr>
          <tr>
            <td><%= t(".table.contract_property") %></td>
            <td colspan="4"><%= @sc.contractpropertyname -%></td>
          </tr>
          <tr>
            <td><%= t(".table.scale_type") %></td>
            <td colspan="4"><%= @sc.scaletypename -%></td>
          </tr>
          <tr>
            <td><%= t(".table.scale_area") %></td>
            <td colspan="4"><%= @sc.scalearea -%></td>
          </tr>
          <tr>
            <td><%= t(".table.first_party_name") %></td>
            <td colspan="4"><%= @sc.firstpartyname -%></td>
          </tr>
          <tr>
            <td><%= t(".table.party_b_name") %></td>
            <td colspan="4"><%= @sc.partybname -%></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t(".table.contract_detail") %></th>
            <th colspan="4"></th>
          </tr>
          <tr>
            <th><%= t(".table.operation_genre") %></th>
            <th><%= t(".table.building_genre") %></th>
            <th><%= t(".table.big_stage_name") %></th>
            <th><%= t(".table.univalence") %></th>
            <th><%= t(".table.scale") %></th>
          </tr>
        </thead>
        <tbody>
          <% @sc.prices.each do |p| %>
            <tr>
              <td><%= p.operationgenrename %></td>
              <td><%= p.buildinggenrename %></td>
              <td><%= p.bigstagename %></td>
              <td><%= p.univalence %></td>
              <td><%= p.scale %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t(".table.contract_detail") %></th>
            <th colspan="4"></th>
          </tr>
          <tr>
            <th><%= t(".table.operation_genre") %></th>
            <th><%= t(".table.building_genre") %></th>
            <th><%= t(".table.big_stage_name") %></th>
            <th><%= t(".table.univalence") %></th>
            <th><%= t(".table.scale") %></th>
          </tr>
        </thead>
        <tbody>
          <% @sc.prices.each do |p| %>
            <tr>
              <td><%= p.operationgenrename %></td>
              <td><%= p.buildinggenrename %></td>
              <td><%= p.bigstagename %></td>
              <td><%= p.univalence %></td>
              <td><%= p.scale %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
