<%- content_for :action_bar do %>
  <ol>
    <li class="action_bar-item">
      <%= link_to t('.actions.view_orgcode_sum'), report_group_daily_workloading_path(month_name: @month_name, view_orgcode_sum: true), class: 'btn text-primary' %>
    </li>
    <li class="action_bar-item">
      <%= link_to t('.actions.view_orgcode'), report_group_daily_workloading_path(month_name: @month_name), class: 'btn text-primary' %>
    </li>
  </ol>
<% end %>

<div class="row">
  <div class="col-lg-12"
    data-controller="group-daily-workloadings"
    data-action="resize@window->group-daily-workloadings#layout"
    data-group-daily-workloadings-begin_date="<%= @begin_date -%>"
    data-group-daily-workloadings-end_date="<%= @end_date -%>"
    data-group-daily-workloadings-x_axis_job="<%= @job_company_or_department_names.to_json -%>"
    data-group-daily-workloadings-x_axis_blue_print="<%= @blue_print_company_or_department_names.to_json -%>"
    data-group-daily-workloadings-x_axis_construction="<%= @construction_company_or_department_names.to_json -%>"
    data-group-daily-workloadings-x_axis_non_construction="<%= @non_construction_company_or_department_names.to_json -%>"
    data-group-daily-workloadings-current_user_companies_short_names="<%= @current_user_companies_short_names.to_json -%>"
    data-group-daily-workloadings-day_rate="<%= @day_rate.to_json -%>"
    data-group-daily-workloadings-day_rate_ref="<%= @day_rate_ref -%>"
    data-group-daily-workloadings-planning_day_rate="<%= @planning_day_rate.to_json -%>"
    data-group-daily-workloadings-planning_day_rate_ref="<%= @planning_day_rate_ref -%>"
    data-group-daily-workloadings-building_day_rate="<%= @building_day_rate.to_json -%>"
    data-group-daily-workloadings-building_day_rate_ref="<%= @building_day_rate_ref -%>"
    data-group-daily-workloadings-non_construction_day_rate="<%= @non_construction_day_rate.to_json -%>">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <%= form_tag report_group_daily_workloading_path, method: :get do -%>
      <div class="form-row">
        <%= hidden_field_tag :view_orgcode_sum, params[:view_orgcode_sum] -%>
        <div class="form-group col-md-3">
          <label class="mr-1"><%= t(".day_rate_ref") -%>：</label>
          <%= text_field_tag 'day_rate_ref', @day_rate_ref, class: 'form-control form-control2' %>
        </div>
        <div class="form-group col-md-3">
          <label class="mr-1"><%= t(".planning_day_rate_ref") -%>：</label>
          <%= text_field_tag 'planning_day_rate_ref', @planning_day_rate_ref, class: 'form-control form-control2' %>
        </div>
        <div class="form-group col-md-3">
          <label class="mr-1"><%= t(".building_day_rate_ref") -%>：</label>
          <%= text_field_tag 'building_day_rate_ref', @building_day_rate_ref, class: 'form-control form-control2' %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label class="mr-1"><%= t(".begin_date") -%>：</label>
          <%= date_field_tag 'begin_date', @begin_date.to_date, class: 'form-control' %>
        </div>
        <div class="form-group col-md-3">
          <label class="mr-1"><%= t(".end_date") -%>：</label>
          <%= date_field_tag 'end_date', @end_date.to_date, class: 'form-control' %>
        </div>
        <div class="form-group col-md-3">
          <label class="mr-1">&nbsp;</label>
          <div class="form-control form-button">
            <%= submit_tag t(".confirm"), class: 'btn btn-thape-color' %>
          </div>
        </div>
      </div>
    <% end -%>
    <div id="group-daily-workloadings-day-chart" style="width: 100%;height: 350px;"></div>
    <p class="text-lg-center">点击工作填报率可以查看公司明细。（仅本人公司）</p>
    <div id="group-daily-workloadings-planning-day-chart" style="width: 100%;height: 350px;"></div>
    <p class="text-lg-center">点击方案饱和度可以查看公司明细。（仅本人公司）</p>
    <div id="group-daily-workloadings-building-day-chart" style="width: 100%;height: 350px;"></div>
    <p class="text-lg-center">点击施工图饱和度可以查看公司明细。（仅本人公司）</p>
    <div id="group-daily-workloadings-non-construction-day-chart" style="width: 100%;height: 350px;"></div>
  </div>
</div>
