<div class="modal-dialog modal-lg" role="document">
  <% status = cost_split_current_status(split_cost_item) %>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        <%= t(".title") %> (<%= I18n.t("activerecord.attributes.split_cost.status.#{status}") %>)
      </h5>
    </div>
    <%= form_with model: split_cost_item, url: cost_split_split_cost_item_path(id: split_cost_item.id), local: false do |f| %>
      <%= render partial: 'form_fields', locals: { f: f } -%>
      <div class="modal-footer">
        <% cost_split_possible_next_form_actions(status).each do |form_action| %>
          <% if %w[reject submit].include?(form_action)
              case form_action
              when 'reject'
          %>
                <%= link_to t("shared.form.submit.reject"), reject_cost_split_split_cost_item_path(split_cost_item), class: "btn btn-danger", remote: true, method: :patch  %>
          <%
              when 'submit'
          %>
                <%= link_to t("shared.form.submit.submit"), submit_cost_split_split_cost_item_path(split_cost_item), class: "btn btn-success", remote: true, method: :patch  %>
          <%
              end
             else %>
            <%= hidden_field_tag :form_action, form_action %>
            <%= f.submit t("shared.form.submit.#{form_action}"), class: "btn btn-primary" %>
          <% end %>
        <% end %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('.close') -%></button>
      </div>
    <% end %>
  </div>
</div>
