<%= form_with model: split_cost_item, url: cost_split_split_cost_item_path(split_cost_item), class: 'form-inline' do |f| %>
  <td>
    <%= f.text_field :split_cost_item_no, class: 'form-control' -%>
    <br />
    <%= f.text_field :split_cost_item_name, class: 'form-control' -%>
  </td>
  <td>
    <%= f.select :split_cost_item_category, SplitCost::SplitCostItem::CATEGORY, {}, class: 'form-control-plaintext form-control' -%>
    <br />
    <%= split_cost_item.start_date -%> ~ <%= split_cost_item.end_date -%>
  </td>
  <td class="pt-1 pb-1">
    <p class="mt-2">集团性</p>
    <p class="mt-2">上海区域</p>
    <p class="mt-3">上海天华</p>
  </td>
  <td class="pt-1 pb-1">
      <%= f.text_field :group_rate, class: 'form-control', class_for_error: "is-invalid", id: nil -%>
      <%= f.error_message :group_rate, class: "invalid-feedback" %>
      <%= f.text_field :shanghai_area, class: 'form-control mt-1', class_for_error: "is-invalid", id: nil -%>
      <%= f.error_message :shanghai_area, class: "invalid-feedback" %>
      <%= f.text_field :shanghai_hq, class: 'form-control mt-1', class_for_error: "is-invalid", id: nil -%>
      <%= f.error_message :shanghai_hq, class: "invalid-feedback" %>
  </td>
  <td class="pt-1 pb-1">
    <p class="mt-0 mb-1"><%= f.select :group_rate_base, SplitCost::CostSplitAllocationBase::CALC_BASE_NAMES, {}, class: 'form-control-plaintext form-control' -%></p>
    <p class="mt-0 mb-1"><%= f.select :shanghai_area_base, SplitCost::CostSplitAllocationBase::CALC_BASE_NAMES, {}, class: 'form-control-plaintext form-control' -%></p>
    <p class="mt-0 mb-1"><%= f.select :shanghai_hq_base, SplitCost::CostSplitAllocationBase::CALC_BASE_NAMES, {}, class: 'form-control-plaintext form-control' -%></p>
  </td>
  <td class="pt-1 pb-1">
    <p class="mt-0 mb-1"><%= f.select :split_cost_item_group_rate_companies_codes, Bi::OrgOrder.all_company_shortnames_with_code, { }, multiple: true, class: 'form-control' -%></p>
    <p class="mt-0 mb-1"><%= f.select :split_cost_item_shanghai_area_rate_companies_codes, Bi::OrgOrder.all_company_shortnames_with_code, { }, multiple: true, class: 'form-control' -%></p>
    <p class="mt-0 mb-1"><%= f.select :split_cost_item_shanghai_hq_rate_companies_codes, Bi::OrgOrder.all_company_shortnames_with_code, { }, multiple: true, class: 'form-control' -%></p>
  </td>
  <td><%= split_cost_item.version -%></td>
  <td>
    <% if !split_cost_item.confirmed %>
      <%= f.submit(t('.submit_save'), class: "btn btn-primary") -%>
      <br />
      <%= link_to '确认', confirm_cost_split_split_cost_item_path(split_cost_item), method: :patch, remote: true, class: "btn btn-success" %>
      <br />
      <%= link_to cost_split_split_cost_item_path(split_cost_item), method: :delete, data: { confirm: '确认删除？' } do %>
        <i class="fa fa-trash"></i>
      <% end %>
    <% else %>
      <%= link_to '升版', version_up_cost_split_split_cost_item_path(split_cost_item), method: :patch, remote: true, class: "btn btn-danger" %>
    <% end %>
  </td>
<% end %>
