<tr>
<td>
  <p><%= split_cost_item.split_cost_item_no -%></p>
  <p><%= split_cost_item.split_cost_item_name -%></p>
</td>
<td>
  <p><%= split_cost_item.split_cost_item_category -%></p>
  <p><%= split_cost_item.start_date -%> ~ <%= split_cost_item.end_date -%></p>
</td>
<td>
  <p>集团性</p>
  <p>上海区域</p>
  <p>上海天华</p>
</td>
<td>
  <p><%= split_cost_item.group_rate -%></p>
  <p><%= split_cost_item.shanghai_area -%></p>
  <p><%= split_cost_item.shanghai_hq -%></p>
</td>
<td>
  <p><%= split_cost_item.group_rate_base -%></p>
  <p><%= split_cost_item.shanghai_area_base -%></p>
  <p><%= split_cost_item.shanghai_hq_base -%></p>
</td>
<td>
  <p class="<%= split_cost_item.split_cost_item_group_rate_companies_codes.present? ? 'mb-0' : '' -%>">
    <% split_cost_item.split_cost_item_group_rate_companies_codes&.each do |company_code| %>
      <span class="badge badge-info"><%= Bi::OrgShortName.company_short_names_by_orgcode[company_code] -%></span>
    <% end %>
  &nbsp;</p>
  <p class="<%= split_cost_item.split_cost_item_shanghai_area_rate_companies_codes.present? ? 'mb-0' : '' -%>">
    <% split_cost_item.split_cost_item_shanghai_area_rate_companies_codes&.each do |company_code| %>
      <span class="badge badge-secondary"><%= Bi::OrgShortName.company_short_names_by_orgcode[company_code] -%></span>
    <% end %>
  &nbsp;</p>
  <p>
    <% split_cost_item.split_cost_item_shanghai_hq_rate_companies_codes&.each do |company_code| %>
      <span class="badge badge-dark"><%= Bi::OrgShortName.company_short_names_by_orgcode[company_code] -%></span>
    <% end %>
  &nbsp;</p>
</td>
<td>
  <%= split_cost_item.version -%>
</td>
</tr>
