<%= form_with model: split_cost_item, url: cost_split_split_cost_item_path(split_cost_item), class: 'form-inline' do |f| %>
  <td><%= f.text_field :split_cost_item_no, class: 'form-control' -%></td>
  <td><%= f.text_field :split_cost_item_name, class: 'form-control' -%></td>
  <td><%= f.select :split_cost_item_category, SplitCost::SplitCostItem::CATEGORY, {}, class: 'form-control-plaintext form-control' -%></td>
  <td><%= split_cost_item.version -%></td>
  <td>
    <%= f.submit(t('.submit_save'), class: "btn btn-primary") -%>
    <br />
    <%= link_to cost_split_split_cost_item_path(split_cost_item), method: :delete, data: { confirm: '确认删除？' } do %>
      <i class="fa fa-trash"></i>
    <% end %>
  </td>
<% end %>
