<div class="row">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <%= form_tag cost_split_split_cost_items_path, method: :get, class: 'form-inline' do -%>
      <div class="form-group mr-3">
        <label class="mr-1"><%= t(".table.split_cost_item_no") -%>：</label>
        <%= text_field_tag :split_cost_item_no, @split_cost_item_no, class: 'form-control' -%>
      </div>
      <div><%= submit_tag t(".search"), class: 'btn btn-primary' %></div>
    <% end -%>

    <div class="row my-2">
      <div class="col-12">
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th><%= t(".table.split_cost_item_no") -%></th>
              <th><%= t(".table.split_cost_item_name") -%></th>
              <th><%= t(".table.split_cost_item_category") -%></th>
              <th><%= t(".table.version") -%></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @split_cost_items.each do |split_cost_item| %>
              <tr>
                <td><%= split_cost_item.split_cost_item_no -%></td>
                <td><%= split_cost_item.split_cost_item_name -%></td>
                <td><%= split_cost_item.split_cost_item_category -%></td>
                <td><%= split_cost_item.version -%></td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <hr />
    <div class="row my-2">
      <div class="col-12">
        <%= form_with model: @new_split_cost_item, url: cost_split_split_cost_items_path, local: true, class: 'form-inline' do |f| %>
          <div class="form-group mr-3">
            <label class="mr-1"><%= t(".table.split_cost_item_no") -%>：</label>
            <%= f.text_field :split_cost_item_no, class: 'form-control' -%>
          </div>
          <div class="form-group mr-3">
            <label class="mr-1"><%= t(".table.split_cost_item_name") -%>：</label>
            <%= f.text_field :split_cost_item_name, class: 'form-control' -%>
          </div>
          <div class="form-group mr-3">
            <label class="mr-1"><%= t(".table.split_cost_item_category") -%>：</label>
            <%= f.text_field :split_cost_item_category, class: 'form-control' -%>
          </div>
          <div><%= submit_tag t(".new"), class: 'btn btn-secondary' %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
