<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        <%= t(".title") %>
      </h5>
    </div>
    <%= form_with model: cost_split_allocation_base, url: cost_split_allocation_basis_path(cost_split_allocation_base) do |f| %>
    <div class="modal-body">
        <%= f.hidden_field :base_name %>
        <%= f.hidden_field :company_code %>
        <div class="form-group">
          <label for="cost-split-allocation-base-head_count"><%= t('cost_split.allocation_bases.table.head_count') %></label>
          <%= f.text_field :head_count, class: 'form-control', id: 'cost-split-allocation-base-head_count' %>
        </div>
      <table class="table table-bordered">
        <thead>
          <th><%= t('cost_split.allocation_bases.table.head_count') -%></th>
          <th><%= t('cost_split.allocation_bases.table.pmonth') -%></th>
        </thead>
        <tbody>
          <% @csab_histories.each do |csab| %>
            <tr>
              <td><%= csab.head_count -%></td>
              <td><%= csab.pmonth -%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <%= f.submit t("shared.form.submit.save"), class: "btn btn-primary" %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('.close') -%></button>
    </div>
    <% end %>
  </div>
</div>
