<div class="row">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>

    <div class="row my-2">
      <div class="col-12">
        <table class="table table-bordered table-responsive">
          <% short_name_pairs = Bi::OrgOrder.all_company_shortnames_with_code  %>
          <thead>
            <tr>
              <th width="40px"><%= t(".table.i_no") -%></th>
              <th width="170px"><%= t(".table.allocation_base") -%></th>
              <% short_name_pairs.each do |name_pair| -%>
                <th><%= name_pair.first -%></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% SplitCost::CostSplitAllocationBase::CALC_BASE_NAMES.each_with_index do |base_name, index| %>
              <tr>
                <td><%= index + 1 -%></td>
                <td><%= base_name -%></td>
                <% short_name_pairs.each do |name_pair| -%>
                  <td>
                    <% csab = @cost_split_allocation_bases.find { |c| c.base_name == base_name && c.company_code == name_pair.second } %>
                    <% if csab.present? %>
                      <%= csab.head_count -%>
                    <% else %>
                      <%= link_to new_cost_split_allocation_basis_path(base_name: base_name, company_code: name_pair.second), remote: true do -%>
                        <i class="fas fa-file" data-toggle="tooltip" data-placement="top" title="<%= t('.action.new') -%>"></i>
                      <% end %>
                    <% end %>

                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="allocation-bases-modal" class="modal" tabindex="-1" role="dialog"></div>
