<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="container">
      <h3 class="page-title">
        <%= t(".title") %>
      </h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th><%= t(".table.ip") %></th>
            <th><%= t(".table.pc") %></th>
            <th><%= t(".table.action") %></th>
            <th><%= t(".table.time") %></th>
            <th><%= t(".table.line") %></th>
          </tr>
          </thead>
          <tbody>
          <% @hash.each do |key, value| %>
            <tr>
              <td><%= key.split(' ')[0] %></td>
              <td><%= key.split(' ')[1] %></td>
              <td><%= raw value.reverse.collect { |a| a[0] }.join "<br />" %></td>
              <td><%= raw value.reverse.collect { |a| time_ago_in_words(a[1]) }.join "<br />" %></td>
              <td><%= raw value.reverse.collect { |a| a[2] }.join "<br />" %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
