<div class="row justify-content-center">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th><%= t(".table.index") %></th>
          <th><%= t(".table.user_info") %></th>
          <th><%= t(".table.login_time") %></th>
          <th><%= t(".table.last_access_time") %></th>
          <th><%= t(".table.stay_time") %></th>
          <th><%= t(".table.pc") %></th>
          <th><%= t(".table.ip") %></th>
        </tr>
        </thead>
        <tbody>
          <% @rows.each_with_index do |r, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <% user_name = r[1].split("@")[0] %>
              <td><%= User.details_mapping.fetch(user_name, user_name) %></td>
              <td><%= r[3].to_s(:db) %></td>
              <td><%= r[4].to_s(:db) %></td>
              <td><%= distance_of_time_in_words r[3], r[4] %></td>
              <td><%= r[1] %></td>
              <td><%= r[2] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
