<div class="row">
  <div class="col-lg-12">
    <h3 class="page-title text-center">
      <%= t(".title") %>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row border rounded bg-gray-100">
      <div class="col-md-2 pl-0 pr-1 py-2">
        <h6 class="text-center"><%= t(".current_headcount") %></h6>
        <h3 class="text-center"><i class="fa fa-user text-primary h4"></i>&nbsp;&nbsp;<span class="text-warning">543</span> <span class="h6">人</span></h3>
        <h6 class="text-center text-success">-7 %</h6>
      </div>
      <div class="col-md-2 px-1 py-2">
        <h6 class="text-center"><%= t(".average_headcount") %></h6>
        <h3 class="text-center"><i class="fa fa-user text-primary h4"></i>&nbsp;&nbsp;<span class="text-warning">646</span> <span class="h6">人</span></h3>
      </div>
      <div class="col-md-1 px-1 py-2">
        <h5 class="text-right text-warning">外招：</h5>
        <h5 class="text-right text-success">离职：</h5>
      </div>
      <div class="col-md-2 px-1 py-2">
        <h5 class="text-left">本月外招人数&nbsp;&nbsp;<span class="text-warning">11</span> <span class="h6">人</span></h5>
        <h5 class="text-left">本月离职人数&nbsp;&nbsp;<span class="text-success">25</span> <span class="h6">人</span></h5>
      </div>
      <div class="col-md-2 px-1 py-2">
        <h5 class="text-left">累计外招人数&nbsp;&nbsp;<span class="text-warning">13</span> <span class="h6">人</span></h5>
        <h5 class="text-left">累计离职人数&nbsp;&nbsp;<span class="text-success">38</span> <span class="h6">人</span></h5>
      </div>
      <div class="col-md-2 pr-0 pl-1 py-2">
        <h5 class="text-left">预计X月入职人数&nbsp;<span class="text-warning">11</span> <span class="h6">人</span></h5>
        <h5 class="text-left">离职率&nbsp;&nbsp;<span class="text-success">16</span> <span class="h6">%</span></h5>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-2">
    <div class="row">
      <div class="col-md-3 px-0">
          <div class="border rounded bg-gray-100 my-1 mr-1">
            <h6 class="text-center"><%= t(".contract_signings_amount") %></h6>
          </div>
      </div>
      <div class="col-md-3 px-0">
          <div class="border rounded bg-gray-100 my-1 mx-1">
            <h6 class="text-center"><%= t(".receive_amount") %></h6>
          </div>
      </div>
      <div class="col-md-3 px-0">
          <div class="border rounded bg-gray-100 my-1 mx-1">
            <h6 class="text-center"><%= t(".receive_amount") %></h6>
          </div>
      </div>
      <div class="col-md-3 px-0">
          <div class="border rounded bg-gray-100 my-1 ml-1">
            <h6 class="text-center"><%= t(".receive_amount") %></h6>
          </div>
      </div>
    </div>
  </div>
</div>
