<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"><%= knowledge.question -%></h5>
      <a class="close" data-dismiss="modal" aria-label="Close">
        <i class="fas fa-window-close"></i>
      </a>
    </div>
<%= form_with(model: knowledge, local: false, url: company_knowledge_maintain_path(knowledge), class: 'form-horizontal') do |f| %>
    <div class="modal-body">
  <div class="form-group row">
    <label class="col-md-2 col-form-label"><%= f.label :category_1 -%></label>
    <div class="col-md-10">
      <%= f.select :category_1, options_for_select(@category_1_list, selected = knowledge.category_1), {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label"><%= f.label :category_2 -%></label>
    <div class="col-md-10">
      <%= f.text_field :category_2, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label"><%= f.label :category_3 -%></label>
    <div class="col-md-10">
      <%= f.text_field :category_3, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="form-check">
        <%= f.check_box :shanghai_only, class: 'form-check-input' %>
        <%= f.label t('company.knowledge_maintains.index.table.shanghai_only'), class: 'form-check-label' -%>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label"><%= f.label :question -%></label>
    <div class="col-md-10">
      <%= f.text_field :question, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label"><%= f.label :answer -%></label>
    <div class="col-md-10">
      <%= f.rich_text_area :answer, class: 'form-control' %>
    </div>
  </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('.close') -%></button>
      <button class="btn btn-primary" type="submit">
      <i class="fa fa-dot-circle-o"></i> Submit</button>
    </div>
<% end %>
  </div>
</div
