<%- content_for :action_bar do %>
  <ol>
    <li class="action_bar-item">
      <%= link_to t('.actions.new'), new_company_knowledge_maintain_path, class: 'btn text-primary' %>
    </li>
    <li class="action_bar-item">
      <%= link_to t('.actions.report'), export_company_knowledge_maintains_path(format: :csv), class: 'btn text-primary' %>
    </li>
  </ol>
<% end %>

<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="container">
      <h3 class="page-title">
        <%= t(".title") %>
      </h3>
      <%= form_tag company_knowledge_maintains_path, method: :get, class: 'form-inline' do -%>
        <div class="form-group">
          <label class="mr-1" for="select-category-1"><%= t(".table.category_1") -%>：</label>
          <%= select_tag 'category_1', options_for_select(@category_1_list, params[:category_1]), include_blank: true, class: 'form-control', id: 'select-category-1' %>
        </div>
        <div class="form-group">
          <label class="mr-1" for="select-category-2"><%= t(".table.category_2") -%>：</label>
          <%= select_tag 'category_2', options_for_select(@category_2_list, params[:category_2]), include_blank: true, class: 'form-control', id: 'select-category-2' %>
        </div>
        <div class="form-group">
          <label class="mr-1" for="select-category-3"><%= t(".table.category_3") -%>：</label>
          <%= select_tag 'category_3', options_for_select(@category_3_list, params[:category_3]), include_blank: true, class: 'form-control', id: 'select-category-3' %>
        </div>
        <div class="form-group">
          <label class="mr-1" for="text-knowledge-question"><%= t(".table.question") -%>：</label>
          <%= text_field_tag 'question', params[:question], class: 'form-control', id: 'text-knowledge-question' %>
        </div>
        <div><%= submit_tag t(".search"), class: 'btn btn-primary' %></div>
      <% end -%>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= t('.table.category_1') -%></th>
              <th><%= t('.table.category_2') -%></th>
              <th><%= t('.table.category_3') -%></th>
              <th><%= t('.table.question') -%></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @knowledges.each do |knowledge| %>
              <tr>
                <td><%= knowledge.category_1 %></td>
                <td><%= knowledge.category_2 %></td>
                <td><%= knowledge.category_3 %></td>
                <td><%= knowledge.question %></td>
                <td>
                  <%= link_to edit_company_knowledge_maintain_path(knowledge) do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to company_knowledge_maintain_path(knowledge), method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <%= paginate @knowledges %>

    </div>
  </div>
</div>
