<div class="row justify-content-center">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <%= form_tag list_company_knowledge_maintains_path, method: :get, class: 'form-inline' do -%>
      <div class="form-group">
        <label class="mr-1" for="select-category-1"><%= t(".category_1") -%>：</label>
        <%= select_tag 'category_1', options_for_select(@category_1_list, params[:category_1] || "N/A"), class: 'form-control', id: 'select-category-1' %>
      </div>
      <div><%= submit_tag t(".search"), class: 'btn btn-primary' %></div>
    <% end -%>
    <div class="toast" style="position: fixed; right: 10px; top: 60px; z-index: 1">
      <div class="toast-header bg-primary">
        <strong class="mr-auto">Cybros</strong>
      </div>
      <div class="toast-body bg-secondary" id="toast-message"></div>
    </div>
    <div class="container">
    <% @knowledges.each do |knowledge| -%>
      <div id="knowledge-list-row-<%= knowledge.id -%>">
        <%= render partial: 'list_row', locals: { knowledge: knowledge } -%>
      </div>
    <% end %>
    </div>
  </div>
</div>

<div id="knowledge-edit-modal" class="modal" tabindex="-1" role="dialog"></div>
