<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="container">
      <h3 class="page-title">
        <%= t(".title") %>
      </h3>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th><%= t(".table.task_id") %></th>
            <th><%= t(".table.process_name") %></th>
            <th><%= t(".table.incident") %></th>
            <th><%= t(".table.step_label") %></th>
            <th><%= t(".table.assigned_to_user") %></th>
            <th><%= t(".table.start_time") %></th>
          </tr>
          </thead>
          <tbody>
          <% @tasks.each do |t| %>
            <tr>
              <td><%= t[0] %></td>
              <td><%= t[1] %></td>
              <td><%= t[2] %></td>
              <td><%= t[3] %></td>
              <td><%= t[4] %></td>
              <td><%= time_tag t[5] %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
