<div class="row">
  <div class="col-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <%= form_tag report_labor_cost_monthly_adjusts_path, method: :get, class: 'form-inline' do -%>
      <div class="form-group m-1">
        <label class="mr-1"><%= t(".month_name") -%>：</label>
        <%= select_tag 'month_name', options_for_select(@all_month_names, @month_name), class: 'form-control' %>
      </div>
      <div class="m-1">
        <%= submit_tag t(".confirm"), class: 'btn btn-thape-color' %>
      </div>
    <% end -%>
    <div class="row mt-3">
      <div class="col-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= t('.clerk_code') -%></th>
              <th><%= t('.chinese_name') -%></th>
              <th><%= t('.company_name') -%></th>
              <th><%= t('.department') -%></th>
              <th><%= t('.position_name') -%></th>

              <th><%= t('.user_cost_type') -%></th>
              <th><%= t('.user_job_type') -%></th>
              <th><%= t('.amount') -%></th>
              <th><%= t('.user_status.title') -%></th>
              <th><%= t('.adjust_user') -%></th>
              <th><%= t('.adjust_reason') -%></th>
              <th><%= t('.admin_action') -%></th>
            </tr>
          </thead>
          <tbody>
            <% @cspms.each do |cspm| %>
              <tr>
                <td><%= cspm.clerk_code -%></td>
                <td><%= cspm.chinese_name -%></td>
                <td><%= cspm.company_name -%></td>
                <td><%= cspm.department_name -%></td>
                <td><%= cspm.position_name -%></td>

                <td><%= cspm.user_cost_type_name -%></td>
                <td><%= cspm.user_job_type_name -%></td>
                <td><%= cspm.amount -%></td>
                <td>
                  <% if cspm.locked_at.present? %>
                    <span class="badge badge-danger">
                      <%= t(".user_status.locked") %>
                    </span>
                  <% end %>
                </td>
                <td><%= cspm.adjust_user_name -%></td>
                <td><%= cspm.adjust_reason -%></td>
                <td>
                  <%= link_to report_labor_cost_monthly_adjust_path(id: cspm.id, month_name: @month_name), method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-12">
        <%= paginate @cspms %>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <strong><%= t('.adjust_form.header') %></strong>
      </div>
      <%= form_with url: report_labor_cost_monthly_adjusts_path, class: 'form-horizontal', local: true do |f| %>
        <%= hidden_field_tag :month_name, @month_name -%>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="mr-1"><%= t(".adjust_form.ncworkno") -%>：</label>
                <%= select_tag 'ncworkno', options_from_collection_for_select(User.where(clerk_code: @ncworkno), "clerk_code", "chinese_name"), class: 'form-control-plaintext form-control', id: 'ncworkno-select', data: { controller: 'ui--ncworkno-select', 'ui--ncworkno-select-url-value': '/ui/ncworkno_select.json' } -%>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="select-out-company-code"><%= t('.adjust_form.out_company_code') %></label>
                <%= select_tag :out_company_code, options_for_select(@org_codes), class: 'form-control-plaintext form-control', id: 'select-out-company-code', data: { remote: true, type: :script, url: url_for(controller: 'report/labor_cost_monthly_adjusts', action: 'out_company_code_change', format: 'js')} %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group" id="out-department-code-container">
                <%= render partial: 'out_department_code_select', locals: { dept_codes: @dept_codes } %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group" id="out-position-code-container">
                <%= render partial: 'out_position_code_select', locals: { position_codes: @position_codes } %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="select-out-user-cost-type"><%= t('.adjust_form.out_user_cost_type_id') %></label>
                <%= select_tag 'out_user_cost_type_id', options_from_collection_for_select(@user_cost_types, "id", "name", @user_cost_type_id), class: 'form-control-plaintext form-control' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="select-in-company-code"><%= t('.adjust_form.in_company_code') %></label>
                <%= select_tag :in_company_code, options_for_select(@org_codes), class: 'form-control-plaintext form-control', id: 'select-in-company-code', data: { remote: true, type: :script, url: url_for(controller: 'report/labor_cost_monthly_adjusts', action: 'in_company_code_change', format: 'js')} %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group" id="in-department-code-container">
                <%= render partial: 'in_department_code_select', locals: { dept_codes: @dept_codes } %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group" id="in-position-code-container">
                <%= render partial: 'in_position_code_select', locals: { position_codes: @position_codes } %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="select-in-user-cost-type"><%= t('.adjust_form.in_user_cost_type_id') %></label>
                <%= select_tag 'in_user_cost_type_id', options_from_collection_for_select(@user_cost_types, "id", "name", @user_cost_type_id), class: 'form-control-plaintext form-control' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="text-input-adjustment-amount"><%= t('.adjust_form.adjustment_amount') %></label>
                <%= text_field_tag :adjustment_amount, @adjustment_amount, class: 'form-control', id: 'text-input-adjustment-amount' -%>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-form-label" for="text-input-adjustment-reason"><%= t('.adjust_form.adjustment_reason') %></label>
                <%= text_field_tag :adjustment_reason, @adjustment_reason, class: 'form-control', id: 'text-input-adjustment-reason' -%>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <%= f.submit t('.adjust_form.submit'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
