<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th width="28%"><%= t("report.subsidiary_complete_values.show.table.sales_contract_code_name") -%></th>
      <th width="27%"><%= t("report.subsidiary_complete_values.show.table.project_code_name") -%></th>
      <th width="10%"><%= t("report.subsidiary_complete_values.show.table.sumamount") -%></th>
      <th width="15%"><%= t("report.subsidiary_complete_values.show.table.confirmdate") -%></th>
    </tr>
  </thead>
  <tbody>
    <% rows.each do |r| %>
      <tr>
        <td>
          <%= r.contractcode -%><br />
          <%= r.salescontractname -%>
        </td>
        <td>
          <%= r.projectcode -%><br />
          <%= r.projectname -%>
        </td>
        <td><%= r.sumamount -%></td>
        <td><%= r.confirmdate -%></td>
      </tr>
    <% end %>
  </tbody>
</table>
