<div class="row">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title", company: @selected_company_name) %>
    </h3>
    <%= form_tag report_subsidiary_complete_value_path, method: :get, class: 'form-inline' do -%>
      <div class="form-group">
        <label class="mr-1"><%= t(".company_name") -%>：</label>
        <%= select_tag 'company_name', options_for_select(@all_company_names, @selected_company_name), class: 'form-control' %>
      </div>
      <div class="form-group">
        <label class="mr-1"><%= t(".month_name") -%>：</label>
        <%= select_tag 'month_name', options_for_select(@all_month_names, @month_name), class: 'form-control' %>
      </div>
      <div><%= submit_tag t(".confirm"), class: 'btn btn-primary' %></div>
    <% end -%>
    <div class="row">
     <div class="col-lg-12 p-2">
       <h5 class="text-center">至<%= @end_of_month.year -%>年<%= @end_of_month.month -%>月,<%= @selected_short_company_name -%>累计完成产值 <span style="color:red"><%= @sum_complete_value_totals -%> 亿元</span>；</h5>
       <h5 class="text-center">至<%= @end_of_month.year -%>年<%= @end_of_month.month -%>月,<%= @selected_short_company_name -%>预计全年完成产值 <span style="color:red"><%= @sum_complete_value_year_totals -%> 亿元</span>。</h5>
     </div>
    </div>
    <div id="subsidiary-complete-values-chart"
      data-controller="subsidiary-complete-values"
      data-action="resize@window->subsidiary-complete-values#layout"
      data-subsidiary-complete-values-x_axis="<%= @all_department_names.to_json -%>"
      data-subsidiary-complete-values-complete_value_totals="<%= @complete_value_totals.to_json -%>"
      data-subsidiary-complete-values-complete_value_year_totals="<%= @complete_value_year_totals.to_json -%>"
      data-subsidiary-complete-values-complete_value_year_remains="<%= @complete_value_year_remains.to_json -%>"
      style="width: 100%;height: 600px;">
    </div>
  </div>
</div>
