<div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        <%= t(".title", name: @user.chinese_name) %>
      </h5>
    </div>
    <div class="modal-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th rowspan="2"><%= t('.table.company_department') -%></th>
              <th rowspan="2"><%= t('.table.position_with_main') -%></th>
              <th colspan="<%= @user_salary_classifications.length -%>" class="align-middle text-center"><%= t('.table.salary_classification') -%></th>
            </tr>
            <tr>
              <% @user_salary_classifications.each do |user_salary_classification| %>
                <th><%= user_salary_classification.name -%></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% mpts_rates = @user_monthly_part_time_split_rates.collect do |r|
                 [r.position.department&.company_name, r.position.department&.name, r.position.name, r.main_position]
               end.uniq %>
            <% mpts_rates.each do |mpts_rate| %>
              <tr>
                <td>
                  <%= mpts_rate[0] %>
                  <br />
                  <%= mpts_rate[1] %>
                </td>
                <td><%= mpts_rate[2] %> <%= mpts_rate[3] ? '<i class="fa fa-star"></i>'.html_safe : '' %></td>
                <% @user_salary_classifications.each do |user_salary_classification| %>
                  <td></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('.close') -%></button>
    </div>
  </div>
</div>
