<div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
    <%= form_with url: cost_split_set_part_time_person_cost_path(id: @user.id, month_name: @month_name), method: :patch do |f| %>
    <div class="modal-header">
      <h5 class="modal-title">
        <%= t(".title", name: @user.chinese_name) %>
      </h5>
    </div>
    <div class="modal-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th rowspan="2"><%= t('.table.company_department') -%></th>
              <th rowspan="2"><%= t('.table.position_with_main') -%></th>
              <th colspan="<%= @user_salary_classifications.length -%>" class="align-middle text-center"><%= t('.table.salary_classification') -%></th>
            </tr>
            <tr>
              <% @user_salary_classifications.each do |user_salary_classification| %>
                <th><%= user_salary_classification.name -%></th>
              <% end %>
            </tr>
          </thead>
          <tbody data-controller="ui--filling-split-rate-checker"
            data-ui--filling-split-rate-checker-usc-ids-value="[<%= @user_salary_classifications.collect(&:id).join(',') -%>]">
            <% position_ids = @user_monthly_part_time_split_rates.collect(&:position_id).uniq %>
            <% position_ids.each_with_index do |position_id, pos_index| %>
              <% mpts_rates = @user_monthly_part_time_split_rates.find_all { |r| r.position_id == position_id } %>
              <tr>
                <td>
                  <%= mpts_rates.first.position.department&.company_name %>
                  <br />
                  <%= mpts_rates.first.position.department&.name %>
                </td>
                <td><%= mpts_rates.first.position.name %> <%= mpts_rates.first.main_position ? '<i class="fa fa-star"></i>'.html_safe : '' %></td>
                <% @user_salary_classifications.each_with_index do |user_salary_classification, usc_index| %>
                  <% mpts_rate = mpts_rates.find { |r| r.user_salary_classification_id == user_salary_classification.id } %>
                  <%= hidden_field_tag 'ids[]', mpts_rate.id %>
                  <td><%= text_field_tag 'values[]', mpts_rate.salary_classification_split_rate, class: "form-control js-user-salary-classification-#{user_salary_classification.id}", data: { action: 'change->ui--filling-split-rate-checker#change'}, tabindex: (usc_index * position_ids.size + pos_index + 1) %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit t('.save'), class: 'btn btn-primary', disabled: true, id: 'submit-button' -%>
      <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('.close') -%></button>
    </div>
    <% end %>
  </div>
</div>
