<div class="row justify-content-center">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <div class="row">
      <div class="col-lg-12">
        <%= form_tag cost_split_set_part_time_person_costs_path, method: :get, class: 'form-inline' do -%>
          <div class="form-group mr-3">
            <label class="mr-1"><%= t(".month_name") -%>：</label>
            <%= select_tag 'month_name', options_for_select(@all_month_names, @month_name), class: 'form-control' %>
          </div>
          <div class="form-group mr-3">
            <label class="mr-1"><%= t(".ncworkno") -%>：</label>
            <%= select_tag 'ncworkno', options_from_collection_for_select(User.where(clerk_code: @ncworkno), "clerk_code", "chinese_name"), class: 'form-control-plaintext form-control', id: 'ncworkno-select', data: { controller: 'ui--ncworkno-select', 'ui--ncworkno-select-url-value': '/cost_split/set_part_time_person_costs/part_time_people.json' } -%>
          </div>
          <div class="form-group mr-3">
            <label class="mr-1"><%= t(".main_company_code") -%>：</label>
            <%= select_tag 'main_company_code', options_for_select(@company_short_names, @main_company_code), class: 'form-control-plaintext form-control', include_blank: true %>
          </div>
          <div>
            <%= submit_tag t(".confirm"), class: 'btn btn-thape-color' %>
          </div>
        <% end -%>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th rowspan="2"><%= t('.table.clerk_name') -%></th>
            <th rowspan="2"><%= t('.table.company') -%></th>
            <th rowspan="2"><%= t('.table.department') -%></th>
            <th rowspan="2"><%= t('.table.position_with_star') -%></th>
            <th colspan="<%= @user_salary_classifications.length -%>" class="align-middle text-center"><%= t('.table.salary_classification') -%></th>
            <th rowspan="2"><%= t('.table.action') -%></th>
          </tr>
          <tr>
            <% @user_salary_classifications.each do |user_salary_classification| %>
              <th><%= user_salary_classification.name -%></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <% position_ids = user.user_monthly_part_time_split_rates.order(main_position: :desc, position_id: :asc).collect(&:position_id).uniq %>
            <% position_ids.each_with_index do |position_id, index| %>
              <% mpts_rates = user.user_monthly_part_time_split_rates.find_all { |r| r.position_id == position_id } %>
              <tr class="<%= index.zero? ? 'bg-secondary' : '' -%>">
                <% if index.zero? %>
                  <td rowspan="<%= position_ids.length -%>" class="align-middle text-center"><%= user.chinese_name %></td>
                <% end %>
                <td><%= mpts_rates.first.position.department&.company_name %></td>
                <td><%= mpts_rates.first.position.department&.name %></td>
                <td><%= mpts_rates.first.position.name %> <%= mpts_rates.first.main_position ? '<i class="fa fa-star"></i>'.html_safe : '' %></td>
                <% @user_salary_classifications.each do |user_salary_classification| %>
                  <% mpts_rate = mpts_rates.find { |r| r.user_salary_classification_id == user_salary_classification.id } %>
                  <td id="td-mpts-<%= mpts_rate.id -%>"><%= mpts_rate.salary_classification_split_rate %></td>
                <% end %>
                <% if index.zero? %>
                  <td rowspan="<%= position_ids.length -%>" class="align-middle text-center">
                    <%= link_to edit_cost_split_set_part_time_person_cost_path(id: user.id, month_name: @month_name), remote: true do %>
                      <i class="nav-icon fas fa-edit"></i>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @users %>
  </div>
</div>

<div id="set-part-time-person-costs-model" class="modal" tabindex="-1" role="dialog"></div>

