<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="container">
      <h3 class="page-title">
        <%= t(".title") %>
      </h3>
      <%= form_with model: @new_card_white_title, url: person_name_card_white_titles_path, class: 'form-inline' do |f| -%>
        <div class="form-group mb-2">
          <label for="new-original-title"><%= t(".table.original_title") %>：</label>
          <%= f.text_field :original_title, class: 'form-control', id: 'new-original-title' %>
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="new-required-title"><%= t(".table.required_title") %>：</label>
          <%= f.text_field :required_title, class: 'form-control', id: 'new-required-title' %>
        </div>
        <%= f.submit t(".create_button"), class: 'btn btn-primary mb-2' %>
      <% end -%>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th><%= t(".table.original_title") %></th>
            <th><%= t(".table.required_title") %></th>
          </tr>
          </thead>
          <tbody>
          <% @name_card_white_titles.each do |name_card_white_title| %>
            <tr>
              <td>
                <%= name_card_white_title.original_title -%>
              </td>
              <td>
                <%= name_card_white_title.required_title -%>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
