<div class="row">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <div class="row">
      <div class="col-lg-12">
        <%= form_tag report_predict_contract_path, method: :get, class: 'form-inline' do -%>
          <div class="form-group mr-3">
            <label class="mr-1"><%= t(".month_name") -%>：</label>
            <%= select_tag 'month_name', options_for_select(@all_month_names, @month_name), class: 'form-control' %>
          </div>
          <div class="form-group mr-3">
            <label class="mr-1"><%= t(".dept_names") -%>：</label>
              <%= select_tag 'depts', options_for_select(@department_options, params[:depts]), {include_blank: true, multiple: true, class: 'form-control' } %>
          </div>
          <% if params[:in_iframe].present? %>
            <%= hidden_field_tag :in_iframe, true -%>
          <% end %>
          <div>
            <%= submit_tag t(".confirm"), class: 'btn btn-primary' %>
          </div>
        <% end -%>
        <div id="predict-contract-chart"
          data-controller="predict-contracts"
          data-action="resize@window->predict-contracts#layout"
          data-predict-contracts-x_axis="<%= @company_short_names.to_json -%>"
          data-predict-contracts-contract_convert="<%= @contract_convert.to_json -%>"
          data-predict-contracts-convert_real_amount="<%= @convert_real_amount.to_json -%>"
          data-predict-contracts-contract_convert_totals="<%= @contract_convert_totals.to_json -%>"
          style="width: 100%;height: 550px;">
        </div>
        <p>跟踪合同额成功率<80%：商机跟踪状态（恢复跟踪，未报价，已报价，已谈判，已拟合同）所对应的成功率*预计合同额，只计算商机创建时间 2018年1月1号之后。</p>
        <p>跟踪合同额成功率=80%：经营合同状态 （合同审批中、合同审批通过、归档审批中、归档审批未通过、重新编辑）所对应的合同额*80%，只计算合同创建时间 2018年1月1号之后。</p>
      </div>
    </div>
  </div>
</div>

<div id="predict-contract-modal" class="modal" tabindex="-1" role="dialog"></div>
