<div class="row">
  <div class="col-lg-12"
    data-controller="contract-provice-area"
    data-action="resize@window->contract-provice-area#layout"
    data-contract-provice-area-province_sum="<%= @year_sum_省市.to_json -%>">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <%= form_tag report_contract_provice_area_path, method: :get, class: 'form-inline' do -%>
      <div class="form-group">
        <label class="mr-1"><%= t(".year_name") -%>：</label>
        <%= select_tag 'year_name', options_for_select(@all_year_names, @year_name), { class: 'form-control' } %>
      </div>
      <div class="form-group mr-3">
        <label class="mr-1"><%= t(".cateogries_4") -%>：</label>
        <%= select_tag 'cateogries_4', options_for_select(Bi::ContractPrice.住宅方案公建施工图_cateogries_4, @cateogries_4), { multiple: true, class: 'form-control' } %>
      </div>
      <div class="form-group">
        <label class="mr-1"><%= t(".org_names") -%>：</label>
        <%= select_tag 'orgs', options_for_select(@organization_options, @orgs_options), { include_blank: true, multiple: true, class: 'form-control' } %>
      </div>
      <div><%= submit_tag t(".confirm"), class: 'btn btn-primary' %></div>
    <% end -%>
    <div class="row">
      <div class="col-sm-6">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= t(".table.provice") %></th>
                <th><%= t(".table.scale") %></th>
                <th><%= t(".table.previous_scale") %></th>
              </tr>
            </thead>
            <tbody>
            <% @sum_scope.each do |r| %>
              <tr>
                <td><%= r.provincename -%></td>
                <td><%= r.scale&.round(0) -%></td>
                <% previous_r = @sum_previous_scope.find {|pr| pr.provincename == r.provincename } %>
                <td><%= previous_r&.scale&.round(0) -%></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-6">
        <div id="contract-provice-area-china-chart" style="width: 100%;height: 800px;">
        </div>
      </div>
    </div>
  </div>
</div>
