<div class="row">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <div class="row">
      <div class="col-lg-12" data-controller="subsidiary-need-receive-unsign-details"
        data-subsidiary-need-receive-unsign-details-page-length-value="<%= my_per_page -%>"
        data-subsidiary-need-receive-unsign-details-can_hide_item="<%= @can_hide_item -%>">
          <%= form_tag report_subsidiary_need_receive_unsign_detail_path, method: :get do -%>
          <div class="form-row">
            <div class="form-group mx-1">
              <label><%= t(".month_name") -%>：</label>
              <%= select_tag 'month_name', options_for_select(@all_month_names, @month_name), class: 'form-control' %>
            </div>
            <div class="form-group mx-1">
              <label><%= t(".org_name") -%>：</label>
              <%= select_tag 'org_name', options_for_select(@all_org_names, @org_name), include_blank: true, class: 'form-control' %>
            </div>
            <div class="form-group mx-1">
              <label><%= t(".unsign_receive_great_than") -%>：</label>
              <%= text_field_tag 'unsign_receive_great_than', @unsign_receive_great_than, class: 'form-control form-control2' %>
            </div>
            <div class="form-group mx-1">
              <label><%= t(".days_to_min_timecard_fill_great_than") -%>：</label>
              <%= text_field_tag 'days_to_min_timecard_fill_great_than', @days_to_min_timecard_fill_great_than, class: 'form-control form-control2' %>
            </div>
            <% if @can_hide_item -%>
              <div class="form-group mx-1">
                <div class="form-check mt-4">
                  <%= check_box_tag 'show_hide_item', true, @show_hide_item, class: 'form-check-input' %>
                  <label class="form-check-label"><%= t(".show_hide_item") -%></label>
                </div>
              </div>
            <% end %>
            <%= submit_tag t(".confirm"), class: 'btn btn-thape-color my-4' %>
          </div>
          <% end -%>
        <table id="subsidiary-need-receive-unsign-details-datatable"
          class="table table-hover table-bordered table-responsive"
          data-source="<%= report_subsidiary_need_receive_unsign_detail_path(format: :json, org_name: @org_name, unsign_receive_great_than: @unsign_receive_great_than, days_to_min_timecard_fill_great_than: @days_to_min_timecard_fill_great_than, month_name: params[:month_name], show_hide_item: @show_hide_item) %>">
          <thead>
            <tr>
              <th style="width: 60px"><%= t(".table.org_dept_name") -%></th>
              <th><%= t(".table.project_manager_name") -%></th>
              <th style="width: 280px"><%= t(".table.project_item_code_name_status") -%></th>
              <th style="width: 60px" data-toggle="tooltip" data-placement="top" title="<%= t(".table.created_fill_min_timecard_date_tip") -%>"><%= t(".table.created_fill_min_timecard_date") -%></th>
              <th data-toggle="tooltip" data-placement="top" title="<%= t(".table.days_to_min_timecard_fill_tip") -%>"><%= t(".table.days_to_min_timecard_fill") -%></th>
              <th><%= t(".table.predict_amount") -%></th>
              <th data-toggle="tooltip" data-placement="top" title="<%= t(".table.unsign_receive_tip") -%>"><%= t(".table.unsign_receive") -%></th>
              <th><%= t(".table.comment_on_project_item_code") -%></th>
              <% if @can_hide_item -%>
                <th><%= t(".table.admin_action") -%></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="col-lg-12">
        <h6>说明：</h6>
        <p>业务应收款（未签约项目）= Σ商务责任部门为本部门的项目累计工时人力成本X标准产工比，只计未签约项目完成产值≥50万以上，上海公司计算立项时间在2016年8月1日之后的项目，其他子公司计算立项时间在2018年1月1日之后的项目。</p>
      </div>
    </div>
  </div>
</div>
