<div class="row">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <div class="row">
      <div class="col-lg-12" data-controller="subsidiary-need-receive-unsign-details"
        data-subsidiary-need-receive-unsign-details-can_hide_item="<%= @can_hide_item -%>">
        <% if @can_hide_item -%>
          <%= form_tag report_subsidiary_need_receive_unsign_detail_path, method: :get, class: 'form-inline' do -%>
            <div class="form-group mr-3">
              <label class="mr-1"><%= t(".month_name") -%>：</label>
              <%= select_tag 'month_name', options_for_select(@all_month_names, @month_name), class: 'form-control' %>
            </div>
            <div class="form-group mx-2">
              <%= check_box_tag 'show_hide_item', true, @show_hide_item, class: 'form-control' %>
              <label class="mr-1"> <%= t(".show_hide_item") -%></label>
            </div>
            <div>
              <%= submit_tag t(".confirm"), class: 'btn btn-primary' %>
            </div>
          <% end -%>
        <% end %>
        <table id="subsidiary-need-receive-unsign-details-datatable"
          class="table table-hover table-bordered table-responsive"
          data-source="<%= report_subsidiary_need_receive_unsign_detail_path(format: :json, show_hide_item: @show_hide_item) %>">
          <thead>
            <tr>
              <th><%= t(".table.org_name") -%></th>
              <th><%= t(".table.dept_name") -%></th>
              <th><%= t(".table.project_manager_name") -%></th>
              <th><%= t(".table.project_item_code") -%></th>
              <th><%= t(".table.project_item_name") -%></th>
              <th><%= t(".table.created_date") -%></th>
              <th><%= t(".table.unsign_receive") -%></th>
              <th><%= t(".table.f_date") -%></th>
              <th><%= t(".table.min_timecard_fill") -%></th>
              <th><%= t(".table.days_to_min_timecard_fill") -%></th>
              <% if @can_hide_item -%>
                <th><%= t(".table.admin_action") -%></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
