<div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <div>
        <h5 class="modal-title"><%= @company_name -%> <%= @department_name -%> 本年回款率明细</h5>
        <p style="margin-bottom: 0;">说明：完成产值（处理）：当完成产值＜结算产值时需要处理，如结算产值-完成产值≤10%*部门策划产值，取完成产值=结算产值；如结算产值-完成产值＞10%*部门策划产值，取完成产值=结算产值/70%，即认为本项目的回款率等于平均回款率70%。</p>
      </div>
      <a class="close">
        <i class="fas fa-file-export"></i>
      </a>
      <a class="close" data-dismiss="modal" aria-label="Close">
        <i class="fas fa-window-close"></i>
      </a>
    </div>
    <div class="modal-body">
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= t("report.subsidiary_receives.show.table.salescontractcode_name_specialty") -%></th>
      <th><%= t("report.subsidiary_receives.show.table.projectitemcode_name") -%></th>
      <th><%= t("report.subsidiary_receives.show.table.deptvalue") -%></th>
      <th><%= t("report.subsidiary_receives.show.table.sumvalue_nc") -%></th>
      <th><%= t("report.subsidiary_receives.show.table.sumvalue_change_nc") -%></th>
      <th><%= t("report.subsidiary_receives.show.table.realamount_nc") -%></th>
      <th><%= t("report.subsidiary_receives.show.table.sumvalue_now") -%></th>
      <th><%= t("report.subsidiary_receives.show.table.sumvalue_change_now") -%></th>
      <th><%= t("report.subsidiary_receives.show.table.realamount_now") -%></th>
    </tr>
  </thead>
  <tbody>
    <% @data.each do |d| %>
      <tr>
        <td>
          <%= d.salescontractcode -%>
          <br />
          <% sc = @sa_contracts.find { |m| m.salescontractcode == d.salescontractcode }  %>
          <%= sc&.salescontractname -%>
          <br />
          <%= d.specialty -%>
        </td>
        <td>
          <%= d.projectitemcode -%>
          <br />
          <% cs = @contract_sign_details.find { |m| m.projectitemcode == d.projectitemcode }  %>
          <% if cs.present? %>
            <%= cs.projectitemname -%>
          <% else %>
            <% cs = @contract_unsign_details.find { |m| m.projectitemcode == d.projectitemcode }  %>
            <%= cs&.projectitemname %>
          <% end %>
        </td>
        <td><%= d.deptvalue&.round(0) -%></td>
        <td><%= d.sumvalue_nc&.round(0) -%></td>
        <td><%= d.sumvalue_change_nc&.round(0) -%></td>
        <td><%= d.realamount_nc&.round(0) -%></td>
        <td><%= d.sumvalue_now&.round(0) -%></td>
        <td><%= d.sumvalue_change_now&.round(0) -%></td>
        <td><%= d.realamount_now&.round(0) -%></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('.close') -%></button>
    </div>
  </div>
</div
