<%= form_with(model: it_knowledge,
  url: it_knowledge.new_record? ? company_it_knowledge_maintains_path : company_it_knowledge_maintain_path(it_knowledge), local: true, class: 'form-horizontal') do |f| %>
<div class="card-body">
  <div class="form-group row">
    <label class="col-md-3 col-form-label"><%= f.label :application -%></label>
    <div class="col-md-9">
      <%= f.text_field :application, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label"><%= f.label :category -%></label>
    <div class="col-md-9">
      <%= f.text_field :category, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label"><%= f.label :question -%></label>
    <div class="col-md-9">
      <%= f.text_field :question, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label"><%= f.label :answer -%></label>
    <div class="col-md-9">
      <%= f.text_field :answer, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="card-footer">
  <button class="btn btn-sm btn-primary" type="submit">
  <i class="fa fa-dot-circle-o"></i> Submit</button>
</div>
<% end %>
