<div class="row">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <%= form_tag report_project_milestore_path, method: :get, class: 'form-inline' do -%>
      <div class="form-group">
        <label class="mr-1"><%= t(".number_in_row") -%>：</label>
        <%= text_field_tag 'number_in_row', @number_in_row, class: 'form-control form-control2' %>
      </div>
      <div class="form-group mx-2">
        <%= check_box_tag 'show_all_dept', true, @show_all_dept, class: 'form-control' %>
        <label class="mr-1"> <%= t(".show_all_dept") -%></label>
      </div>
      <div><%= submit_tag t(".confirm"), class: 'btn btn-primary' %></div>
    <% end -%>
    <div class="row">
      <div class="col-lg-12">
        <div id="project-milestore-chart"
          data-controller="project-milestores"
          data-action="resize@window->project-milestores#layout"
          data-project-milestores-x_axis="<%= @all_deptnames_in_order.to_json -%>"
          data-project-milestores-milestore_update_rate="<%= @milestore_update_rate.to_json -%>"
          style="width: 100%;height: 350px;">
        </div>
      </div>
      <div class="col-lg-12">
<% @departments.in_groups_of(@number_in_row) do |group| %>
  <table class="table table-bordered">
    <% max_people_in_group = group.collect { |dep_id| @person_count_by_department[dep_id].to_i }.max %>
    <thead class="thead-light">
      <tr>
      <% group.each do |dep| %>
        <th><%= Bi::ShReportDeptOrder.dept_names[dep] || dep || '　'*6 %></th>
      <% end %>
      </tr>
    </thead>
    <tbody>
      <% (0...max_people_in_group).each do |i| %>
        <tr>
          <% group.each do |dep| %>
            <% if dep.present? && @person_by_department_in_sh[dep][i].present? %>
              <% person = @person_by_department_in_sh[dep][i] %>
              <td class="<%= person.refresh_count.to_i.zero? ? 'table-warning' : '' -%>"><%= person.work_name -%>（<%= person.refresh_count.to_i -%> / <%= person.total_count.to_i -%>）</td>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
      </div>
      <div class="col-lg-12">
        <p>说明：</p>
        <p>1) 表格（）内为更新里程碑项目数/总项目数，标记黄色的为本月末更新过项目里程碑的主创/设总。</p>
      </div>
    </div>
  </div>
</div>
