<div class="row">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <%= form_tag report_project_milestore_path, method: :get, class: 'form-inline' do -%>
      <div class="form-group">
        <label class="mr-1"><%= t(".company_name") -%>：</label>
        <%= select_tag 'org_code', options_for_select(@company_short_names, @selected_org_code), class: 'form-control' %>
      </div>
      <div class="form-group">
        <label class="mr-1"><%= t(".month_name") -%>：</label>
        <%= select_tag 'month_name', options_for_select(@all_month_names, @month_name), class: 'form-control' %>
      </div>
      <div class="form-group">
        <label class="mr-1"><%= t(".number_in_row") -%>：</label>
        <%= text_field_tag 'number_in_row', @number_in_row, class: 'form-control form-control2' %>
      </div>
      <% if params[:in_iframe].present? %>
        <%= hidden_field_tag :in_iframe, true -%>
      <% end %>
      <div><%= submit_tag t(".confirm"), class: 'btn btn-primary' %></div>
    <% end -%>
    <div class="row">
      <div class="col-lg-12">
        <div id="project-milestore-chart"
          data-controller="project-milestores"
          data-action="resize@window->project-milestores#layout"
          data-project-milestores-x_axis="<%= @deptnames_in_order.to_json -%>"
          data-project-milestores-department_codes="<%= @department_codes.to_json -%>"
          data-project-milestores-milestore_update_rate="<%= @milestore_update_rate.to_json -%>"
          style="width: 100%;height: 350px;">
        </div>
      </div>
      <div class="col-lg-12">
<% @department_codes.in_groups_of(@number_in_row) do |group| %>
  <table data-controller="project-milestone-table" class="table table-bordered">
    <% max_people_in_group = group.collect { |dep_id| @person_count_by_department[dep_id].to_i }.max %>
    <thead class="thead-light">
      <tr>
      <% group.each do |dep| %>
        <th><%= Bi::OrgReportDeptOrder.all_department_names[dep] || dep || '　'*6 %></th>
      <% end %>
      </tr>
    </thead>
    <tbody>
      <% (0...max_people_in_group).each do |i| %>
        <tr>
          <% group.each do |dep| %>
            <% if dep.present? && @person_by_department_in_sh[dep][i].present? %>
              <% person = @person_by_department_in_sh[dep][i] %>
              <td data-action="click->project-milestone-table#drill_down"
                data-project-milestone-table-work_no="<%= person.work_no -%>"
                data-project-milestone-table-org_code="<%= @selected_org_code -%>"
                class="<%= person.refresh_count.to_i < person.total_count.to_i ? 'table-warning' : '' -%>"><%= person.work_name -%>（<%= person.refresh_count.to_i -%> / <%= person.total_count.to_i -%>）</td>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
      </div>
      <div class="col-lg-12">
        <p>说明：</p>
        <p>
<% if browser.firefox? || browser.safari? %>
<math xmlns="http://www.w3.org/1998/Math/MathML">
  <mi mathvariant="bold-italic" mathcolor="#000000">项目里程碑更新率</mi>
  <mo mathcolor="#000000">=</mo>
  <mfrac mathcolor="#000000">
    <mrow>
      <mi mathcolor="#000000">已签约</mi>
      <mo mathcolor="#000000">&amp;</mo>
      <mi mathcolor="#000000">正常运行</mi>
      <mo mathcolor="#000000">&amp;</mo>
      <mi mathcolor="#000000">当月填报工时</mi>
      <mo mathcolor="#000000">&gt;</mo>
      <mn mathcolor="#000000">200小时</mn>
      <mo mathcolor="#000000">&amp;</mo>
      <mi mathcolor="#000000">里程碑在当月更新</mi>
    </mrow>
    <mrow>
      <mi mathcolor="#000000">已签约</mi>
      <mo mathcolor="#000000">&amp;</mo>
      <mi mathcolor="#000000">正常运行</mi>
      <mo mathcolor="#000000">&amp;</mo>
      <mi mathcolor="#000000">当月填报工时</mi>
      <mo mathcolor="#000000">&gt;</mo>
      <mn mathcolor="#000000">200小时</mn>
    </mrow>
  </mfrac>
  <mtext mathcolor="#000000"> （不计算里程碑100%进度的项目）</mtext>
</math>
<% else %>
  <%= image_tag 'project_milestore_formula.png', width: '90%' %>
<% end %>
        </p>
        <p>表格（）内为更新里程碑项目数/总项目数，标记黄色的为本月末更新过项目里程碑的主创/设总。</p>
      </div>
    </div>
  </div>
</div>

<div id="project-milestore-modal" class="modal" tabindex="-1" role="dialog"></div>
<div id="project-milestore-table-modal" class="modal" tabindex="-1" role="dialog"></div>
