<div class="row justify-content-center">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".form_title") %>
    </h3>
    <%= form_tag complain_company_home_knowledges_path do %>
      <div class="form-group">
        <label for="make-complaints-advice-text-box"><%= t('.my_advice') %></label>
        <%= text_area_tag :my_advice, nil, class: 'form-control', rows: 5, id: 'make-complaints-advice-text-box' %>
      </div>
      <%= submit_tag t('.submit'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
