<div class="sidebar" data-controller="coreui-sidebar">
  <div class="sidebar-header">
    <%= link_to account_report_path, class: "nav-link" do %>
      <i class="fas fa-jedi"></i>
      <%= t("layouts.sidebar.account_report.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item nav-dropdown open">
          <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon fas fa-map"></i>填报</a>
          <ul class="nav-dropdown-items">
            <% if policy(:"Account::OrgYearFill").show? %>
              <%= nav_item controller: 'account/org_year_fills', html_options: { class: "nav-item" } do %>
                <%= link_to account_org_year_fill_path, class: "nav-link ml-1" do %>
                  <i class="nav-icon fas fa-user-alt"></i>
                  <%= t("layouts.sidebar.account_report.account_org_year_fill") %>
                <% end %>
              <% end %>
            <% end %>
            <% if policy(:"Account::OrgMonthFill").show? %>
              <%= nav_item controller: 'account/org_month_fills', html_options: { class: "nav-item" } do %>
                <%= link_to account_org_month_fill_path, class: "nav-link ml-1" do %>
                  <i class="nav-icon fas fa-user-alt"></i>
                  <%= t("layouts.sidebar.account_report.account_org_month_fill") %>
                <% end %>
              <% end %>
            <% end %>
            <% if policy(:"Account::InteriorFill").show? %>
              <%= nav_item controller: 'account/interior_fills', html_options: { class: "nav-item" } do %>
                <%= link_to account_interior_fill_path, class: "nav-link ml-1" do %>
                  <i class="nav-icon fas fa-user-alt"></i>
                  <%= t("layouts.sidebar.account_report.account_interior_fill") %>
                <% end %>
              <% end %>
            <% end %>
            <% if policy(:"Account::DeptYearFill").show? %>
              <%= nav_item controller: 'account/dept_year_fills', html_options: { class: "nav-item" } do %>
                <%= link_to account_dept_year_fill_path, class: "nav-link ml-1" do %>
                  <i class="nav-icon fas fa-user-alt"></i>
                  <%= t("layouts.sidebar.account_report.account_dept_year_fill") %>
                <% end %>
              <% end %>
            <% end %>
            <% if policy(:"Account::DeptMonthFill").show? %>
              <%= nav_item controller: 'account/dept_month_fills', html_options: { class: "nav-item" } do %>
                <%= link_to account_dept_month_fill_path, class: "nav-link ml-1" do %>
                  <i class="nav-icon fas fa-user-alt"></i>
                  <%= t("layouts.sidebar.account_report.account_dept_month_fill") %>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% if policy(:"Account::BusinessTargetOrg").show? %>
        <%= nav_item controller: 'account/business_target_orgs', html_options: { class: "nav-item" } do %>
          <%= link_to account_business_target_org_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-alt"></i>
            <%= t("layouts.sidebar.account_report.account_business_target_org") %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(:"Account::BusinessTargetOrg").show? %>
        <%= nav_item controller: 'account/business_target_org_shows', html_options: { class: "nav-item" } do %>
          <%= link_to account_business_target_org_show_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-alt"></i>
            <%= t("layouts.sidebar.account_report.account_business_target_org_show") %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(:"Account::BusinessTargetDept").show? %>
        <%= nav_item controller: 'account/business_target_depts', html_options: { class: "nav-item" } do %>
          <%= link_to account_business_target_dept_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-alt"></i>
            <%= t("layouts.sidebar.account_report.account_business_target_dept") %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(:"Account::BusinessTargetDeptShow").show? %>
        <%= nav_item controller: 'account/business_target_dept_shows', html_options: { class: "nav-item" } do %>
          <%= link_to account_business_target_dept_show_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-alt"></i>
            <%= t("layouts.sidebar.account_report.account_business_target_dept_show") %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(:"Account::OperationSummaryOrg").show? %>
        <%= nav_item controller: 'account/operation_summary_orgs', html_options: { class: "nav-item" } do %>
          <%= link_to account_operation_summary_org_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-alt"></i>
            <%= t("layouts.sidebar.account_report.account_operation_summary_org") %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(:"Account::OperationSummaryDept").show? %>
        <%= nav_item controller: 'account/operation_summary_depts', html_options: { class: "nav-item" } do %>
          <%= link_to account_operation_summary_dept_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-alt"></i>
            <%= t("layouts.sidebar.account_report.account_operation_summary_dept") %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </nav>
</div>
