<div class="sidebar" data-controller="coreui-sidebar">
  <div class="sidebar-header">
    <%= link_to root_path, class: "nav-link" do %>
      <i class="fas fa-home"></i>
      <%= t("layouts.sidebar.application.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
      <%= nav_item controller: 'person/home', html_options: {class: "nav-item"} do %>
        <%= link_to company_root_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-building"></i>
          <%= t("layouts.sidebar.application.company") %>
        <% end %>
      <% end %>
      <%= nav_item controller: 'person/home', html_options: {class: "nav-item"} do %>
        <%= link_to person_root_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-user-alt"></i>
          <%= t("layouts.sidebar.application.person") %>
        <% end %>
      <% end %>
      <%= nav_item controller: 'report/home', html_options: {class: "nav-item"} do %>
        <%= link_to report_root_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-chart-bar"></i>
          <%= t("layouts.sidebar.application.report") %>
        <% end %>
      <% end %>
      <%= nav_item controller: 'report/operation', html_options: {class: "nav-item"} do %>
        <%= link_to report_operation_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-jedi"></i>
          <%= t("layouts.sidebar.application.operation") %>
        <% end %>
      <% end %>
      <% if policy(:"Bi::KeyCustomerDetail").show? %>
        <%= nav_item controller: 'report/key_customer_detail', html_options: { class: "nav-item" } do %>
          <%= link_to report_key_customer_detail_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-alt"></i>
            <%= t("layouts.sidebar.report.key_customer_details") %>
          <% end %>
        <% end %>
      <% end %>
      <%= nav_item controller: 'report/human_resource', html_options: {class: "nav-item"} do %>
        <%= link_to report_human_resource_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-jedi"></i>
          <%= t("layouts.sidebar.application.human_resource") %>
        <% end %>
      <% end %>
      <%= nav_item controller: 'report/financial_management', html_options: {class: "nav-item"} do %>
        <%= link_to report_financial_management_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-jedi"></i>
          <%= t("layouts.sidebar.application.financial_management") %>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>
