<div class="sidebar" data-controller="coreui-sidebar">
  <div class="sidebar-header">
    <%= link_to root_path, class: "nav-link" do %>
      <i class="fas fa-home"></i>
      <%= t("layouts.sidebar.application.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
      <%= nav_item controller: 'person/home', html_options: {class: "nav-item"} do %>
        <%= link_to company_root_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-building"></i>
          <%= t("layouts.sidebar.application.company") %>
        <% end %>
      <% end %>
      <%= nav_item controller: 'person/home', html_options: {class: "nav-item"} do %>
        <%= link_to person_root_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-user-alt"></i>
          <%= t("layouts.sidebar.application.person") %>
        <% end %>
      <% end %>
      <%= nav_item controller: 'report/home', html_options: {class: "nav-item"} do %>
        <%= link_to report_root_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-chart-bar"></i>
          <%= t("layouts.sidebar.application.report") %>
        <% end %>
      <% end %>
      <% if policy(:"Bi::OrganizationChart").show? %>
        <%= nav_item controller: 'report/organization_chart', html_options: { class: "nav-item" } do %>
          <%= link_to report_organization_chart_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-alt"></i>
            <%= t("layouts.sidebar.report.organization_charts") %>
          <% end %>
        <% end %>
      <% end %>
      <%= nav_item controller: 'report/operation', html_options: {class: "nav-item"} do %>
        <%= link_to report_operation_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-newspaper"></i>
          <%= t("layouts.sidebar.application.operation") %>
        <% end %>
      <% end %>
      <% if policy(:"Bi::KeyCustomerDetail").show? %>
        <%= nav_item controller: 'report/key_customer_detail', html_options: { class: "nav-item" } do %>
          <%= link_to report_key_customer_detail_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-alt"></i>
            <%= t("layouts.sidebar.report.key_customer_details") %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(:"Bi::HrMonthlyReportDataEntry").show? || policy(:"Bi::RtGroupHrMonthly").show? || policy(:"Bi::RtGroupHrMonthlyPure").show? || policy(:"Bi::GroupHrMonthly").show? || policy(:"Bi::GroupHrMonthlyPure").show? || policy(:"Bi::HrCjld").show? || policy(:"Bi::RtGroupSubsidiaryHrMonthly").show? || policy(:"Bi::GroupSubsidiaryHrMonthly").show? || policy(:"Bi::SubsidiaryHrCjld").show? || policy(:"Bi::HrTalentPool").show? || policy(:"Bi::SubsidiaryHumanResource").show? %>
        <%= nav_item controller: 'report/human_resource', html_options: {class: "nav-item"} do %>
          <%= link_to report_human_resource_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-jedi"></i>
            <%= t("layouts.sidebar.application.human_resource") %>
          <% end %>
        <% end %>
      <% end %>

      <% account_report_show = (policy(:"Account::BusinessTargetOrg").show? || policy(:"Account::BusinessTargetDept").show? || policy(:"Account::OperationSummaryOrg").show? || policy(:"Account::OperationSummaryDept").show? || policy(:"Account::OrgYearFill").show?) %>
      <% financial_management_show = (policy(:"Bi::ContractInformationForm").show? || policy(:"Bi::ProjectContractSummary").show? || policy(:"Bi::SingleProjectOverviews").show? || policy(:"Bi::DepartmentalMarketFees").show? || policy(:"Bi::BonusDistribution").show?) %>
      <% operation_entry_show = (policy(:"OperationEntry::CostStructureEntry").show? || policy(:"OperationEntry::CashFlowDeptEntry").show?) %>
      <% if account_report_show || financial_management_show || operation_entry_show %>
      <li class="nav-item nav-dropdown <%= (account_report_show || financial_management_show) ? 'open' : '' %>">
        <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon fas fa-map"></i> <%= t("layouts.sidebar.application.financial_analysis") -%></a>
        <ul class="nav-dropdown-items">
          <% if account_report_show %>
            <%= nav_item controller: 'account/reports', html_options: {class: "nav-item"} do %>
              <%= link_to account_report_path, class: "nav-link" do %>
                <i class="nav-icon fas fa-jedi"></i>
                <%= t("layouts.sidebar.application.account_report") %>
              <% end %>
            <% end %>
          <% end %>
          <% if financial_management_show %>
            <%= nav_item controller: 'report/financial_management', html_options: {class: "nav-item"} do %>
              <%= link_to report_financial_management_path, class: "nav-link" do %>
                <i class="nav-icon fas fa-jedi"></i>
                <%= t("layouts.sidebar.application.financial_management") %>
              <% end %>
            <% end %>
          <% end %>
          <% if operation_entry_show %>
            <%= nav_item controller: 'operation_entry/operation_entry', html_options: {class: "nav-item"} do %>
              <%= link_to operation_entry_root_path, class: "nav-link" do %>
                <i class="nav-icon fas fa-pen-square"></i>
                <%= t("layouts.sidebar.application.operation_entry") %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </li>
      <% end %>
      <% if policy(:"Capital::FundDailyFill").show? || policy(:"Capital::SummaryFundDaily").show? %>
        <%= nav_item controller: 'capital/reports', html_options: {class: "nav-item"} do %>
          <%= link_to capital_report_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-jedi"></i>
            <%= t("layouts.sidebar.application.capital_report") %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(:"SplitCost::Home").show? %>
        <%= nav_item controller: 'cost_split/home', html_options: {class: "nav-item"} do %>
          <%= link_to cost_split_root_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-balance-scale"></i>
            <%= t("layouts.sidebar.application.cost_split") %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>
