<div class="sidebar" data-controller="coreui-sidebar">
  <div class="sidebar-header">
    <%= link_to company_root_path, class: "nav-link" do %>
      <i class="fas fa-home"></i>
      <%= t("layouts.sidebar.company.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
      <% if policy(Company::Knowledge).update? %>
        <%= nav_item controller: 'company/knowledge_maintains', html_options: {class: "nav-item"} do %>
          <%= link_to company_knowledge_maintains_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-alt"></i>
            <%= t("layouts.sidebar.company.knowledge_maintains") %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(Company::PendingQuestion).index? %>
        <%= nav_item controller: 'company/pending_questions', html_options: {class: "nav-item"} do %>
          <%= link_to company_pending_questions_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-alt"></i>
            <%= t("layouts.sidebar.company.pending_questions") %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(Company::DirectQuestion).index? %>
        <%= nav_item controller: 'company/direct_questions', html_options: {class: "nav-item"} do %>
          <%= link_to company_direct_questions_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-alt"></i>
            <%= t("layouts.sidebar.company.direct_questions") %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(Company::Knowledge).drill_down? %>
        <%= nav_item controller: 'company/drill_down_question', html_options: {class: "nav-item"} do %>
          <%= link_to company_drill_down_question_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-alt"></i>
            <%= t("layouts.sidebar.company.drill_down_question") %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(Company::Contract).index? %>
        <%= nav_item controller: 'company/contracts_maps', html_options: {class: "nav-item"} do %>
          <%= link_to company_contracts_map_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-alt"></i>
            <%= t("layouts.sidebar.company.contracts_maps") %>
          <% end %>
        <% end %>
        <%= nav_item controller: 'company/contracts', html_options: {class: "nav-item"} do %>
          <%= link_to company_contracts_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-alt"></i>
            <%= t("layouts.sidebar.company.contracts") %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>
