<div class="sidebar" data-controller="coreui-sidebar">
  <div class="sidebar-header">
    <%= link_to cost_split_root_path, class: "nav-link" do %>
      <i class="fas fa-balance-scale"></i>
      <%= t("layouts.sidebar.cost_split.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
      <% if policy(:"SplitCost::HumanResource").index? %>
        <%= nav_item controller: 'cost_split/human_resources', html_options: { class: "nav-item" } do %>
          <%= link_to cost_split_human_resources_path, class: "nav-link", data: { turbolinks: false } do %>
            <i class="nav-icon fas fa-pen"></i>
            <%= t("layouts.sidebar.cost_split.human_resources") %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(SplitCost::SplitCostItem).index? %>
        <%= nav_item controller: 'cost_split/split_cost_items', html_options: { class: "nav-item" } do %>
          <%= link_to cost_split_split_cost_items_path, class: "nav-link", data: { turbolinks: false } do %>
            <i class="nav-icon fas fa-pen"></i>
            <%= t("layouts.sidebar.cost_split.split_cost_items") %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(SplitCost::CostSplitAllocationBase).index? %>
        <%= nav_item controller: 'cost_split/allocation_bases', html_options: { class: "nav-item" } do %>
          <%= link_to cost_split_allocation_bases_path, class: "nav-link", data: { turbolinks: false } do %>
            <i class="nav-icon fas fa-pen"></i>
            <%= t("layouts.sidebar.cost_split.allocation_bases") %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(SplitCost::UserSplitCostDetail).show? %>
        <%= nav_item controller: 'cost_split/cost_allocation_summaries', html_options: { class: "nav-item" } do %>
          <%= link_to cost_split_cost_allocation_summary_path, class: "nav-link", data: { turbolinks: false } do %>
            <i class="nav-icon fas fa-pen"></i>
            <%= t("layouts.sidebar.cost_split.cost_allocation_summaries") %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>
