<div class="sidebar" data-controller="coreui-sidebar">
  <div class="sidebar-header">
    <%= link_to cost_split_root_path, class: "nav-link" do %>
      <i class="fas fa-balance-scale"></i>
      <%= t("layouts.sidebar.cost_split.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title">管理费用分摊</li>
      <% if policy(:"SplitCost::HumanResource").index? %>
        <%= nav_item controller: 'cost_split/human_resources', html_options: { class: "nav-item" } do %>
          <%= link_to cost_split_human_resources_path, class: "nav-link", data: { turbolinks: false } do %>
            <i class="nav-icon fas fa-users"></i>
            <%= t("layouts.sidebar.cost_split.human_resources") %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(SplitCost::SplitCostItem).index? %>
        <%= nav_item controller: 'cost_split/split_cost_items', html_options: { class: "nav-item" } do %>
          <%= link_to cost_split_split_cost_items_path, class: "nav-link", data: { turbolinks: false } do %>
            <i class="nav-icon fas fa-yen-sign"></i>
            <%= t("layouts.sidebar.cost_split.split_cost_items") %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(SplitCost::CostSplitAllocationBase).index? %>
        <%= nav_item controller: 'cost_split/allocation_bases', html_options: { class: "nav-item" } do %>
          <%= link_to cost_split_allocation_bases_path, class: "nav-link", data: { turbolinks: false } do %>
            <i class="nav-icon fas fa-pen"></i>
            <%= t("layouts.sidebar.cost_split.allocation_bases") %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(SplitCost::UserSplitCostDetail).show? %>
        <%= nav_item controller: 'cost_split/cost_allocation_summaries', html_options: { class: "nav-item" } do %>
          <%= link_to cost_split_cost_allocation_summary_path, class: "nav-link", data: { turbolinks: false } do %>
            <i class="nav-icon fas fa-sliders-h"></i>
            <%= t("layouts.sidebar.cost_split.cost_allocation_summaries") %>
          <% end %>
        <% end %>
      <% end %>
      <%= nav_item controller: 'report/cost_allocation_summary_tables', html_options: { class: "nav-item" } do %>
        <%= link_to report_cost_allocation_summary_table_path, class: "nav-link", data: { turbolinks: false } do %>
          <i class="nav-icon fas fa-table"></i>
          <%= t("layouts.sidebar.cost_split.cost_allocation_summary_tables") %>
        <% end %>
      <% end %>
      <li class="nav-title">人力成本报表</li>
      <% if policy(SplitCost::MonthlySalarySplitRule).index? %>
        <%= nav_item controller: 'cost_split/set_baseline_job_types', html_options: { class: "nav-item" } do %>
          <%= link_to cost_split_set_baseline_job_types_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-desktop"></i>
            <%= t("layouts.sidebar.cost_split.set_baseline_job_types") %>
          <% end %>
        <% end %>
      <% end %>
        <%= nav_item controller: 'cost_split/set_special_person_costs', html_options: { class: "nav-item" } do %>
          <%= link_to cost_split_set_special_person_costs_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-hiking"></i>
            <%= t("layouts.sidebar.cost_split.set_special_person_costs") %>
          <% end %>
        <% end %>
    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>
