<div class="sidebar" data-controller="coreui-sidebar">
  <div class="sidebar-header">
    <%= link_to cost_split_root_path, class: "nav-link" do %>
      <i class="fas fa-balance-scale"></i>
      <%= t("layouts.sidebar.cost_split.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
      <% if policy(:"CostSplit::HumanResource").index? %>
        <%= nav_item controller: 'cost_split/human_resources', html_options: { class: "nav-item" } do %>
          <%= link_to cost_split_human_resources_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-pen"></i>
            <%= t("layouts.sidebar.cost_split.human_resources") %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>
