<div class="sidebar" data-controller="coreui-sidebar">
  <div class="sidebar-header">
    <%= link_to report_financial_management_path, class: "nav-link" do %>
      <i class="fas fa-jedi"></i>
      <%= t("layouts.sidebar.financial_management.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
      <% if policy(:"Bi::HrMonthlyReportDataEntry").show? %>
        <%= nav_item controller: 'report/hr_monthly_report_data_entry', html_options: { class: "nav-item" } do %>
          <%= link_to report_hr_monthly_report_data_entry_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-alt"></i>
            <%= t("layouts.sidebar.human_resource.hr_monthly_report_data_entries") %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </nav>
</div>
