<div class="sidebar" data-controller="coreui-sidebar">
  <div class="sidebar-header">
    <%= link_to report_human_resource_path, class: "nav-link" do %>
      <i class="fas fa-jedi"></i>
      <%= t("layouts.sidebar.human_resource.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
      <% if current_user.admin? %>
        <%= nav_item controller: 'report/human_resources_monthly', html_options: { class: "nav-item" } do %>
          <%= link_to report_human_resources_monthly_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-alt"></i>
            <%= t("layouts.sidebar.human_resource.human_resources_monthlies") %>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user.admin? %>
        <%= nav_item controller: 'report/subsidiary_hr_monthly', html_options: { class: "nav-item" } do %>
          <%= link_to report_subsidiary_hr_monthly_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-alt"></i>
            <%= t("layouts.sidebar.human_resource.subsidiary_hr_monthlies") %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>
