<div class="sidebar" data-controller="coreui-sidebar">
  <div class="sidebar-header">
    <%= link_to index_library_root_path, class: "nav-link" do %>
      <i class="fas fa-chart-bar"></i>
      <%= t("layouts.sidebar.index_library.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
      <%= nav_item controller: 'index_library/index_summary_tables', html_options: { class: "nav-item" } do %>
        <%= link_to index_library_index_summary_table_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-chair"></i>
          <%= t("layouts.sidebar.index_library.index_summary_tables") %>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>
