<div class="sidebar" data-controller="coreui-sidebar">
  <div class="sidebar-header">
    <%= link_to report_operation_path, class: "nav-link" do %>
      <i class="fas fa-newspaper"></i>
      <%= t("layouts.sidebar.operation.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
    <% if current_user.present? && (policy(:"Bi::GroupWorkloading").show? \
      || policy(Bi::WorkHoursDayCountOrg).show? \
      || policy(Bi::CompleteValue).show? \
      || policy(Bi::ContractHold).group_show? ) %>
      <li class="nav-title">整体总览</li>
        <% if current_user.present? && policy(:"Bi::OverallOperatingStatuses").show? && browser.ie? %>
          <%= nav_item controller: 'report/overall_operating_status', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_overall_operating_status_path, class: "nav-link" do %>
              <i class="nav-icon fas fa-chart-line"></i>
              <%= t("layouts.sidebar.operation.overall_operating_status") %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(:"Bi::NationalMarketShares").show? && browser.ie? %>
          <%= nav_item controller: 'report/national_market_share', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_national_market_share_path, class: "nav-link" do %>
              <i class="nav-icon fas fa-file-contract"></i>
              <%= t("layouts.sidebar.operation.national_market_share") %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(:"Bi::CustomerAnalysis").show? && browser.ie? %>
          <%= nav_item controller: 'report/customer_analysis', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_customer_analysis_path, class: "nav-link" do %>
              <i class="nav-icon fas fa-file-contract"></i>
              <%= t("layouts.sidebar.operation.customer_analysis") %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(Bi::YearReportHistory).show? %>
          <%= nav_item controller: 'report/year_report_histories', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_year_report_history_path(view_orgcode_sum: true), class: "nav-link" do %>
              <i class="nav-icon fas fa-chart-line"></i>
              <%= t("layouts.sidebar.operation.year_report_history") %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(Bi::YearReportHistory).show? %>
          <%= nav_item controller: 'report/subsidiaries_operating_comparisons', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_subsidiaries_operating_comparison_path(view_orgcode_sum: true), class: "nav-link" do %>
              <i class="nav-icon fas fa-network-wired"></i>
              <%= t("layouts.sidebar.operation.subsidiaries_operating_comparison") %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(:"Bi::ContractProviceArea").show? %>
          <%= nav_item controller: 'report/contract_provice_areas', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_contract_provice_area_path, class: "nav-link" do %>
              <i class="nav-icon fas fa-truck-pickup"></i>
              <%= t("layouts.sidebar.operation.contract_provice_area") %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(:"Bi::ContractTypesAnalysis").show? %>
          <%= nav_item controller: 'report/contract_types_analyses', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_contract_types_analysis_path, class: "nav-link" do %>
              <i class="nav-icon fas fa-sitemap"></i>
              <%= t("layouts.sidebar.operation.contract_types_analysis") %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(:"Bi::ContractsGeographicalAnalysis").show? %>
          <%= nav_item controller: 'report/contracts_geographical_analyses', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_contracts_geographical_analysis_path, class: "nav-link" do %>
              <i class="nav-icon fas fa-globe"></i>
              <%= t("layouts.sidebar.operation.contracts_geographical_analysis") %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(Bi::ContractSign).show? %>
          <%= nav_item controller: 'report/contract_signings', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_contract_signing_path(view_orgcode_sum: true), class: "nav-link" do %>
              <i class="nav-icon fas fa-database"></i>
              <%= t("layouts.sidebar.operation.contract_signing") %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(Bi::SubCompanyRealReceive).show? && policy(Bi::SubCompanyNeedReceive).show? %>
          <%= nav_item controller: 'report/subsidiary_receives', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_subsidiary_receive_path(view_orgcode_sum: true), class: "nav-link" do %>
              <i class="nav-icon fas fa-cash-register"></i>
              <%= t("layouts.sidebar.operation.subsidiary_receive") %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(Bi::DeptMoneyFlow).show? %>
          <%= nav_item controller: 'report/design_cash_flows', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_design_cash_flow_path(view_orgcode_sum: true), class: "nav-link" do %>
              <i class="nav-icon fas fa-yen-sign"></i>
              <%= t("layouts.sidebar.operation.design_cash_flow") %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(Bi::CrmYearReport).show? %>
          <%= nav_item controller: 'report/crm_year_reports', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_crm_year_report_path, class: "nav-link" do %>
              <i class="nav-icon fas fa-yen-sign"></i>
              <%= t("layouts.sidebar.operation.crm_year_report") %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(Bi::CrmClientReceive).show? %>
          <%= nav_item controller: 'report/customer_receivable_accounts', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_customer_receivable_accounts_path, class: "nav-link" do %>
              <i class="nav-icon fas fa-yen-sign"></i>
              <%= t("layouts.sidebar.operation.customer_receivable_account") %>
            <% end %>
          <% end %>
        <% end %>
        <li class="nav-item nav-dropdown <%= %w[report/group_daily_workloadings report/complete_values report/group_contract_holds report/group_predict_contracts].include?(params[:controller]) && params[:action] == 'show' ? 'open' : '' %>">
          <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon fas fa-map"></i> 子公司运营情况总览</a>
          <ul class="nav-dropdown-items">
            <% if current_user.present? && policy(Bi::WorkHoursDayCountOrg).show? %>
              <%= nav_item controller: 'report/group_daily_workloadings', action: 'show', html_options: { class: "nav-item nav-item-indent" } do %>
                <%= report_link_to report_group_daily_workloading_path, class: "nav-link" do %>
                  <i class="nav-icon fas fa-school"></i>
                  <%= t("layouts.sidebar.operation.group_daily_workloading") %>
                <% end %>
              <% end %>
            <% end %>
            <% if current_user.present? && policy(Bi::CompleteValue).show? %>
              <%= nav_item controller: 'report/complete_values', action: 'show', html_options: { class: "nav-item nav-item-indent" } do %>
                <%= report_link_to report_complete_value_path(view_orgcode_sum: true), class: "nav-link" do %>
                  <i class="nav-icon fas fa-pen-nib"></i>
                  <%= t("layouts.sidebar.operation.complete_value") %>
                <% end %>
              <% end %>
            <% end %>
            <% if current_user.present? && policy(Bi::ContractHold).group_show? %>
              <%= nav_item controller: 'report/group_contract_holds', action: 'show', html_options: { class: "nav-item nav-item-indent" } do %>
                <%= report_link_to report_group_contract_hold_path(view_orgcode_sum: true), class: "nav-link" do %>
                  <i class="nav-icon fas fa-hand-holding-water"></i>
                  <%= t("layouts.sidebar.operation.group_contract_hold") %>
                <% end %>
              <% end %>
            <% end %>
            <% if current_user.present? && policy(Bi::ContractSign).show? %>
              <%= nav_item controller: 'report/group_predict_contracts', action: 'show', html_options: { class: "nav-item nav-item-indent" } do %>
                <%= report_link_to report_group_predict_contract_path(view_orgcode_sum: true), class: "nav-link" do %>
                  <i class="nav-icon fas fa-database"></i>
                  <%= t("layouts.sidebar.operation.group_predict_contract") %>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% end %>
      <li class="nav-title">子公司所级签约情况</li>
        <% if current_user.present? && policy(Bi::ContractSignDept).show? %>
          <%= nav_item controller: 'report/subsidiary_contract_signings', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_subsidiary_contract_signing_path(view_deptcode_sum: true, company_name: current_user.user_company_short_name), class: "nav-link" do %>
              <i class="nav-icon fas fa-file-contract"></i>
              <%= t("layouts.sidebar.operation.company_contract_signing") %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(Bi::ContractSignDetailDate).show? %>
          <%= nav_item controller: 'report/contract_sign_details', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_contract_sign_detail_path, class: "nav-link" do %>
              <i class="nav-icon fas fa-list"></i>
              <%= t("layouts.sidebar.operation.contract_sign_detail", company: current_user.user_company_short_name) %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(Bi::TrackContract).show? %>
          <%= nav_item controller: 'report/predict_contracts', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_predict_contract_path(view_deptcode_sum: true), class: "nav-link" do %>
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <%= t("layouts.sidebar.operation.predict_contract", company: current_user.user_company_short_name) %>
            <% end %>
          <% end %>
        <% end %>
      <li class="nav-title">子公司所级收款情况</li>
        <% if current_user.present? && policy(Bi::SubCompanyRealReceive).show? %>
          <%= nav_item controller: 'report/subsidiary_department_receives', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_subsidiary_department_receive_path(view_deptcode_sum: true), class: "nav-link" do %>
              <i class="nav-icon fas fa-money-check"></i>
              <%= t("layouts.sidebar.operation.subsidiary_department_receive", company: '') %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(Bi::DeptMoneyFlow).show? %>
          <%= nav_item controller: 'report/subsidiary_design_cash_flows', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_subsidiary_design_cash_flow_path(view_deptcode_sum: true), class: "nav-link" do %>
              <i class="nav-icon fas fa-yen-sign"></i>
              <%= t("layouts.sidebar.operation.subsidiary_design_cash_flow", company: '') %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(Bi::SubCompanyNeedReceiveSignDetail).show? %>
          <%= nav_item controller: 'report/subsidiary_need_receive_sign_details', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_subsidiary_need_receive_sign_detail_path, class: "nav-link" do %>
              <i class="nav-icon fas fa-list-ol"></i>
              <%= t("layouts.sidebar.operation.subsidiary_need_receive_sign_detail", company: current_user.user_company_short_name) %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(Bi::SubCompanyNeedReceiveUnsignDetail).show? %>
          <%= nav_item controller: 'report/subsidiary_need_receive_unsign_details', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_subsidiary_need_receive_unsign_detail_path, class: "nav-link" do %>
              <i class="nav-icon fas fa-list-alt"></i>
              <%= t("layouts.sidebar.operation.subsidiary_need_receive_unsign_detail", company: current_user.user_company_short_name) %>
            <% end %>
          <% end %>
        <% end %>
      <li class="nav-title">子公司所级运营情况</li>
        <% if current_user.present? && policy(Bi::WorkHoursDayCountDept).show? %>
          <%= nav_item controller: 'report/subsidiary_daily_workloadings', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_subsidiary_daily_workloading_path(company_name: current_user.user_company_short_name, view_deptcode_sum: true), class: "nav-link" do %>
              <i class="nav-icon fas fa-stopwatch"></i>
              <%= t("layouts.sidebar.operation.company_subsidiary_daily_workloading") %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(Bi::WorkHoursCountCombine).show? %>
          <%= nav_item controller: 'report/subsidiary_people_workloadings', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_subsidiary_people_workloading_path(company_name: current_user.user_company_short_name, view_deptcode_sum: true), class: "nav-link" do %>
              <i class="nav-icon fas fa-stopwatch"></i>
              <%= t("layouts.sidebar.operation.company_subsidiary_people_workloading") %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(Bi::ShRefreshRate).show? %>
          <%= nav_item controller: 'report/project_milestores', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_project_milestore_path, class: "nav-link" do %>
              <i class="nav-icon fas fa-project-diagram"></i>
              <%= t("layouts.sidebar.operation.project_milestore", company: current_user.user_company_short_name) %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(Bi::CompleteValueDept).show? %>
          <%= nav_item controller: 'report/subsidiary_complete_values', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_subsidiary_complete_value_path(view_deptcode_sum: true), class: "nav-link" do %>
              <i class="nav-icon fas fa-draw-polygon"></i>
              <%= t("layouts.sidebar.operation.subsidiary_complete_value") %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.present? && policy(Bi::ContractHold).show? %>
          <%= nav_item controller: 'report/contract_holds', action: 'show', html_options: { class: "nav-item" } do %>
            <%= report_link_to report_contract_hold_path(view_deptcode_sum: true), class: "nav-link" do %>
              <i class="nav-icon fas fa-business-time"></i>
              <%= t("layouts.sidebar.operation.contract_hold", company: current_user.user_company_short_name) %>
            <% end %>
          <% end %>
        <% end %>
      <% if current_user.admin? && policy(Bi::CompleteValue).show? %>
        <%= nav_item controller: 'report/yearly_subsidiary_complete_values', action: 'show', html_options: { class: "nav-item" } do %>
          <%= report_link_to report_yearly_subsidiary_complete_value_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-draw-polygon"></i>
            <%= t("layouts.sidebar.operation.yearly_subsidiary_complete_value", company: current_user.user_company_short_name) %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>
