<div class="sidebar">
  <div class="sidebar-header">
    <%= link_to report_operation_path, class: "nav-link" do %>
      <i class="fas fa-jedi"></i>
      <%= t("layouts.sidebar.operation.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
      <%= nav_item controller: 'report/subsidiary_workloadings', action: 'show', html_options: { class: "nav-item" } do %>
        <%= link_to report_subsidiary_workloading_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-stopwatch"></i>
          <%= t("layouts.sidebar.operation.subsidiary_workloading") %>
        <% end %>
      <% end %>
      <% if current_user.present? %>
        <%= nav_item controller: 'report/subsidiary_workloadings', action: 'show', html_options: { class: "nav-item" } do %>
          <%= link_to report_subsidiary_workloading_path(company_name: current_user.user_company_short_name), class: "nav-link" do %>
            <i class="nav-icon fas fa-stopwatch"></i>
            <%= t("layouts.sidebar.operation.company_subsidiary_workloading", company: current_user.user_company_short_name) %>
          <% end %>
        <% end %>
      <% end %>
      <%= nav_item controller: 'report/yearly_subsidiary_workloadings', action: 'show', html_options: { class: "nav-item" } do %>
        <%= link_to report_yearly_subsidiary_workloading_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-stopwatch"></i>
          <%= t("layouts.sidebar.operation.yearly_subsidiary_workloading") %>
        <% end %>
      <% end %>
      <% if current_user.present? && policy(Bi::ContractSign).show? %>
        <%= nav_item controller: 'report/contract_signings', action: 'show', html_options: { class: "nav-item" } do %>
          <%= link_to report_contract_signing_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-file-contract"></i>
            <%= t("layouts.sidebar.operation.contract_signing") %>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user.present? %>
        <%= nav_item controller: 'report/contract_signings', action: 'show', html_options: { class: "nav-item" } do %>
          <%= link_to report_contract_signing_path(company_name: current_user.user_company_short_name), class: "nav-link" do %>
            <i class="nav-icon fas fa-file-contract"></i>
            <%= t("layouts.sidebar.operation.company_contract_signing", company: current_user.user_company_short_name) %>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user.present? && policy(Bi::CompleteValue).show? %>
        <%= nav_item controller: 'report/complete_values', action: 'show', html_options: { class: "nav-item" } do %>
          <%= link_to report_complete_value_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-draw-polygon"></i>
            <%= t("layouts.sidebar.operation.complete_value") %>
          <% end %>
        <% end %>
        <%= nav_item controller: 'report/subsidiary_complete_values', action: 'show', html_options: { class: "nav-item" } do %>
          <%= link_to report_subsidiary_complete_value_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-draw-polygon"></i>
            <%= t("layouts.sidebar.operation.subsidiary_complete_value") %>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user.present? && policy(Bi::SubCompanyRealReceive).show? && policy(Bi::SubCompanyNeedReceive).show? %>
        <%= nav_item controller: 'report/subsidiary_receives', action: 'show', html_options: { class: "nav-item" } do %>
          <%= link_to report_subsidiary_receive_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-cash-register"></i>
            <%= t("layouts.sidebar.operation.subsidiary_receive") %>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user.present? && policy(Bi::TrackContract).show? %>
        <%= nav_item controller: 'report/predict_contracts', action: 'show', html_options: { class: "nav-item" } do %>
          <%= link_to report_predict_contract_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <%= t("layouts.sidebar.operation.predict_contract") %>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user.present? && policy(Bi::ShRefreshRate).show? %>
        <%= nav_item controller: 'report/project_milestores', action: 'show', html_options: { class: "nav-item" } do %>
          <%= link_to report_project_milestore_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-project-diagram"></i>
            <%= t("layouts.sidebar.operation.project_milestore") %>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user.present? && policy(Bi::ContractHold).show? %>
        <%= nav_item controller: 'report/contract_holds', action: 'show', html_options: { class: "nav-item" } do %>
          <%= link_to report_contract_hold_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-business-time"></i>
            <%= t("layouts.sidebar.operation.contract_hold") %>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user.present? && policy(Bi::ContractSignDetailDate).show? %>
        <%= nav_item controller: 'report/contract_sign_details', action: 'show', html_options: { class: "nav-item" } do %>
          <%= link_to report_contract_sign_detail_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-list"></i>
            <%= t("layouts.sidebar.operation.contract_sign_detail") %>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user.present? && policy(Bi::SubCompanyNeedReceiveUnsignDetail).show? %>
        <%= nav_item controller: 'report/subsidiary_need_receive_unsign_details', action: 'show', html_options: { class: "nav-item" } do %>
          <%= link_to report_subsidiary_need_receive_unsign_detail_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-list-alt"></i>
            <%= t("layouts.sidebar.operation.subsidiary_need_receive_unsign_detail") %>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user.present? && policy(Bi::SubCompanyNeedReceiveSignDetail).show? %>
        <%= nav_item controller: 'report/subsidiary_need_receive_sign_details', action: 'show', html_options: { class: "nav-item" } do %>
          <%= link_to report_subsidiary_need_receive_sign_detail_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-list-alt"></i>
            <%= t("layouts.sidebar.operation.subsidiary_need_receive_sign_detail") %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>
