<div class="sidebar" data-controller="coreui-sidebar">
  <div class="sidebar-header">
    <%= link_to operation_entry_root_path, class: "nav-link" do %>
      <i class="fas fa-home"></i>
      <%= t("layouts.sidebar.operation_entry.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
      <% if policy(:"OperationEntry::CostStructureEntry").show? %>
        <%= nav_item controller: 'operation_entry/cost_structure_entries', html_options: { class: "nav-item" } do %>
          <%= link_to operation_entry_cost_structure_entry_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-alt"></i>
            <%= t("layouts.sidebar.operation_entry.cost_structure_entries") %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(:"OperationEntry::CashFlowDeptEntry").show? %>
        <%= nav_item controller: 'operation_entry/cash_flow_dept_entries', html_options: { class: "nav-item" } do %>
          <%= link_to operation_entry_cash_flow_dept_entry_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-user-alt"></i>
            <%= t("layouts.sidebar.operation_entry.cash_flow_dept_entries") %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>
