<div class="sidebar">
  <div class="sidebar-header">
    <%= link_to person_root_path, class: "nav-link" do %>
      <i class="fas fa-home"></i>
      <%= t("layouts.sidebar.person.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
      <%= nav_item controller: 'person/name_cards', html_options: {class: "nav-item"} do %>
        <%= link_to person_name_cards_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-user-alt"></i>
          <%= t("layouts.sidebar.person.name_card") %>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>
