<div class="sidebar">
  <div class="sidebar-header">
    <%= link_to report_root_path, class: "nav-link" do %>
      <i class="fas fa-home"></i>
      <%= t("layouts.sidebar.report.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
      <%= nav_item controller: 'report/tianzhen_logins', html_options: { class: "nav-item" } do %>
        <%= link_to report_tianzhen_logins_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-user-circle"></i>
          <%= t("layouts.sidebar.report.tianzhen_logins") %>
        <% end %>
      <% end %>
      <%= nav_item controller: 'report/subsidiary_workloadings', action: 'show', html_options: { class: "nav-item" } do %>
        <%= link_to report_subsidiary_workloading_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-user-circle"></i>
          <%= t("layouts.sidebar.report.subsidiary_workloading") %>
        <% end %>
      <% end %>
      <% if current_user.user_company_short_name != '上海天华' %>
        <%= nav_item controller: 'report/subsidiary_workloadings', action: 'show', html_options: { class: "nav-item" } do %>
          <%= link_to report_subsidiary_workloading_path(company_name: current_user.user_company_short_name), class: "nav-link" do %>
            <i class="nav-icon fas fa-user-circle"></i>
            <%= t("layouts.sidebar.report.company_subsidiary_workloading", company: current_user.user_company_short_name) %>
          <% end %>
        <% end %>
      <% end %>
      <%= nav_item controller: 'report/yearly_subsidiary_workloadings', action: 'show', html_options: { class: "nav-item" } do %>
        <%= link_to report_yearly_subsidiary_workloading_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-user-circle"></i>
          <%= t("layouts.sidebar.report.yearly_subsidiary_workloading") %>
        <% end %>
      <% end %>
      <%= nav_item controller: 'report/contract_signings', action: 'show', html_options: { class: "nav-item" } do %>
        <%= link_to report_contract_signing_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-user-circle"></i>
          <%= t("layouts.sidebar.report.contract_signing") %>
        <% end %>
      <% end %>
      <%= nav_item controller: 'report/complete_values', action: 'show', html_options: { class: "nav-item" } do %>
        <%= link_to report_complete_value_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-user-circle"></i>
          <%= t("layouts.sidebar.report.complete_value") %>
        <% end %>
      <% end %>
      <%= nav_item controller: 'report/subsidiary_complete_values', action: 'show', html_options: { class: "nav-item" } do %>
        <%= link_to report_subsidiary_complete_value_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-user-circle"></i>
          <%= t("layouts.sidebar.report.subsidiary_complete_value") %>
        <% end %>
      <% end %>
      <%= nav_item controller: 'report/subsidiary_receives', action: 'show', html_options: { class: "nav-item" } do %>
        <%= link_to report_subsidiary_receive_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-user-circle"></i>
          <%= t("layouts.sidebar.report.subsidiary_receive") %>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>
