<div class="sidebar">
  <div class="sidebar-header">
    <%= link_to report_root_path, class: "nav-link" do %>
      <i class="fas fa-chart-bar"></i>
      <%= t("layouts.sidebar.report.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
      <%= nav_item controller: 'report/tianzhen_logins', html_options: { class: "nav-item" } do %>
        <%= link_to report_tianzhen_logins_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-chair"></i>
          <%= t("layouts.sidebar.report.tianzhen_logins") %>
        <% end %>
      <% end %>
      <%= nav_item controller: 'report/yingjianke_logins', html_options: { class: "nav-item" } do %>
        <%= link_to report_yingjianke_logins_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-chair"></i>
          <%= t("layouts.sidebar.report.yingjianke_logins") %>
        <% end %>
      <% end %>
      <% if current_user.present? && policy(Cad::CadSession).index? %>
        <%= nav_item controller: 'report/cim_tools', html_options: { class: "nav-item" } do %>
          <%= link_to report_cim_tools_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-draw-polygon"></i>
            <%= t("layouts.sidebar.report.cim_tools") %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>
