<div class="sidebar" data-controller="coreui-sidebar">
  <div class="sidebar-header">
    <%= link_to account_split_setting_path, class: "nav-link" do %>
      <i class="fas fa-jedi"></i>
      <%= t("layouts.sidebar.account_split_setting.header") %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <ul class="nav">
      <% if policy(SplitCost::MonthlySalarySplitRule).show? %>
        <%= nav_item controller: 'cost_split/set_baseline_job_types', html_options: { class: "nav-item" } do %>
          <%= report_link_to cost_split_set_baseline_job_types_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-desktop"></i>
            <%= t("layouts.sidebar.cost_split.set_baseline_job_types") %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(SplitCost::UserMonthlyPartTimeSplitRate).show? %>
        <%= nav_item controller: 'cost_split/set_part_time_person_costs', html_options: { class: "nav-item" } do %>
          <%= report_link_to cost_split_set_part_time_person_costs_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-thumbs-up"></i>
            <%= t("layouts.sidebar.cost_split.set_part_time_person_costs") %>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(SplitCost::UserMonthlyPartTimeSpecialJobType).show? %>
        <%= nav_item controller: 'cost_split/set_special_person_costs', html_options: { class: "nav-item" } do %>
          <%= report_link_to cost_split_set_special_person_costs_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-hiking"></i>
            <%= t("layouts.sidebar.cost_split.set_special_person_costs") %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </nav>
</div>
