<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        <%= t(".title") %>
      </h5>
    </div>
    <%= form_with model: user_split_cost_setting, url: cost_split_user_split_cost_setting_path(id: user_split_cost_setting.id) do |f| %>
      <%= render partial: 'form_fields', locals: { f: f } -%>
      <div class="modal-footer">
        <%= f.submit t("shared.form.submit.submit"), class: "btn btn-primary" %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('.close') -%></button>
      </div>
    <% end %>
  </div>
</div>
