<div class="row">
  <div class="col-lg-12"
    data-controller="subsidiaries-operating-comparisons"
    data-action="resize@window->subsidiaries-operating-comparisons#layout"
    data-subsidiaries-operating-comparisons-x_axis="<%= @show_org_names.to_json -%>"
    data-subsidiaries-operating-comparisons-most_recent_avg_work_no="<%= JSON.generate(@most_recent_avg_work_no) -%>",
    data-subsidiaries-operating-comparisons-most_recent_avg_staff_no="<%= JSON.generate(@most_recent_avg_staff_no) -%>",
    data-subsidiaries-operating-comparisons-years_dept_values="<%= JSON.generate(@years_dept_values) -%>",
    data-subsidiaries-operating-comparisons-avg_staff_dept_values="<%= JSON.generate(@avg_staff_dept_values) -%>"
    data-subsidiaries-operating-comparisons-avg_work_dept_values="<%= JSON.generate(@avg_work_dept_values) -%>"
    data-subsidiaries-operating-comparisons-years_contract_amounts="<%= JSON.generate(@years_contract_amounts) -%>"
    data-subsidiaries-operating-comparisons-avg_staff_contract_amounts="<%= JSON.generate(@avg_staff_contract_amounts) -%>"
    data-subsidiaries-operating-comparisons-avg_work_contract_amounts="<%= JSON.generate(@avg_work_contract_amounts) -%>"
    data-subsidiaries-operating-comparisons-years_real_amounts="<%= JSON.generate(@years_real_amounts) -%>"
    data-subsidiaries-operating-comparisons-avg_staff_real_amounts="<%= JSON.generate(@avg_staff_real_amounts) -%>"
    data-subsidiaries-operating-comparisons-avg_work_real_amounts="<%= JSON.generate(@avg_work_real_amounts) -%>">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <%= form_tag report_subsidiaries_operating_comparison_path, method: :get, class: 'form-inline' do -%>
      <div class="form-group">
        <label class="mr-1"><%= t(".year_names") -%>：</label>
        <%= select_tag 'year_names', options_for_select(@year_options, @year_names), { include_blank: true, multiple: true, class: 'form-control' } %>
      </div>
      <div class="form-group">
        <label class="mr-1"><%= t(".month_name") -%>：</label>
        <%= select_tag 'month_name', options_for_select(@month_names, @month_name), class: 'form-control' %>
      </div>
      <div class="form-group mr-3">
        <label class="mr-1"><%= t(".org_names") -%>：</label>
          <%= select_tag 'orgs', options_for_select(@organization_options, @orgs_options), { include_blank: true, multiple: true, class: 'form-control' } %>
      </div>
      <div><%= submit_tag t(".confirm"), class: 'btn btn-primary' %></div>
    <% end -%>

    <div class="row">
      <% unless @no_missing_data %>
        <% @missing_org_code_in_year.each_pair do |year, companies| %>
          <% next if companies.blank? %>
          <div class="col-lg-12">
            <h6 class="text-center"><%= year -%>年缺失数据公司：<%= companies.to_sentence -%></h6>
          </div>
        <% end %>
      <% end %>
      <div class="col-lg-12 p-2">
        <h6 class="text-right">截止时间：<%= @last_available_sign_dept_date.year -%>年<%= @last_available_sign_dept_date.month -%>月<%= @last_available_sign_dept_date.day -%>日</h6>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-12">
        <hr />
        <h4 class="px-5">生产合同额</h3>
        <div id="dept-value-chart" style="width: 100%;height: 400px;">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div id="avg-staff-dept-value-chart" style="width: 100%;height: 280px;">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div id="avg-work-dept-value-chart" style="width: 100%;height: 280px;">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <hr />
        <h4 class="px-5">商务合同额</h3>
        <div id="contract-amount-chart" style="width: 100%;height: 400px;">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div id="avg-staff-contract-amount-chart" style="width: 100%;height: 280px;">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div id="avg-work-contract-amount-chart" style="width: 100%;height: 280px;">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <hr />
        <h4 class="px-5">实收款</h3>
        <div id="real-amount-chart" style="width: 100%;height: 400px;">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div id="avg-staff-real-amount-chart" style="width: 100%;height: 280px;">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div id="avg-work-real-amount-chart" style="width: 100%;height: 280px;">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 pt-4">
    <p>备注：</p>
    <p>1）生产合同额：根据已归档的合同额统计策划后归属到部门的设计产值、市场奖励金额及客户维护费金额。取自PM系统中的每月保存版本数据（自2019年9月起使用，此前数据采用商务合同额），虹核审图数据与财务月报同步更新；</p>
    <p>2）商务合同额：根据已归档合同的商务主责归属，统计部门合同额（不含合同切分金额）。取自PM系统中的每月保存版本数据，虹核审图数据与财务月报同步更新；</p>
    <p>3）一线人数：生产部门人数（含所级管理团队）；</p>
    <p>4）全员人数：包含后勤职能部门人数在内的所有人数；</p>
  </div>
</div>
