<div class="row justify-content-center">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th><%= t(".table.org_code") %></th>
          <th><%= t(".table.chinese_name") %></th>
          <th><%= t(".table.email") %></th>
        </tr>
        </thead>
        <tbody>
          <% @manual_cw_access_codes.each do |ac| %>
            <tr>
              <td><%= ac.org_code %></td>
              <td><%= ac.user.chinese_name %></td>
              <td><%= ac.user.email %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
