<div class="row justify-content-center">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>

    <%= form_tag capital_fund_daily_fill_missing_path, method: :get, class: 'form-inline' do -%>
      <div class="form-group">
        <label class="mr-1"><%= t(".month_name") -%>：</label>
        <%= select_tag 'month_name', options_for_select(@all_month_names, @month_name), class: 'form-control' %>
      </div>
      <div><%= submit_tag t(".confirm"), class: 'btn btn-thape-color ml-3' %></div>
    <% end -%>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th><%= t(".table.org_code") %></th>
          <th><%= t(".table.org_name") %></th>
          <th><%= t(".table.chinese_name") %></th>
          <th><%= t(".table.email") %></th>
          <th><%= t(".table.last_report_date") %></th>
          <th><%= t(".table.distance_of_time_in_words_to_now") %></th>
        </tr>
        </thead>
        <tbody>
          <% @org_orders.each do |oo| %>
            <% ac = @manual_cw_access_codes.find { |mcac| mcac.org_code == oo.org_code } %>
            <% next unless ac.present? %>
            <% email = ac.user.email -%>
            <% th_cwtb_day = @th_cwtb_days.find { |d| d.fillmancode == email } %>
            <tr>
              <td><%= ac.org_code %></td>
              <td><%= oo.org_shortname %></td>
              <td><%= ac.user.chinese_name %></td>
              <td><%= email %></td>
              <td><%= th_cwtb_day&.reportdate %></td>
              <td><%= distance_of_time_in_words_to_now(th_cwtb_day.reportdate) if th_cwtb_day&.reportdate.present? %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
