<div class="row">
<div class="col-md-12">
<div class="card">
<div class="card-header">
  <strong><%= t('.form_header') %></strong>

</div>
<%= form_with model: @name_card_apply, url: person_name_cards_path, class: 'form-horizontal', local: true do |f| %>
<div class="card-body">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-chinese-name"><%= t('.name') %></label>
        <div class="col-md-9">
          <%= f.text_field :chinese_name, class: 'form-control', id: 'text-input-chinese-name' %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-english-name"><%= t('.english_name') %></label>
        <div class="col-md-9">
          <%= f.text_field :english_name, class: 'form-control', id: 'text-input-english-name' %>
          <%= f.error_message :english_name, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-company-name"><%= t('.company_name') %></label>
        <div class="col-md-9">
          <%= f.text_field :company_name, class: 'form-control', id: 'text-input-company-name' %>
          <%= f.error_message :company_name, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-en-company-name"><%= t('.en_company_name') %></label>
        <div class="col-md-9">
          <%= f.text_field :en_company_name, class: 'form-control', id: 'text-input-en-company-name' %>
          <%= f.error_message :en_company_name, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-department-name"><%= t('.department_name') %></label>
        <div class="col-md-9">
          <%= f.text_field :department_name, id: 'text-input-department-name', class: 'form-control' %>
          <span class="help-block"><%= t('.department_fill_hint') %></span>
          <%= f.error_message :department_name, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-en-department-name"><%= t('.en_department_name') %></label>
        <div class="col-md-9">
          <%= f.text_field :en_department_name, class: 'form-control', id: 'text-input-en-department-name' %>
          <%= f.error_message :en_department_name, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-title"><%= t('.title') %></label>
        <div class="col-md-9">
          <%= f.text_field :title, class: 'form-control', id: 'text-input-title' %>
          <% if @name_card_title_fill_hint.present? %>
            <span class="help-block"><%= @name_card_title_fill_hint %></span>
          <% else %>
            <span class="help-block"><%= t('.title_fill_hint') %></span>
          <% end %>
          <%= f.error_message :title, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-en-title"><%= t('.en_title') %></label>
        <div class="col-md-9">
          <%= f.text_field :en_title, class: 'form-control', id: 'text-input-en-title' %>
          <%= f.error_message :en_title, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-professional-title"><%= t('.professional_title') %></label>
        <div class="col-md-9">
          <%= f.text_field :professional_title, class: 'form-control', id: 'text-input-professional-title' %>
          <span class="help-block"><%= t('.professional_title_fill_hint') %></span>
          <%= f.error_message :professional_title, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-en-professional-title"><%= t('.en_professional_title') %></label>
        <div class="col-md-9">
          <%= f.text_field :en_professional_title, class: 'form-control', id: 'text-input-en-professional-title' %>
          <%= f.error_message :en_professional_title, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-office-address"><%= t('.office_address') %></label>
        <div class="col-md-9">
          <%= f.select :office_address, Department.office_addresses, {}, id: 'text-input-office-address', class: 'form-control' %>
          <%= f.error_message :office_address, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-email"><%= t('.email') %></label>
        <div class="col-md-9">
          <%= f.email_field :email, class: 'form-control', id: 'text-input-email' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-office-level"><%= t('.office_level') %></label>
        <div class="col-md-9">
          <%= f.text_field :office_level, class: 'form-control', id: 'text-input-office-level' %>
          <%= f.error_message :office_level, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-phone_ext"><%= t('.phone_ext') %></label>
        <div class="col-md-9">
          <%= f.text_field :phone_ext, class: 'form-control', id: 'text-input-phone_ext', placeholder: '12345678-1234' %>
          <span class="help-block"><%= t('.phone_ext_fill_hint') %></span>
          <%= f.error_message :phone_ext, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-mobile"><%= t('.mobile') %></label>
        <div class="col-md-9">
          <%= f.text_field :mobile, class: 'form-control', id: 'text-input-mobile' %>
          <%= f.error_message :mobile, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-fax_no"><%= t('.fax_no') %></label>
        <div class="col-md-9">
          <%= f.text_field :fax_no, class: 'form-control', id: 'text-input-fax_no' %>
          <%= f.error_message :fax_no, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-print_out_box_number"><%= t('.print_out_box_number') %></label>
        <div class="col-md-9">
          <%= f.text_field :print_out_box_number, class: 'form-control', id: 'text-input-print_out_box_number' %>
          <span class="help-block"><%= t('.print_out_box_number_fill_hint') %></span>
          <%= f.error_message :print_out_box_number, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-comment"><%= t('.comment') %></label>
        <div class="col-md-9">
          <%= f.text_area :comment, class: 'form-control', id: 'text-input-comment' %>
          <span class="help-block"><%= t('.comment_fill_hint') %></span>
          <%= f.error_message :comment, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-back_color"><%= t('.back_color') %></label>
        <div class="col-md-9">
          <%= f.select :back_color, NameCardApply.back_color_list, {}, id: 'select-input-back_color', class: 'form-control-plaintext form-control',
            data: { remote: true, type: :script, url: url_for(controller: 'name_cards', action: 'change_image', format: 'js')} %>
          <%= f.error_message :back_color, tag: :span, class: "help-block error-message" %>
          <div id="name-card-back-image">
            <%= image_tag("name_card_back/0.jpg") -%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input-thickness"><%= t('.thickness') %></label>
        <div class="col-md-9">
          <%= f.select :thickness, NameCardApply.thickness_list, {}, id: 'text-input-thickness', class: 'form-control' %>
          <%= f.error_message :thickness, tag: :span, class: "help-block error-message" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-footer">
  <%= f.submit t('.submit'), class: 'btn btn-sm btn-primary' %>
  <div class="col-md-12 mt-3">
    <p>为响应品牌形象升级，名片应用也相应在设计和工艺上升级，请按需求线上申请名片。</p>
    <p>制作时间：每周二、周五，从审批流完成到收货平均共计3日。（举例：小A周一申请名片，周二制作印刷，周五拿到名片实物； 如系统中信息有误或职称需要调整，需审批确认后，再按制作时间制作。）</p>
    <p>请仔细填写以上信息，如提交信息有误，需重做名片，费用所在部门自行承担。</p>
    <p>目前处于试运营状态，如有问题，可联系品牌与公关部咨询</p>
  </div>
</div>
<% end %>
</div>
</div>
</div>
