<td rowspan="3" class="text-left align-middle">
  <p class="badge badge-pill badge-primary"><%= user.chinese_name -%></p>
  <p><%= user.clerk_code -%></p>
  <p><%= user.position_title -%></p>
</td>
<td>
  <p>集团性</p>
</td>
<td>
  <p><%= scs&.group_rate -%>&nbsp;</p>
</td>
<td>
  <p><%= scs&.group_rate_base -%>&nbsp;</p>
</td>
<td>
  <p class="<%= scs&.user_split_cost_group_rate_companies_codes.present? ? 'mb-0' : '' -%>">
    <% scs&.user_split_cost_group_rate_companies_codes&.each do |company_code| %>
      <span class="badge badge-light"><%= Bi::OrgShortName.company_short_names_by_orgcode[company_code] -%></span>
    <% end %>
  &nbsp;</p>
</td>
<td rowspan="3" style="width: 80px">
  <% if scs.present? %>
    <span class="badge badge-light"><%= I18n.t("activerecord.attributes.split_cost.status.#{cost_split_current_status(scs)}") %></span>
    <br />
    <br />
    <%= link_to edit_cost_split_user_split_cost_setting_path(id: scs.id), remote: true, class: 'btn btn-sm' do -%>
      <i class="fas fa-edit" data-toggle="tooltip" data-placement="top" title="<%= t('.action.edit') -%>"></i>版本 <%= scs.version %>
    <% end %>
    <br />
  <% else %>
    <%= link_to new_cost_split_user_split_cost_setting_path(user_id: user.id), remote: true do -%>
      <i class="fas fa-file" data-toggle="tooltip" data-placement="top" title="<%= t('.action.new') -%>"></i>
    <% end %>
  <% end %>
</td>
