<%
  scs ||= user.current_user_split_cost_setting
  scs.org_code ||= user.company_code
  scs.dept_code ||= user.dept_code
  scs.position_title ||= user.position_title

  form_url = if scs.persisted?
    cost_split_user_split_cost_setting_path(scs)
  else
    cost_split_user_split_cost_settings_path
  end
%>
<%= form_with model: scs, url: form_url do |f| %>
  <%= f.hidden_field :user_id, id: nil %>
  <%= f.hidden_field :org_code, id: nil %>
  <%= f.hidden_field :dept_code, id: nil %>
  <%= f.hidden_field :position_title, id: nil %>
  <td><%= user.clerk_code -%></td>
  <td><%= user.chinese_name -%></td>
  <td><%= user.position_title -%></td>
  <td class="pt-1 pb-1">
    <p class="mt-2">集团性</p>
    <p class="mt-2">上海区域</p>
    <p class="mt-3">上海天华</p>
  </td>
  <td class="pt-1 pb-1">
      <%= f.text_field :group_rate, class: 'form-control', class_for_error: "is-invalid", id: nil -%>
      <%= f.error_message :group_rate, class: "invalid-feedback" %>
      <%= f.text_field :shanghai_area, class: 'form-control mt-1', class_for_error: "is-invalid", id: nil -%>
      <%= f.error_message :shanghai_area, class: "invalid-feedback" %>
      <%= f.text_field :shanghai_hq, class: 'form-control mt-1', class_for_error: "is-invalid", id: nil -%>
      <%= f.error_message :shanghai_hq, class: "invalid-feedback" %>
  </td>
  <td class="pt-1 pb-1">
    <p class="mt-2">人数</p>
    <p class="mt-2">人数</p>
    <p class="mt-3">人数</p>
  </td>
  <td class="pt-1 pb-1">
    <p class="mt-2">集团所有公司列表，多选</p>
    <p class="mt-2">上海地区公司+有上海办事处的公司列表，多选</p>
    <p class="mt-3">上海天华</p>
  </td>
  <td><%= scs.version -%></td>
  <td>
    <% if scs.new_record? %>
      <% if show_submit_button %>
        <%= f.submit(t('.submit_new'), class: "btn btn-primary") -%>
      <% else %>
        <%= link_to '重填', cost_split_human_resources_path, class: "btn btn-secondary", data: { turbolinks: false } %>
      <% end %>
    <% elsif show_submit_button && !scs.confirmed %>
      <%= f.submit(t('.submit_save'), class: "btn btn-primary") -%>
    <% elsif scs.errors.present? %>
      <%= link_to '重填', cost_split_human_resources_path, class: "btn btn-secondary", data: { turbolinks: false } %>
    <% elsif !scs.confirmed %>
      <%= link_to '确认', confirm_cost_split_user_split_cost_setting_path(scs), method: :patch, remote: true, class: "btn btn-success" %>
    <% else %>
      <%= link_to '升版', version_up_cost_split_user_split_cost_setting_path(scs), method: :patch, remote: true, class: "btn btn-danger" %>
    <% end %>
  </td>
<% end %>
