<%
  scs = user.current_user_split_cost_setting
  if scs.persisted?
    form_url = cost_split_user_split_cost_setting_path(scs)
    buttom_text = t('.submit_save')
  else
    form_url = cost_split_user_split_cost_settings_path
    buttom_text = t('.submit_new')
  end
%>
<tr id="user-split-cost-setting-<%= user.id -%>">
  <%= form_with model: scs, url: form_url do |f| %>
    <td><%= user.clerk_code -%></td>
    <td><%= user.chinese_name -%></td>
    <td><%= user.position_title -%></td>
    <td>
      集团性
      <br />
      上海区域
      <br />
      上海天华
    </td>
    <td>
      <%= scs.group_rate -%>
      <br />
      <%= scs.shanghai_area -%>
      <br />
      <%= scs.shanghai_hq -%>
    </td>
    <td>
      人数
      <br />
      人数
      <br />
      人数
    </td>
    <td>
      集团所有公司列表，多选
      <br />
      上海地区公司+有上海办事处的公司列表，多选
      <br />
      上海天华
    </td>
    <td><%= scs.version -%></td>
    <td><%= f.submit buttom_text, class: "btn btn-primary" -%></td>
  <% end %>
</tr>
