<div class="row">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <%= form_tag cost_split_human_resources_path, method: :get, class: 'form-inline' do -%>
      <div class="form-group">
        <label class="mr-1"><%= t(".company_name") -%>：</label>
        <%= select_tag 'company_name', options_for_select(@all_company_names, @company_name), class: 'form-control-plaintext form-control', data: { remote: true, type: :script, url: url_for(controller: 'cost_split/human_resources', action: 'change_company', format: 'js')} -%>
      </div>
      <div class="form-group mr-3">
        <label class="mr-1"><%= t(".dept_name") -%>：</label>
          <%= select_tag 'depts', options_for_select(@dept_options, @depts), { id: 'hr-depts-select', include_blank: true, multiple: true, class: 'form-control' } %>
      </div>
      <div><%= submit_tag t(".confirm"), class: 'btn btn-primary' %></div>
    <% end -%>
  </div>
</div>
