<div class="row">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <%= form_tag cost_split_human_resources_path, method: :get, class: 'form-inline' do -%>
      <div class="form-group">
        <label class="mr-1"><%= t(".company_name") -%>：</label>
        <%= select_tag 'company_name', options_for_select(@all_company_names, @company_name), class: 'form-control-plaintext form-control', data: { remote: true, type: :script, url: url_for(controller: 'cost_split/human_resources', action: 'change_company', format: 'js')} -%>
      </div>
      <div class="form-group mr-3">
        <label class="mr-1"><%= t(".dept_name") -%>：</label>
          <%= select_tag 'depts', options_for_select(@dept_options, @depts), { id: 'hr-depts-select', include_blank: true, multiple: true, class: 'form-control' } %>
      </div>
      <div><%= submit_tag t(".confirm"), class: 'btn btn-primary' %></div>
    <% end -%>

    <div class="row mt-2">
      <div class="col-lg-12">
        <table class="table table-bordered table-responsive pb-5">
          <thead>
            <tr>
              <th width="150px"><%= t(".table.clerk_people") -%></th>
              <th width="80px"><%= t(".table.split_type") -%></th>
              <th width="80px"><%= t(".table.split_rate") -%></th>
              <th><%= t(".table.split_base_number") -%></th>
              <th><%= t(".table.split_companies") -%></th>
              <th><%= t(".table.version") -%></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr id="user-split-cost-setting-<%= user.id -%>-r1">
                <%= render partial: 'user_split_cost_setting_row_1', locals: { user: user, scs: user.current_user_split_cost_setting } -%>
              </tr>
              <tr id="user-split-cost-setting-<%= user.id -%>-r2">
                <%= render partial: 'user_split_cost_setting_row_2', locals: { user: user, scs: user.current_user_split_cost_setting } -%>
              </tr>
              <tr id="user-split-cost-setting-<%= user.id -%>-r3">
                <%= render partial: 'user_split_cost_setting_row_3', locals: { user: user, scs: user.current_user_split_cost_setting } -%>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="cost-human-resources-modal" class="modal" tabindex="-1" role="dialog"></div>
