<div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <div>
        <h5 class="modal-title"><%= @plan_values.first.crmshort -%>生产合同额明细</h5>
      </div>
      <a class="close" href="<%= drill_down_dept_value_report_crm_year_report_path(format: 'csv', crmcode: crmcode) -%>">
        <i class="fas fa-file-export"></i>
      </a>
    </div>
    <div class="modal-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= t(".table.salescontractcode") %></th>
              <th><%= t(".table.salescontractname") %></th>
              <th><%= t(".table.contractstatusname") %></th>
              <th><%= t(".table.filingtime") %></th>
              <th><%= t(".table.deptvalue") %></th>
            </tr>
          </thead>
          <tbody>
            <% plan_values.each do |d| %>
              <tr>
                <td><%= d.salescontractcode -%></td>
                <td><%= d.salescontractname -%></td>
                <td><%= d.contractstatusname -%></td>
                <td><%= d.filingtime -%></td>
                <td><%= d.deptvalue -%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('.close') -%></button>
    </div>
  </div>
</div
