<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <div>
        <h5 class="modal-title"><%= @plan_values[0]&.crmshort -%>主要合作团队</h5>
      </div>
      <a class="close" data-dismiss="modal" aria-label="Close">
        <i class="fas fa-window-close"></i>
      </a>
    </div>
    <div class="modal-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= t(".table.rank") %></th>
              <th><%= t(".table.design_group") %></th>
              <th><%= t(".table.design_value") %></th>
            </tr>
          </thead>
          <tbody>
            <% plan_values.each_with_index do |d, index| %>
              <tr>
                <td><%= index + 1 -%></td>
                <td><%= d.crmunitname -%> <%= link_to t('.group_detail'), drill_down_group_detail_report_crm_year_report_path(professioncomcode: d.professioncomcode, crmcode: d.crmcode, year: @year), remote: true -%></td>
                <td><%= d.heji -%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('.close') -%></button>
    </div>
  </div>
</div
