<div class="row"
  data-controller="crm-year-report"
  data-action="resize@window->crm-year-report#layout"
  data-crm-year-report-page-length-value="<%= my_per_page -%>"
  data-crm-year-report-x_axis="<%= @years.to_json -%>"
  data-crm-year-report-top20s="<%= @top20s.to_json -%>"
  data-crm-year-report-top20to50s="<%= @top20to50s.to_json -%>"
  data-crm-year-report-gt50s="<%= @gt50s.to_json -%>"
  data-crm-year-report-others="<%= @others.to_json -%>">
  <div class="col-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <%= form_tag report_crm_year_report_path, method: :get, class: 'form-inline' do -%>
      <%= hidden_field_tag :month_name, @month_name -%>
      <div class="form-group mr-1">
        <label class="mr-1"><%= t(".org_names") -%>：</label>
        <%= select_tag 'orgs', options_for_select(@organization_options, @orgs_options), { include_blank: true, multiple: true, class: 'form-control' } %>
      </div>
      <div>
        <%= submit_tag t(".confirm"), class: 'btn btn-thape-color' %>
      </div>
    <% end -%>
    <div class="row">
      <div class="col-6 mt-2">
        <div id="crm-year-report-chart" style="width: 100%;height: 370px;">
        </div>
      </div>
      <div class="col-6 table-responsive">
        <table class="table table-bordered mt-5">
          <thead>
            <tr>
              <th class="py-3 text-center">单位：百万元</th>
              <th class="py-3 text-center"><%= t('.table.top20') -%></th>
              <th class="py-3 text-center"><%= t('.table.top20to50') -%></th>
              <th class="py-3 text-center"><%= t('.table.gt50') -%></th>
              <th class="py-3 text-center"><%= t('.table.other') -%></th>
              <th class="py-3 text-center"><%= t('.table.total') -%></th>
            </tr>
          </thead>
          <tbody>
            <% @data.each do |d| %>
              <tr>
                <td class="py-3 text-center"><%= d.year -%></td>
                <td class="py-3 text-right"><%= (d.top20 / 100_0000.0).round(1) -%></td>
                <td class="py-3 text-right"><%= (d.top20to50 / 100_0000.0).round(1) -%></td>
                <td class="py-3 text-right"><%= (d.gt50 / 100_0000.0).round(1) -%></td>
                <td class="py-3 text-right"><%= (d.others / 100_0000.0).round(1) -%></td>
                <td class="py-3 text-right"><%= ((d.top20+d.top20to50+d.gt50+d.others) / 100_0000.0).round(1) -%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <%= form_tag report_crm_year_report_path, method: :get, class: 'form-inline' do -%>
      <div class="form-group mr-1">
        <label class="mr-1"><%= t(".month_name") -%>：</label>
        <%= select_tag 'month_name', options_for_select(@all_month_names, @month_name), { class: 'form-control form-control-plain', id: 'select-year' } %>
      </div>
      <% @orgs_options.each do |id| %>
        <%= hidden_field_tag "orgs[]", id %>
      <% end %>
      <div>
        <%= submit_tag t(".confirm"), class: 'btn btn-thape-color' %>
        <%= link_to t('.export'), export_report_crm_year_report_path(month_name: @month_name, format: :csv), class: 'btn' %>
      </div>
    <% end -%>
    <div class="row mt-2">
      <div class="col-12">
        <table id="crm-year-report-datatable"
          class="table table-bordered mt-2 position-relative"
          data-source="<%= report_crm_year_report_path(month_name: @month_name, orgs: @orgs_options, format: :json) -%>">
          <thead>
            <tr>
              <th rowspan="3"><%= t('.table.rank') -%></th>
              <th rowspan="3"><%= t('.table.customer_group') -%></th>
              <th rowspan="3"><%= t('.table.kerrey_trading_area_ranking') -%></th>
              <th rowspan="3"><%= t('.table.customer_ownership') -%></th>
              <th colspan="4" class="text-center"><%= t('.table.contract_title') -%></th>
              <th colspan="3" class="text-center"><%= t('.table.contract_value_at_each_stage') -%></th>
              <th rowspan="3"><%= t('.table.total_contract_value_of_the_group_percent') -%></th>
              <th rowspan="3" style="width: 300px"><%= t('.table.the_top_three_teams_in_cooperation') -%></th>
              <th rowspan="3" style="width: 80px"><%= t('.table.average_contract_value_of_single_project_in_the_past_year') -%></th>
              <th rowspan="3" style="width: 80px"><%= t('.table.average_scale_of_single_project_in_the_past_year') -%></th>
              <th rowspan="3" style="width: 80px"><%= t('.table.nearly_one_year_contract_average_contract_period') -%></th>
              <th rowspan="3" style="width: 50px"><%= t('.table.proportion_of_contract_amount_modification_fee') -%></th>
              <th rowspan="3" style="width: 50px"><%= t('.table.proportion_of_labor_cost_of_bidding_land_acquisition') -%></th>
            </tr>
            <tr>
              <th colspan="2"><%= t('.table.contract_value') -%></th>
              <th colspan="2"><%= t('.table.group_contract_value') -%></th>
              <th rowspan="2"><%= t('.table.scheme') -%></th>
              <th rowspan="2"><%= t('.table.construction_drawing') -%></th>
              <th rowspan="2"><%= t('.table.whole_process') -%></th>
            </tr>
            <tr>
              <th><%= t('.table.contract_value_last_year') -%></th>
              <th><%= t('.table.contract_value_this_year') -%></th>
              <th><%= t('.table.group_contract_value_last_year') -%></th>
              <th><%= t('.table.group_contract_value_this_year') -%></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="crm-year-report-modal" class="modal" tabindex="-1" role="dialog"></div>
