<%= form_with(model: [:admin, user], local: true) do |f| %>
  <div class="form-group">
    <%= f.label :roles %>
    <%= f.select 'role_ids', Role.all.collect { |p| [ p.role_name, p.id ] }, { include_blank: true }, { multiple: true, class: "form-control" } %>
    <%= f.error_message :roles, class: "invalid-feedback" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, id: "user_email", autofocus: true, required: "required", class: "form-control", class_for_error: "is-invalid" %>
    <%= f.error_message :email, class: "invalid-feedback" %>
  </div>

  <div class="form-group">
    <%= f.label :position_title %>
    <%= f.text_field :position_title, id: "user_position_title", class: "form-control", class_for_error: "is-invalid" %>
    <%= f.error_message :position_title, class: "invalid-feedback" %>
  </div>

  <div class="form-group">
    <%= f.label :clerk_code %>
    <%= f.text_field :clerk_code, id: "user_clerk_code", class: "form-control", class_for_error: "is-invalid" %>
    <%= f.error_message :clerk_code, class: "invalid-feedback" %>
  </div>

  <div class="form-group">
    <%= f.label :chinese_name %>
    <%= f.text_field :chinese_name, id: "user_clerk_code", class: "form-control", class_for_error: "is-invalid" %>
    <%= f.error_message :chinese_name, class: "invalid-feedback" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, id: "user_password", autocomplete: "off", required: !user.persisted?, class: "form-control", class_for_error: "is-invalid" %>
    <%= f.error_message :password, class: "invalid-feedback" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, id: "user_password_confirmation", autocomplete: "off", required: !user.persisted?, class: "form-control", class_for_error: "is-invalid" %>
    <%= f.error_message :password_confirmation, class: "invalid-feedback" %>
  </div>

  <%= f.submit (user.persisted? ? t("shared.form.submit.update") : t("shared.form.submit.create")), class: "btn btn-block btn-primary" %>
<% end %>
