<dt class="col-sm-3">
  <%= t(".pt_special_access_codes") %>
</dt>
<dd class="col-sm-9">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('.table.org_code') -%></th>
        <th><%= t('.table.auto_generated_role') -%></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @user.part_time_special_access_codes.each do |ac| %>
        <tr>
          <td><%= Bi::OrgShortName.company_short_names_by_orgcode.fetch(ac.org_code, ac.org_code) -%></td>
          <td>
            <% if ac.auto_generated_role? %>
              <span class="badge badge-info"><%= ac.auto_generated_role -%></span>
            <% end %>
          </td>
          <td>
            <%= link_to '移除', admin_user_manual_pt_special_access_code_path(id: ac.id, user_id: @user.id), method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= form_with model: @user.part_time_special_access_codes.build, url: admin_user_manual_pt_special_access_codes_path(user_id: @user.id), local: false do |f| %>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label class="mr-1"><%= t('.table.org_code') -%>：</label>
        <%= f.select :org_code, @org_codes, { include_blank: false }, class: 'form-control-plaintext form-control' %>
      </div>
      <div class="form-group col-md-2">
        <label class="mr-1">&nbsp;</label>
        <div class="form-control form-button">
          <%= f.submit '添加', class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</dd>
<hr />
