<%- content_for :action_bar do %>
  <ol>
    <li class="action_bar-item">
      <%= link_to t("shared.actions.back"), admin_users_path, class: "btn text-primary" %>
    </li>
    <li class="action_bar-item">
      <%= link_to t("shared.actions.edit"), edit_admin_user_path(@user), class: "btn text-primary" %>
    </li>
    <% if !@user.confirmed? || @user.pending_reconfirmation? %>
      <li class="action_bar-item">
        <%= link_to t(".actions.resend_confirmation_mail"), resend_confirmation_mail_admin_user_path(@user), method: :patch, class: "btn text-primary" %>
      </li>
    <% end %>
    <% if @user.created_by_invite? && !@user.invited_to_sign_up? %>
      <li class="action_bar-item">
        <%= link_to t(".actions.resend_invitation_mail"), resend_invitation_mail_admin_user_path(@user), method: :patch, class: "btn text-primary" %>
      </li>
    <% end %>
    <% unless @user == current_user %>
      <li class="action_bar-item">
        <% if @user.access_locked? %>
          <%= link_to t(".actions.unlock"), unlock_admin_user_path(@user), method: :patch, class: "btn text-danger", data: { confirm: t("admin.users.shared.confirmation.unlock") } %>
        <% else %>
          <%= link_to t(".actions.lock"), lock_admin_user_path(@user), method: :patch, class: "btn text-danger", data: { confirm: t("admin.users.shared.confirmation.lock") } %>
        <% end %>
      </li>
    <% end %>
  </ol>
<% end %>

<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="container">
      <h3 class="page-title">
        <%= @user.class.model_name.human %> #<%= @user.id %>
      </h3>

      <dl class="row">
        <dt class="col-sm-3">
          <%= t(".email") %>
        </dt>
        <dd class="col-sm-9">
          <%= @user.unconfirmed_email || @user.email %>
          <% if @user.unconfirmed_email %>
            <del><%= @user.email %></del>
          <% end %>
        </dd>

        <dt class="col-sm-3">
          <%= t(".position_title") %>
        </dt>
        <dd class="col-sm-9">
          <%= @user.position_title %>
        </dd>

        <dt class="col-sm-3">
          <%= t(".clerk_code") %>
        </dt>
        <dd class="col-sm-9">
          <%= @user.clerk_code %>
        </dd>

        <dt class="col-sm-3">
          <%= t(".chinese_name") %>
        </dt>
        <dd class="col-sm-9">
          <%= @user.chinese_name %>
        </dd>

        <dt class="col-sm-3">
          <%= t(".desk_phone") %>
        </dt>
        <dd class="col-sm-9">
          <%= @user.desk_phone %>
        </dd>

        <dt class="col-sm-3">
          <%= t(".job_level") %>
        </dt>
        <dd class="col-sm-9">
          <%= @user.job_level %>
        </dd>

        <dt class="col-sm-3">
          <%= t(".status") %>
        </dt>
        <dd class="col-sm-9">
          <% if @user.admin? %>
              <span class="badge badge-success">
                <%= t("admin.users.shared.status.admin") %>
              </span>
          <% end %>
          <% unless @user.confirmed? %>
              <span class="badge badge-warning">
                <%= t("admin.users.shared.status.pending_confirmation") %>
              </span>
          <% end %>
          <% if @user.pending_reconfirmation? %>
              <span class="badge badge-warning">
                <%= t("admin.users.shared.status.pending_reconfirmation") %>
              </span>
          <% end %>
          <% if @user.created_by_invite? && !@user.invited_to_sign_up? %>
              <span class="badge badge-warning">
                <%= t("admin.users.shared.status.inviting") %>
              </span>
          <% end %>
          <% if @user.access_locked? %>
              <span class="badge badge-danger">
                <%= t("admin.users.shared.status.locked") %>
              </span>
          <% end %>
          &nbsp;
        </dd>

        <dt class="col-sm-3">
          <%= t(".created_at") %>
        </dt>
        <dd class="col-sm-9">
          <%= time_tag @user.created_at %>
        </dd>

        <dt class="col-sm-3">
          <%= t(".current_sign_in_at") %>
        </dt>
        <dd class="col-sm-9">
          <% if @user.current_sign_in_at %>
            <%= time_tag @user.current_sign_in_at %>
          <% end %>
        </dd>

        <dt class="col-sm-3">
          <%= t(".user_roles") %>
        </dt>
        <dd class="col-sm-9">
          <% @user.roles.each do |role| %>
            <p><strong><%= link_to role.role_name, admin_role_path(id: role.id) -%></strong>
              <% role.attributes.except('id', 'role_name','created_at', 'updated_at').each do |a| %>
                <% next unless a.second == true %>
                <span class="badge badge-info"><%= a.first -%></span>
                <span class="badge badge-secondary"><%= a.second -%></span>
              <% end %>
            </p>
          <% end %>
        </dd>
        <hr />
        <dt class="col-sm-3">
          <%= t(".operation_access_codes") %>
        </dt>
        <dd class="col-sm-9">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= t('.table.access_code') -%></th>
                <th><%= t('.table.org_code') -%></th>
                <th><%= t('.table.dept_code') -%></th>
                <th><%= t('.table.title') -%></th>
                <th><%= t('.table.job_level') -%></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @user.operation_access_codes.each do |code| %>
                <tr>
                  <td><%= code.first -%></td>
                  <td><%= Bi::OrgShortName.company_short_names_by_orgcode.fetch(code.second, code.second) -%></td>
                  <td><%= Bi::PkCodeName.mapping2deptcode.fetch(code.third, code.third) -%></td>
                  <td><%= code.fourth -%></td>
                  <td><%= code.fifth -%></td>
                  <td>
                    <% if code[5].present? %>
                      <%= link_to '移除', admin_user_manual_operation_access_code_path(id: code[5], user_id: @user.id), method: :delete %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= form_with model: @user.manual_operation_access_codes.build, url: admin_user_manual_operation_access_codes_path(user_id: @user.id), local: false do |f| %>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label class="mr-1"><%= t('.table.access_code') -%>：</label>
                <%= f.text_field :code, class: 'form-control form-control2' %>
              </div>
              <div class="form-group col-md-2">
                <label class="mr-1"><%= t('.table.org_code') -%>：</label>
                <%= f.select :org_code, @org_codes, { include_blank: false }, class: 'form-control-plaintext form-control', data: { remote: true, type: :script, url: url_for(controller: 'admin/users', action: 'operation_org_code_change', format: 'js')} %>
              </div>
              <div class="form-group col-md-3">
                <label class="mr-1"><%= t('.table.dept_code') -%>：</label>
                <%= f.select :dept_code, @dept_codes, { include_blank: true }, id: 'select-operation-dept-codes', class: 'form-control' %>
              </div>
              <div class="form-group col-md-2">
                <label class="mr-1"><%= t('.table.title') -%>：</label>
                <%= f.text_field :title, class: 'form-control form-control2' %>
              </div>
              <div class="form-group col-md-2">
                <label class="mr-1"><%= t('.table.job_level') -%>：</label>
                <%= f.text_field :job_level, class: 'form-control form-control2' %>
              </div>
              <div class="form-group col-md-1">
                <label class="mr-1">&nbsp;</label>
                <div class="form-control form-button">
                  <%= f.submit '添加', class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          <% end %>
        </dd>
        <hr />
        <dt class="col-sm-3">
          <%= t(".hr_access_codes") %>
        </dt>
        <dd class="col-sm-9">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= t('.table.hr_rolename') -%></th>
                <th><%= t('.table.org_code') -%></th>
                <th><%= t('.table.dept_code') -%></th>
                <th><%= t('.table.auto_generated_role') -%></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @user.manual_hr_access_codes.each do |ac| %>
                <tr>
                  <td><%= ac.hr_rolename -%></td>
                  <td><%= ac.org_code -%></td>
                  <td><%= ac.dept_code -%></td>
                  <td>
                    <% if ac.auto_generated_role %>
                      <span class="badge badge-info"><%= ac.auto_generated_role -%></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to '移除', admin_user_manual_hr_access_code_path(id: ac.id, user_id: @user.id), method: :delete %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= form_with model: @user.manual_hr_access_codes.build, url: admin_user_manual_hr_access_codes_path(user_id: @user.id), local: false do |f| %>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label class="mr-1"><%= t('.table.hr_rolename') -%>：</label>
                <%= f.select 'hr_rolename', options_for_select(Role::FANRUAN_HR_ROLES), {}, class: 'form-control' %>
              </div>
              <div class="form-group col-md-3">
                <label class="mr-1"><%= t('.table.org_code') -%>：</label>
                <%= f.select :org_code, @org_codes, { include_blank: false }, class: 'form-control-plaintext form-control', data: { remote: true, type: :script, url: url_for(controller: 'admin/users', action: 'hr_org_code_change', format: 'js')} %>
              </div>
              <div class="form-group col-md-3">
                <label class="mr-1"><%= t('.table.dept_code') -%>：</label>
                <%= f.select :dept_code, @dept_codes, { include_blank: true }, id: 'select-hr-dept-codes', class: 'form-control' %>
              </div>
              <div class="form-group col-md-2">
                <label class="mr-1">&nbsp;</label>
                <div class="form-control form-button">
                  <%= f.submit '添加', class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          <% end %>
        </dd>
      </dl>
    </div>
  </div>
</div>
