<%- content_for :action_bar do %>
  <ol>
    <li class="action_bar-item">
      <%= link_to t(".actions.new"), new_person_proof_of_income_path, class: "btn text-primary" %>
    </li>
  </ol>
<% end %>

<div class="row justify-content-center">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <div class="row">
      <div class="col-lg-12" data-controller="proof-of-incomes-lists">
        <table id="proof-of-incomes-lists-datatable"
          class="table table-hover table-bordered table-responsive"
          data-source="<%= person_proof_of_incomes_path(format: :json) %>">
          <thead>
            <tr>
              <th><%= t(".table.employee_name") -%></th>
              <th><%= t(".table.stamp_to_place") -%></th>
              <th><%= t(".table.stamp_comment") -%></th>
              <th><%= t(".table.attachments") -%></th>
              <th><%= t(".table.created_at") -%></th>
              <th><%= t(".table.task_id") -%></th>
              <th><%= t(".table.task_status") -%></th>
              <th><%= t(".table.belong_company_department") -%></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="proof-of-income-modal" class="modal" tabindex="-1" role="dialog"></div>
