<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= t("company.contracts.table.contract_id_and_property") %></th>
      <th><%= t("company.contracts.table.contract_name") %></th>
      <th><%= t("company.contracts.table.amount_total") %></th>
    </tr>
    </thead>
    <tbody>
    <% sas.each do |s| %>
      <tr>
        <td><%= link_to s.salescontractcode, company_contract_sales_contract_path(id: s.salescontractid, contract_id: s.projectcode), remote: true -%> <%= s.contractpropertyname -%></td>
        <td><%= s.salescontractshort %></td>
        <td><%= s.amounttotal %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
