<div class="row">
  <div class="col-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <div class="row">
      <div class="col-lg-12">
        <%= form_tag cost_split_cost_allocation_summary_path, method: :get, class: 'form-inline' do -%>
          <div class="form-group mr-3">
            <label class="mr-1"><%= t(".month_name") -%>：</label>
            <%= select_tag 'month_name', options_for_select(@all_month_names, @month_name), class: 'form-control' %>
          </div>
          <div>
            <%= submit_tag t(".confirm"), class: 'btn btn-thape-color' %>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
  <div class="col-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th rowspan="3">公司</th>
          <th colspan="2" class="align-middle text-center">上海地区属地服务</th>
          <th rowspan="2">体系专家费用</th>
          <th rowspan="3">合计</th>
          <th colspan="3" class="align-middle text-center"><%= @beginning_of_month.month -%>月调整</th>
          <th colspan="3" class="align-middle text-center">下月调整</th>
          <th rowspan="3">动作</th>
        </tr>
        <tr>
          <th>上海天华费用</th>
          <th>上海区域其他子公司费用（含子公司驻上海区域创作中心）</th>
          <th>上海天华费用</th>
          <th>上海区域其他子公司费用（含子公司驻上海区域创作中心）</th>
          <th>体系专家费用</th>
          <th>上海天华费用</th>
          <th>上海区域其他子公司费用（含子公司驻上海区域创作中心）</th>
          <th>体系专家费用</th>
        </tr>
        <tr>
          <th>金额</th>
          <th>金额</th>
          <th>金额</th>
          <th>金额</th>
          <th>金额</th>
          <th>金额</th>
          <th>金额</th>
          <th>金额</th>
          <th>金额</th>
        </tr>
      </thead>
      <tbody>
        <% @split_cost_item_details.each_with_index do |d| %>
          <% ca = @current_adjusts.find {|adj| adj.to_split_company_code == d.to_split_company_code } %>
          <% na = @next_adjusts.find {|adj| adj.to_split_company_code == d.to_split_company_code } || SplitCost::CostSplitCompanyMonthlyAdjust.new(month: @beginning_of_month, to_split_company_code: d.to_split_company_code) %>
          <tr>
            <td><%= Bi::OrgShortName.company_short_names_by_orgcode.fetch(d.to_split_company_code, d.to_split_company_code) %></td>
            <td><%= d.group_cost %></td>
            <td><%= d.shanghai_area_cost %></td>
            <td><%= d.shanghai_hq_cost %></td>
            <td><%= d.group_cost+d.shanghai_area_cost+d.shanghai_hq_cost %></td>
            <td><%= ca&.group_cost_adjust || 0 %></td>
            <td><%= ca&.shanghai_area_cost_adjust || 0 %></td>
            <td><%= ca&.shanghai_hq_cost_adjust || 0 %></td>
            <%= form_with model: na, url: cost_split_cost_split_company_monthly_adjusts_path do |f| %>
              <%= f.hidden_field :to_split_company_code %>
              <%= f.hidden_field :month %>
              <td><%= f.text_field :group_cost_adjust, class: 'form-control' -%></td>
              <td><%= f.text_field :shanghai_area_cost_adjust, class: 'form-control' -%></td>
              <td><%= f.text_field :shanghai_hq_cost_adjust, class: 'form-control' -%></td>
              <td><%= f.submit '保存', class: 'btn btn-primary' -%></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
