<%- content_for :action_bar do %>
  <ol>
    <li class="action_bar-item">
      <%= link_to t('.actions.report_sessions'), report_sessions_report_cim_tools_path(format: :csv), class: 'btn text-primary' %>
    </li>
    <li class="action_bar-item">
      <%= link_to t('.actions.report_operations'), report_operations_report_cim_tools_path(format: :csv), class: 'btn text-primary' %>
    </li>
    <li class="action_bar-item">
      <%= link_to t('.actions.report_all'), report_all_report_cim_tools_path(format: :csv), class: 'btn text-primary' %>
    </li>
  </ol>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <div class="row">
      <div class="col-lg-12" data-controller="cim-tools-sessions"
        data-cim-tools-sessions-page-length-value="<%= my_per_page -%>">
        <table id="cim-tools-sessions-datatable"
          class="table table-hover table-bordered table-responsive"
          data-source="<%= report_cim_tools_path(format: :json) %>">
          <thead>
            <tr>
              <th><%= t(".table.user_name") -%></th>
              <th><%= t(".table.user_company") -%></th>
              <th><%= t(".table.user_department") -%></th>
              <th><%= t(".table.user_title") -%></th>
              <th><%= t(".table.operation") -%></th>
              <th><%= t(".table.ip_mac_address") -%></th>
              <th><%= t(".table.created_at") -%></th>
              <th><%= t(".table.updated_at") -%></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
