<%- content_for :action_bar do %>
  <ol>
    <li class="action_bar-item">
      <%= link_to t('.actions.view_deptcode_sum'),
          report_subsidiary_contract_signing_path(company_name: @short_company_name, month_name: @month_name, view_deptcode_sum: true, in_iframe: params[:in_iframe]), class: 'btn text-primary' %>
    </li>
    <li class="action_bar-item">
      <%= link_to t('.actions.view_deptcode'),
          report_subsidiary_contract_signing_path(company_name: @short_company_name, month_name: @month_name, in_iframe: params[:in_iframe]), class: 'btn text-primary' %>
    </li>
  </ol>
<% end %>

<div class="row">
  <div class="col-lg-12"
    data-controller="subsidiary-contract-signings"
    data-action="resize@window->subsidiary-contract-signings#layout"
    data-subsidiary-contract-signings-in_iframe="<%= params[:in_iframe] -%>"
    data-subsidiary-contract-signings-x_axis="<%= @department_names.to_json -%>"
    data-subsidiary-contract-signings-current_user_companies_short_names="<%= @current_user_companies_short_names.to_json -%>"
    data-subsidiary-contract-signings-second_level_drill="<%= @second_level_drill -%>"
    data-subsidiary-contract-signings-last_available_sign_dept_date="<%= @last_available_sign_dept_date -%>"
    data-subsidiary-contract-signings-company_name="<%= @company_name -%>"
    data-subsidiary-contract-signings-sum_contract_amounts="<%= @contract_amounts.to_json -%>"
    data-subsidiary-contract-signings-sum_contract_amount_max="<%= @contract_amount_max -%>"
    data-subsidiary-contract-signings-avg_period_mean="<%= @avg_period_mean.to_json -%>"
    data-subsidiary-contract-signings-avg_period_mean_max="<%= @avg_period_mean_max -%>"
    data-subsidiary-contract-signings-cp_contract_amounts_per_staff="<%= @cp_contract_amounts_per_staff.to_json -%>"
    data-subsidiary-contract-signings-period_mean_ref="<%= @period_mean_ref -%>"
    data-subsidiary-contract-signings-cp_contract_amounts_per_staff_ref="<%= @cp_contract_amounts_per_staff_ref -%>"
    data-subsidiary-contract-signings-cp_department_names="<%= @cp_department_names.to_json -%>"
    data-subsidiary-contract-signings-cp_contract_amounts="<%= @cp_contract_amounts.to_json -%>">
    <h3 class="page-title">
      <%= t(".title", company: @company_name) %>
    </h3>
    <%= form_tag report_subsidiary_contract_signing_path, method: :get, class: 'form-inline' do -%>
      <%= hidden_field_tag :view_deptcode_sum, @view_deptcode_sum %>
      <% if params[:in_iframe].present? %>
        <%= hidden_field_tag :in_iframe, true -%>
      <% end %>
      <div class="form-group">
        <label class="mr-1"><%= t(".company_name") -%>：</label>
        <%= select_tag 'company_name', options_for_select(@company_short_names, @short_company_name), class: 'form-control' %>
      </div>
      <div class="form-group">
        <label class="mr-1"><%= t(".period_mean_ref") -%>：</label>
        <%= text_field_tag 'period_mean_ref', @period_mean_ref, class: 'form-control form-control2' %>
      </div>
      <div class="form-group">
        <label class="mr-1"><%= t(".contract_amounts_per_staff_ref") -%>：</label>
        <%= text_field_tag 'cp_contract_amounts_per_staff_ref', @cp_contract_amounts_per_staff_ref, class: 'form-control form-control2' %>
      </div>
      <div class="form-group mx-2">
        <%= check_box_tag 'manual_set_staff_ref', @manual_set_staff_ref, @manual_set_staff_ref, class: 'form-control' %>
        <label class="mr-1"> <%= t(".manual_set_staff_ref") -%></label>
      </div>
      <div class="form-group">
        <label class="mr-1"><%= t(".month_name") -%>：</label>
        <%= select_tag 'month_name', options_for_select(@all_month_names, @month_name), class: 'form-control' %>
      </div>
      <div><%= submit_tag t(".confirm"), class: 'btn btn-primary' %></div>
    <% end -%>

    <% unless params[:in_iframe].present? %>
      <div class="row">
        <div class="col-lg-12 p-2">
          <h5 class="text-center">至<%= @end_of_month.year -%>年<%= @end_of_month.month -%>月<%= @last_available_sign_dept_date.day -%>日,
            <%= @short_company_name -%>累计归档签约合同额<span style="color:red"><%= @sum_contract_amounts -%></span>亿元，
            累计生产合同额<span style="color:red"><%= @sum_cp_contract_amounts -%></span>亿元，
            本年平均签约周期<span style="color:red"><%= @sum_avg_period_mean.round(0) -%></span>天。</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div id="subsidiary-contract-signings-chart" style="width: 100%;height: 400px;">
          </div>
          <p class="text-lg-right">点击图标合同额可以钻取。（如果允许）</p>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-lg-12 p-2">
          <h5 class="text-center">至<%= @end_of_month.year -%>年<%= @end_of_month.month -%>月,<%= @short_company_name -%>累计生产合同额<span style="color:red"><%= @sum_cp_contract_amounts -%></span>亿元。</h5>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-lg-12">
        <div id="subsidiary-contract-production-chart" style="width: 100%;height: 400px;">
        </div>
        <p class="text-lg-right">点击图标合同额可以钻取。（如果允许）</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div id="subsidiary-contract-signings-avg-chart" style="width: 100%;height: 400px;">
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-lg-12">
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th>部门</th>
              <% @cp_department_names.each do |company_name| %>
                <th><%= company_name -%></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>平均人数</td>
              <% @cp_contract_amounts.each_with_index do |contract_amount, index| %>
                <% dept_code = @all_cp_department_codes[index] %>
                <% staff_count = @staff_per_dept_code[dept_code] %>
                <td><%= staff_count&.round(0) -%></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>本年累计合同额：本年归档的各部门业绩合同额；</p>
        <p>本年签约周期：合同归档日期 - 项目起始填报工时日期，按合同个数平均，只计算当年的归档主合同。</p>
      </div>
    </div>
  </div>
</div>


<div id="subsidiary-contract-signings-modal" class="modal" tabindex="-1" role="dialog"></div>
