<div class="row justify-content-center">
  <div class="col-lg-12">
    <h3 class="page-title">
      <%= t(".title") %>
    </h3>
    <%= link_to t('.export'), export_report_yingjianke_logins_path(format: :csv), class: 'btn text-primary' %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th><%= t(".table.index") %></th>
          <th><%= t(".table.user_info") %></th>
          <th><%= t(".table.login_time") %></th>
          <th><%= t(".table.last_access_time") %></th>
          <th><%= t(".table.stay_time") %></th>
          <th><%= t(".table.device") %></th>
          <th><%= t(".table.ip") %></th>
        </tr>
        </thead>
        <tbody>
        <% @rows.each_with_index do |r, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= r[0] %></td>
            <td><%= r[1].to_s(:db) %></td>
            <td><%= r[2].to_s(:db) %></td>
            <td><%= r[3] %></td>
            <td><%= r[4] %></td>
            <td><%= r[5] %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
